#LE{
    position: relative;
    width: 69.19%;
    height: 100%;
    display: inline-block;
}
#LEG{position: relative; width: 100%; height: 100%; max-height: 100%; max-width: 100%}
#LE-bgs{width: 10000px; height: 100%; position: absolute; left:10px; top: 0;}
.LE-bg{width: 960px; height: 100%; float: left; position: relative;}
#LE-apps{width: 510px; position: absolute; left:10px; top: 10px;}
/*#LE-legend:before{ content: 'Layout elements'; display: block; background: #e9eaeb; text-align: center; padding: 3px; font-weight: bold;}*/

.LE-app{display: none;}

.pois{position: absolute; left: 0; top: 0; width: 100%; height: 100%;z-index:0}
.poi{background: #ff0000; color: #fff; font-size: 14px;line-height:20px; font-weight:bold; width: 20px; height: 20px; text-align: center; z-index: 100;margin-left: -10px; margin-top: -10px;}
div.poi{position: absolute;}
span.poi{margin: 0 10px 15px 0; display: inline-block;}
.poi.up { margin-top: 15px;}
.poi.down { margin-top: -35px;}
.poi.left { margin-left: 15px;}
.poi.right { margin-left: -35px;}
.poi.up:after{ content: ''; display: block; position: absolute; top: -15px; left:9px; width: 2px; height: 15px; background: #ff0000;}
.poi.right:after{ content: ''; display: block; position: absolute; top: 9px; left:20px; width: 15px; height: 2px; background: #ff0000; }
.poi.down:after{ content: ''; display: block; position: absolute; top: 20px; left:9px; width: 2px; height: 15px; background: #ff0000; }
.poi.left:after{ content: ''; display: block; position: absolute; top: 9px; left:-15px; width: 15px; height: 2px; background: #ff0000; }

.LE-layer,.LE-tool-layer{position: absolute; background-repeat: no-repeat; background-position: left top;}
/*.axis, .grid, .frame, .area{ display: none; }*/
/*.hilight{ border: 1px solid #a12129; margin:-1px 0 0 -1px;}*/

#LE-legend{display: block; }

#LE-legend > h1 {
    text-align: left;
    padding-top:36px;
    padding-left:48px;

    width: auto;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 27px;
    font-family: 'DaimlerCS-Demi';
    font-weight: normal;
    margin-top: 0;
}

#LE-legend-default{
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding: 36px 0 29px 48px;
    font-weight: normal;
    text-align: left;
}
#LE-legend-info{font-size:18px;line-height:26px;color:#000000;}
#LE-legend-info h1 {font-family: "DaimlerCS-Bold";-webkit-font-smoothing : antialiased;-moz-osx-font-smoothing : grayscale;color: #000000;font-size: 18px;line-height: 26px;margin: 0;}
#LE-legend-info p{color: #000000;font-size: 18px;line-height: 26px;}
#LE-legend-title{font:20px/1.5 corporateS; color: #000;}
#LE-legend div a{ background: url(img/template/icons/arrow.gif) left 4px no-repeat; padding: 0 0 0 9px; }
#LE-legend-info img {margin: 10px 0px;}

#LE-btns{ border: 1px dashed cyan; position: absolute; top: 10px; left: 510px; right: 0; bottom: 0;}
.expand-collapse{position: absolute; width: 50px; height: 50px; bottom: 10px; right: 20px; background-color: #f3f3f4; cursor: pointer;}
.expand-collapse span{width:32px; height: 17px; background: #f3f3f4 url(img/LE/expandcollapse.png) top left no-repeat;display: block; left: 9px; top: 17px; position: absolute;}
.expand-collapse:hover span{background-position: top right;}
#LE.open .expand-collapse span{background-position: bottom left;}
#LE.open .expand-collapse:hover span{background-position: bottom right;}
.expand-collapse div.instructions{ position: absolute; right: 100%; padding: 0 10px; font: 12px/50px Arial; color: #666; white-space: nowrap; }
.toOpen.expand-collapse div.instructions{ background-color: rgb(200,200,200); background-color: rgba(255,255,255, 0.7);filter:alpha(opacity=70); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }
.expand-collapse:hover div.instructions{ color: #3683AB; }
.toOpen{ display: block; }
#LE-collapse{ display: none; }

.expand-collapse.leftSide{ right: auto; left: 20px;}
.expand-collapse.leftSide div.instructions{ right: auto; left: 100%; }

#LE.open .toOpen, #LE.open #LE-btns{ display: none; }
#LE.open #LE-collapse{ display: block; right: 10px; }

/*.LE-expand { display: block; padding: 0 0 0 9px; margin: 0 0 0 20px; background: #fff url(img/template/icons/arrow.gif) left 4px no-repeat; overflow: hidden; width: 220px; }*/

.LE-expand:hover {background-color: #F0F1F2;}
.LE-wrapper{
    margin-bottom: 20px;
}
div.LE-tool{
    height: 100%;
    width: 45px;
    padding-right: 5px;
    float: left;
    cursor: pointer;
    display:none;
}
div.LE-tool span.icon{background: url('../img/template/svg/hide.svg');background-repeat:no-repeat;	background-size: 24px auto;	background-position: left center; width: 30px; height: 24px; margin: 0; display: block; float:left;}
div.LE-tool span.title{display: block; float:left; margin-left: 2px; text-transform:uppercase;font-size:14px;line-height:20px;}

/*#LE-tools > div:first-child + div,
#LE-tools > div:first-child + div + div + div,
#LE-tools > div:first-child + div + div + div + div + div{ margin-left: 10px; }*/
div.on.LE-tool span.icon{ background-image:url('../img/template/svg/view-2.svg');}
.LE-legend-info{
    float: left;
    width: calc(100% - 60px);
    text-align: left;
}
#LE-nav{ position: relative; left: 50%; margin: 10px 0 0 -50px; height: 4px; }
.LE-nav-btn{ width: 19px; height: 4px; background-color: #c8c8c8; margin-right: 1px; float: left; }
.LE-nav-btn.active, .LE-nav-btn:hover{ background-color: #3683ab; }

#lbIframe{border:medium none;}

#LE-right{
    padding-left: 25px;
    width: 29.65%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}
.LEG_img_container {left: 0; height: 100%; width: 100%;position: absolute;    text-align: center;    top: 0;    vertical-align: middle;}

.LEG_img_container > a {   display: inline-block; vertical-align: middle;  margin: auto;    text-align: center; position: relative;}
.LEG_img_container > a:before{
    content: '\A';
    position: absolute;
    width:100%; height:100%;
    top:0; left:0;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.LEG_img_container > a > img {   float: left; }
#frame_wrapper{
    max-width: calc(100% - 120px);
    max-height: calc(100% - 120px);
    width: auto;
    height: auto;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}
#content_wrapper{
    width: 100%;
    height: 100%;
    text-align: center;
}

/* No Touch devices */
.cd-nav-trigger {
  display: none;
}

.no-touch #cd-vertical-nav {
  position: absolute;
  right: 25px;
  /* top: 218px; */
  bottom: auto;
  margin-right: 10px;
  padding-top:10px;
}

.no-touch #cd-vertical-nav.sticky {
  position: fixed;
  top:48px !important;
}
.no-touch #cd-vertical-nav li {
  text-align: right;
  list-style-type: none;
  line-height: 20px;
  position: relative;
  /* margin-bottom: 22px; */
}
.no-touch #cd-vertical-nav .form_item li {
    margin-bottom: 20px;
}
.no-touch #cd-vertical-nav a {
  display: block;
  width: 50px;
  height: 30px;
  padding-right: 5px;

  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;


  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;

  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;

}
.no-touch #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
.no-touch #cd-vertical-nav a span {
  float: right;
  display: inline-block;
}

.no-touch #cd-vertical-nav a:hover {
  background-color: #00677f;
  color: #ffffff;
  margin: 0px;
}
.no-touch #cd-vertical-nav a.popup-close:hover{
     background:url("../img/template/svg/remove-1-hover.svg") no-repeat scroll center center / 14px auto;
     cursor: pointer;
}

.no-touch #cd-vertical-nav a.is-selected:not(:hover) .cd-label {
  color: #000;
  background: #FFF;
}

.no-touch #cd-vertical-nav a:hover .cd-label,
.no-touch #cd-vertical-nav a.is-selected .cd-label
{
  display:inline;
  opacity:1;
}

.no-touch #cd-vertical-nav:hover a:not(:hover) .cd-label
{
  display:none;
}

.no-touch #cd-vertical-nav a:hover .cd-label
{
  color: #ffffff;
  z-index: 9999;
}

.no-touch #cd-vertical-nav ul.dot_items
{
/*	min-height:340px;*/
    margin-bottom: 10px;
}

.no-touch #cd-vertical-nav li.dots a.is-selected .cd-dot {
  border: 5px solid #000000;
  background-color: #ffffff;
  margin: 0;
  margin-right: 2px;
}
.no-touch #cd-vertical-nav li.dots a:hover .cd-dot{
	border: none;
	background-color: #ffffff;
    margin: 4px 7px 7px 10px;
}
.no-touch #cd-vertical-nav li.dots .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 5px;
  height: 10px;
  width: 10px;

  margin: 4px 7px 7px 10px;
  border-radius: 50%;
  background-color: #9e9e9e;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
}

/*.no-touch #cd-vertical-nav li.right-menu-item.first {
	margin-top: 150px;
}*/

.no-touch #cd-vertical-nav li.right-menu-item .cd-dot {
	position: relative;
	margin: 0;
	-webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
	-moz-transition: -moz-transform 0.2s, background-color 0.5s;
	transition: transform 0.2s, background-color 0.5s;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: 24px;
	width: 24px;
	height: 24px;


}
.no-touch #cd-vertical-nav li#add-icon .cd-dot {
	background-image: url('../img/template/svg/watchlist-add.svg');
	margin: 3px 0 0;
}
.no-touch #cd-vertical-nav li#add-icon a:hover .cd-dot {
	background-image: url('../img/template/svg/watchlist-add-w.svg');
}
.no-touch #cd-vertical-nav li#remove-icon .cd-dot {
	background-image: url('../img/template/svg/watchlist-remove.svg');
	margin: 5px 0 0;
}
.no-touch #cd-vertical-nav li#remove-icon a:hover .cd-dot {
	background-image: url('../img/template/svg/watchlist-remove-hover.svg');
}
.no-touch #cd-vertical-nav li#rate-icon .cd-dot {
	background-image: url('../img/template/svg/rate-black.svg');
	margin: 1.5px 0 0;
}
.no-touch #cd-vertical-nav li#rate-icon a:hover .cd-dot {
	background-image: url('../img/template/svg/rate-black-hover.svg');
}
.no-touch #cd-vertical-nav li#print-icon .cd-dot {
	background-image: url('../img/template/svg/print.svg');
	margin: 2px 0 0;
}
.no-touch #cd-vertical-nav li#print-icon a:hover .cd-dot {
	background-image: url('../img/template/svg/print-hover.svg');
}
.no-touch #cd-vertical-nav li#save-icon .cd-dot {
	background-image: url('../img/template/svg/pdf.svg');
	margin: 3px 0 0;
}
.no-touch #cd-vertical-nav li#save-icon a:hover .cd-dot {
	background-image: url('../img/template/svg/pdf-w.svg');
}
.no-touch #cd-vertical-nav li#download-icon .cd-dot {
	background-image: url('../img/template/svg/download.svg');
	margin: 5px 0 0;
}
.no-touch #cd-vertical-nav li#download-icon a:hover .cd-dot {
	background-image: url('../img/template/svg/download-white-hover.svg');
}
.no-touch #cd-vertical-nav li#links-icon .cd-dot {
	background-image: url('../img/template/svg/links.svg');
	margin: 5px 0 0;
}
.no-touch #cd-vertical-nav li#links-icon a:hover .cd-dot {
	background-image: url('../img/template/svg/links-hover.svg');
}
.no-touch #cd-vertical-nav li#links-icon div.popup,
.no-touch #cd-vertical-nav li#download-icon div.popup{
	position: absolute;
	width: 300px;
	height: auto;
	visibility:hidden;
	background-color: #ffffff;
	border: solid 1px #c8c8c8;
	bottom: 0;
	right: -20px;
	text-align: left;
    z-index: 9999;
}
.no-touch #cd-vertical-nav li#links-icon div.popup h2,
.no-touch #cd-vertical-nav li#download-icon div.popup h2{
    font-size: 24px;
    font-weight: normal;
    line-height: 48px;
    margin: 36px 20px 16px 40px;
	padding: 0px;
    width: 200px;

	background-repeat: no-repeat;
	background-position: left center;
	background-size: 24px;
	/*background-image: url('../img/template/svg/links.svg');	*/

}
.no-touch #cd-vertical-nav li#links-icon div.popup a.popup-close,
.no-touch #cd-vertical-nav li#download-icon div.popup a.popup-close{
	right: 40px;
}
.no-touch #cd-vertical-nav li#links-icon div.popup ul,
.no-touch #cd-vertical-nav li#download-icon div.popup ul{
    float: left;
    margin: 0 20px;
    padding: 0;
    width: calc(100% - 40px);
    padding-bottom: 50px;
}
.no-touch #cd-vertical-nav li#links-icon div.popup ul li,
.no-touch #cd-vertical-nav li#download-icon div.popup ul li{
	border-bottom: 1px solid #c8c8c8;
    border-top: 1px solid #c8c8c8;
    margin: -1px 0 0;
    padding: 14px 0;
    width: 100%;
	float: left;
	line-height: 22px;
}

.no-touch #cd-vertical-nav li#links-icon div.popup ul li a,
.no-touch #cd-vertical-nav li#download-icon div.popup ul li a{
	width: calc(100% - 40px);
	text-align: left;
	padding: 0 20px;

	color: #000000;
    float: left;
    font-size: 14px;
    height: 100%;
}

.no-touch #cd-vertical-nav li#links-icon div.popup ul li:hover,
.no-touch #cd-vertical-nav li#download-icon div.popup ul li:hover{
	background-color: #00677f;
}
.no-touch #cd-vertical-nav li#links-icon div.popup ul li:hover a,
.no-touch #cd-vertical-nav li#download-icon div.popup ul li:hover a{
	color: #ffffff;
}

.no-touch #cd-vertical-nav .cd-label {
	display:none;;
  position: absolute;
  margin: 0;
  padding: 9px 10px 7px 20px;
 /*  color: #a0928c; */
  color: #584a45;
  background-color: #00677f;
  font-size: 14px;
  line-height: 14px;
  opacity: 0;
  width: 200px;
  /*
  text-align: left;
  */
  text-align: right;
  /* white-space: nowrap; */

  bottom: 0;
  right: 35px;
  text-transform: uppercase;

}

.no-touch #cd-vertical-nav li.dots:first-child .cd-label{
	top:0px;
	bottom:auto;
}


/* Touch devices */
/*.touch .cd-nav-trigger {
  display: none;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 0.25em;
  background: rgba(255, 255, 255, 0.9);
}
.touch .cd-nav-trigger span {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #3e3947;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
}
.touch .cd-nav-trigger span::before {
  top: -9px;
}
.touch .cd-nav-trigger span::after {
  bottom: -9px;
}

.touch #cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.9);
}
.touch #cd-vertical-nav a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}
.touch #cd-vertical-nav a span:first-child {
  display: none;
}
.touch #cd-vertical-nav a.is-selected span:last-child {
  color: #d88683;
}
.touch #cd-vertical-nav.open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger {
  background-color: transparent;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span {
  background-color: rgba(62, 57, 71, 0);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  background-color: #3e3947;
  height: 3px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
}
.touch #cd-vertical-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .touch .cd-nav-trigger, .touch #cd-vertical-nav {
    bottom: 40px;
  }
}*/

#lbOverlay { position: fixed; top: 0; left: 0; z-index: 99998; width: 100%; height: 500px; }

#lbOverlay.white, .daimler #lbOverlay.white { background-color: #c8c8c8; }

#lbOverlay.red { background-color: #330000; }
#lbOverlay.green { background-color: #003300; }
#lbOverlay.blue { background-color: #011D50; }
#lbOverlay.gold { background-color: #666600; }

#lbMain { position: fixed;left: 20px; top:20px; width:calc(100% - 40px);height:calc(100% - 40px); z-index: 99999; text-align: center; background-color: #FFFFFF; /* padding-right: 40px; */ box-sizing: border-box;}
#lbMain a img { border: none; }
#lbWrapper{max-width: calc(100% - 120px);max-height: calc(100% - 120px); width: 100%; height: auto; display: inline-block;
           line-height: 1;
           vertical-align: middle;
}
    #lbOuterContainer { display:inline-block;position: relative; background-color: #FFFFFF;max-width:69.56%;max-height: 100%;width: auto;}
    #lbOuterContainer.max-width{width: 69.15%;}
    #lbOuterContainer.full-width{width: 100%;}
	#lbOuterContainer.grey { border: 0px solid #ffffff; }
	#lbOuterContainer.grey { border: 0px solid #888888; }
	#lbOuterContainer.red { border: 3px solid #DD0000; }
	#lbOuterContainer.green { border: 3px solid #00B000; }
	#lbOuterContainer.blue { border: 3px solid #5F89D8; }
	#lbOuterContainer.gold { border: 3px solid #B0B000; }

    #lbDetailsContainer {max-width:30%; display:inline-block; font-size: 18px; line-height:26px;overflow: hidden; margin: 0 auto; max-height: 100%; position: relative; vertical-align:top;}
    #lbDetailsContainer.bottom{ vertical-align: bottom;}
    #lbDetailsContainer.zero-width{position: absolute;top: 0px;right: 0px; width: 74px;}
    #lbDetailsContainer h1{
        width:auto;
        font-size:24px;
        line-height:30px;
        color:#000000;
        margin-bottom:27px;
        font-family: 'DaimlerCS-Demi';
        font-weight: normal;
        margin-top: 0;
    }
	body.smart #lbDetailsContainer h1{font-family: "Smart Bold";line-height:1.1;-webkit-font-smoothing : antialiased;-moz-osx-font-smoothing : grayscale;}
    body.smart #LE-legend-info p strong, body.smart #LE-legend-info h1{font-family: "Smart Bold";line-height:1.4;-webkit-font-smoothing : antialiased;-moz-osx-font-smoothing : grayscale;}
	body.smart #LE-legend-default{line-height:1.1; font-family: "Smart Special", Verdana;}
	body.smart #lbDetailsContainer #lbCaption p, body.smart #LE-legend-info p, body.smart #LE-tools{line-height:1.4; font-family: "Smart Special", Verdana;}
	body.smart #lbClose:hover{  background-image:url('../img/template/svg/remove-1-hover_smart.svg'); }
	#lbDetailsContainer.white { border: 0px solid #ffffff; border-top: none; }
	#lbDetailsContainer.grey { border: 0px solid #888888; border-top: none; }
	#lbDetailsContainer.red { border: 3px solid #DD0000; border-top: none; }
	#lbDetailsContainer.green { border: 3px solid #00B000; border-top: none; }
	#lbDetailsContainer.blue { border: 3px solid #5F89D8; border-top: none; }
	#lbDetailsContainer.gold { border: 3px solid #B0B000; border-top: none; }
#lbImageContainer{display: inline-block;}
#lbImageContainer, #lbIframeContainer {  margin: auto; position: relative;max-width: 100%;max-height: 100%;}
/*#lbImageContainer{margin:60px;}*/
#lbImageWrapper{margin: auto;text-align: center; display: inline-block; position: relative;z-index: 11; max-width: 100%; max-height: 100%;}
#lbImageWrapper:before{ z-index:1; content: '\A'; position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: 1px solid #c8c8c8; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
#lbIframeContainer{top:0px;}
#lbLoadingWrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #d3d3d3;
}
#lbLoading {
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
/*	background: url(../../img/template/lb/loading.gif) center no-repeat;*/
}
#lbHoverNav { position: absolute; top: 0; left: 0;  width: 100%; height:100%; z-index: 10; }
#lbImageContainer>#lbHoverNav { left: 0; }
#lbHoverNav a { outline: none; }

#lbPrev { position: absolute;	top: 50%;margin-top: -40px;	left: -50px;background-color: #000000; background-image: url("../img/template/svg/arrow-left-white.svg");background-repeat:no-repeat;background-size:25px 25px;background-position:center;  height: 80px; width: 40px; }
	#lbPrev.white:hover, #lbPrev.white:visited:hover { background-color: #00677f; }
	#lbPrev.grey:hover, #lbPrev.grey:visited:hover { background: url(img/lb/prev_grey.gif) left 15% no-repeat; }
	#lbPrev.red:hover, #lbPrev.red:visited:hover { background: url(img/lb/prev_red.gif) left 15% no-repeat; }
	#lbPrev.green:hover, #lbPrev.green:visited:hover { background: url(img/lb/prev_green.gif) left 15% no-repeat; }
	#lbPrev.blue:hover, #lbPrev.blue:visited:hover { background: url(img/lb/prev_blue.gif) left 15% no-repeat; }
	#lbPrev.gold:hover, #lbPrev.gold:visited:hover { background: url(img/lb/prev_gold.gif) left 15% no-repeat; }

#lbNext { position: absolute;top: 50%;margin-top: -40px;right: -50px;background-color: #000000; background-image: url("../img/template/svg/arrow-right-white.svg");	background-repeat:no-repeat;background-size:25px 25px;background-position:center; height: 80px; width: 40px; }
	#lbNext.white:hover, #lbNext.white:visited:hover { background-color: #00677f; }
	#lbNext.grey:hover, #lbNext.grey:visited:hover { background: url(img/lb/next_grey.gif) right 15% no-repeat; }
	#lbNext.red:hover, #lbNext.red:visited:hover { background: url(img/lb/next_red.gif) right 15% no-repeat; }
	#lbNext.green:hover, #lbNext.green:visited:hover { background: url(img/lb/next_green.gif) right 15% no-repeat; }
	#lbNext.blue:hover, #lbNext.blue:visited:hover { background: url(img/lb/next_blue.gif) right 15% no-repeat; }
	#lbNext.gold:hover, #lbNext.gold:visited:hover { background: url(img/lb/next_gold.gif) right 15% no-repeat; }

#lbPrev2, #lbNext2 { text-decoration: none; /*color: #3f9ac9;*/ }
	/*#lbPrev2.grey, #lbNext2.grey, #lbSpacer.grey { color: #3F9AC9; }*/
	#lbPrev2.red, #lbNext2.red, #lbSpacer.red { color: #620000; }
	#lbPrev2.green, #lbNext2.green, #lbSpacer.green { color: #003300; }
	#lbPrev2.blue, #lbNext2.blue, #lbSpacer.blue { color: #01379E; }
	#lbPrev2.gold, #lbNext2.gold, #lbSpacer.gold { color: #666600; }
#lbPrev2 { text-align: left;
	padding-left:11px;
	/*background: url(../img/template/icons/imo_leftarrow.gif) -5px top no-repeat;*/
	background: url(../img/template/icons/arrowPrev.gif) left center no-repeat;
}
#lbNext2 { text-align: right;
	padding-right:11px;
	/*background: url(../img/template/icons/imo_arrow_5px.gif) right top no-repeat;*/
	background: url(../img/template/icons/arrow.gif) right center no-repeat;
}
#lbPrev2:hover, #lbPrev2:visited:hover {
	/*color: #263f6a;*/
	/*background: url(../img/template/icons/imo_leftarrow.gif) -5px top no-repeat;*/
	text-decoration: underline;
}
#lbNext2:hover, #lbNext2:visited:hover {
	/*color: #263f6a;*/
	/*background: url(../img/template/icons/imo_arrow_5px.gif) right top no-repeat;*/
	text-decoration: underline;
}

#lbPrev2_Off, #lbNext2_Off { font-weight: bold; }
	#lbPrev2_Off.white, #lbNext2_Off.white { color: #CCCCCC; }
	#lbPrev2_Off.grey, #lbNext2_Off.grey { color: #CCCCCC; }
	#lbPrev2_Off.red, #lbNext2_Off.red { color: #FFCCCC; }
	#lbPrev2_Off.green, #lbNext2_Off.green { color: #82FF82; }
	#lbPrev2_Off.blue, #lbNext2_Off.blue { color: #B7CAEE; }
	#lbPrev2_Off.gold, #lbNext2_Off.gold { color: #E1E100; }

#lbDetailsData { padding: 40px 0 0 40px; margin-bottom: 0px; border: 0px solid orange; display: block;}
.bottom #lbDetailsData{
    display: inline-block;
    vertical-align: bottom;
}
    #lbDetailsData.white { color: #000000; }
	#lbDetailsData.grey { color: #333333; }
	#lbDetailsData.red { color: #620000; }
	#lbDetailsData.green { color: #003300; }
	#lbDetailsData.blue { color: #01379E; }
	#lbDetailsData.gold { color: #666600; }

#lbDetails { width: 100%; background-color: #fff;}
#lbCaption {display: block; font-size: 18px; line-height:26px;; color: #000000; border-bottom: 0px solid #AFB2B4; padding:0px 0px 60px 0px; margin: 0px; text-align: left;}
#lbCaption.inline_zoom{padding-bottom:183px;}
#lbCaption.bottom{display: block; padding-bottom: 94px; }
/*#lbNumberDisplay {text-align: center; border: 1px solid blue;}*/
#lbNavDisplay { display: block; border-top: 1px solid #AFB2B4; margin: 0 25px; padding: 9px 0 19px 0;}
#lbNavDisplay td{ color: #606061;}
#copyspan{ background-color:#fff; display:none; text-align:left; padding:10px 20px 20px 15px; margin:0px 10px 0px 10px; }
#innercopy{
	/*height:10px;*/
	background-color:#fff;
	display:block;
	text-align:left;
	/*margin:11px 20px 0 20px;*/
	padding:10px 0px 0px 0px;
	border-top:1px solid #c8c8c8;
}
#lbClose {  cursor:pointer;height: 24px; position: absolute; right: 48px; top: 49px; width: 24px;background: rgba(0, 0, 0, 0) url("../img/template/svg/remove-1.svg") no-repeat;background-size:24px auto;background-position:center;}
#lbClose:hover{background-image:url('../img/template/svg/remove-1-hover.svg');}
#lbEsc{ text-transform: uppercase;  position: absolute;right: 47px; top: 92px;line-height: 1;}
#lbPlay { width: 64px; height: 28px; margin-bottom: 1px; }

#lbPause { width: 64px; height: 28px; margin-bottom: 1px; }

#lbNumberDisplay{bottom: -30px;  left: 50%;  margin-left: -28px;  position: absolute;}

.slider_block.active {background-color: #000000;}
.slider_block { background-color: #9e9e9e;display: block; float: left; height: 4px; margin-right: 10px; width: 20px;cursor:pointer;}
.slider_block:hover{background-color:#00677f;}
.slider_block.active:hover {background-color: #000000;}

#lbImage{max-width: 100%; max-height: 100%;}
.zoomImg{cursor:move;}

#inline_zoom_addition{
    position:absolute;
    left:40px;
    bottom:11px;
    padding: 10px 20px 20px 42px;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    background-image: url("../img/template/svg/zoom-area-in.svg");
    background-repeat: no-repeat;
    background-size: 24px auto;
    background-position-y: 10px;
}

#lbIframe { margin: auto; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#imageCounter{
    background-image: url(../img/template/svg/send-to-back.svg);
    background-repeat: no-repeat;
    background-size: 23px 23px;
    position: absolute;
    bottom: 36px;
    padding-left: 36px;
     line-height: 1;
}
.curentCount{font-size: 24px; color: black}
.count{ font-size: 14px; color: #9e9e9e }

@media only screen and (max-width: 1280px) {
	/*#lbDetailsContainer{width:400px;}*/

    /*
	#lbDetailsData{padding: 60px 100px 10px 20px;}
	#lbImageContainer{margin:49px;}
    */

    #lbImageWrapper{margin:auto;}

	#lbCaption.inline_zoom{padding-bottom:210px;}

	#lbPrev{left: -44px;}
	#lbNext {right: -44px;}
}

@media only screen and (max-width: 1270px) {
	/*#lbImageContainer{ margin-left:3.8%;margin-right:3.8%;}*/
	 /*#lbDetailsContainer{width:31.25vw;}*/
}

/*! jQuery UI - v1.10.4 - 2016-06-03
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}
.ui-selectable-helper {
	position: absolute;
	z-index: 100;
	border: 1px dotted black;
}
.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
}
.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-noicons {
	padding-left: .7em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
}
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}
.ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	line-height: normal;
	margin-right: .1em;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible; /* removes extra width in IE */
}
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
	text-decoration: none;
}
/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
	width: 2.2em;
}
/* button elements seem to need a little more width */
button.ui-button-icon-only {
	width: 2.4em;
}
.ui-button-icons-only {
	width: 3.4em;
}
button.ui-button-icons-only {
	width: 3.7em;
}

/* button text element */
.ui-button .ui-button-text {
	display: block;
	line-height: normal;
}
.ui-button-text-only .ui-button-text {
	padding: .4em 1em;
}
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
	padding: .4em;
	text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 1em .4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 2.1em .4em 1em;
}
.ui-button-text-icons .ui-button-text {
	padding-left: 2.1em;
	padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.ui-button {
	padding: .4em 1em;
}

/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px;
}
.ui-button-icon-only .ui-icon {
	left: 50%;
	margin-left: -8px;
}
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
	left: .5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
	right: .5em;
}

/* button sets */
.ui-buttonset {
	margin-right: 7px;
}
.ui-buttonset .ui-button {
	margin-left: 0;
	margin-right: -.3em;
}

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}
.ui-dialog {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
}
.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}
.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 20px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: .5em;
	padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}
.ui-dialog .ui-resizable-se {
	width: 12px;
	height: 12px;
	right: -5px;
	bottom: -5px;
	background-position: 16px 16px;
}
.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}
.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	outline: none;
}
.ui-menu .ui-menu {
	margin-top: -3px;
	position: absolute;
}
.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	width: 100%;
	/* support: IE10, see #8844 */
	list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
.ui-menu .ui-menu-divider {
	margin: 5px -2px 5px -2px;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: 2px .4em;
	line-height: 1.5;
	min-height: 0; /* support: IE7 */
	font-weight: normal;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}

.ui-menu .ui-state-disabled {
	font-weight: normal;
	margin: .4em 0 .2em;
	line-height: 1.5;
}
.ui-menu .ui-state-disabled a {
	cursor: default;
}

/* icon support */
.ui-menu-icons {
	position: relative;
}
.ui-menu-icons .ui-menu-item a {
	position: relative;
	padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
	position: absolute;
	top: .2em;
	left: .2em;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
	position: static;
	float: right;
}
.ui-progressbar {
	height: 2em;
	text-align: left;
	overflow: hidden;
}
.ui-progressbar .ui-progressbar-value {
	margin: -1px;
	height: 100%;
}
.ui-progressbar .ui-progressbar-overlay {
	background: url("images/animated-overlay.gif");
	height: 100%;
	filter: alpha(opacity=25);
	opacity: 0.25;
}
.ui-progressbar-indeterminate .ui-progressbar-value {
	background-image: none;
}
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}
.ui-spinner {
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0;
	vertical-align: middle;
}
.ui-spinner-input {
	border: none;
	background: none;
	color: inherit;
	padding: 0;
	margin: .2em 0;
	vertical-align: middle;
	margin-left: .4em;
	margin-right: 22px;
}
.ui-spinner-button {
	width: 16px;
	height: 50%;
	font-size: .5em;
	padding: 0;
	margin: 0;
	text-align: center;
	position: absolute;
	cursor: default;
	display: block;
	overflow: hidden;
	right: 0;
}
/* more specificity required here to override default borders */
.ui-spinner a.ui-spinner-button {
	border-top: none;
	border-bottom: none;
	border-right: none;
}
/* vertically center icon */
.ui-spinner .ui-icon {
	position: absolute;
	margin-top: -8px;
	top: 50%;
	left: 0;
}
.ui-spinner-up {
	top: 0;
}
.ui-spinner-down {
	bottom: 0;
}

/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
	/* need to fix icons sprite */
	background-position: -65px -16px;
}
.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: text;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border-width: 2px;
}

/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff;
	color: #222222;
}
.ui-widget-content a {
	color: #222222;
}
.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #cccccc url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
}
.ui-widget-header a {
	color: #222222;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: #dadada url("images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #212121;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa;
	background: #ffffff url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #212121;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #fbf9ee url("images/ui-bg_glass_55_fbf9ee_1x400.png") 50% 50% repeat-x;
	color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #fef1ec url("images/ui-bg_glass_95_fef1ec_1x400.png") 50% 50% repeat-x;
	color: #cd0a0a;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #cd0a0a;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #cd0a0a;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
}
.ui-widget-header .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
}
.ui-state-default .ui-icon {
	background-image: url("images/ui-icons_888888_256x240.png");
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url("images/ui-icons_454545_256x240.png");
}
.ui-state-active .ui-icon {
	background-image: url("images/ui-icons_454545_256x240.png");
}
.ui-state-highlight .ui-icon {
	background-image: url("images/ui-icons_2e83ff_256x240.png");
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url("images/ui-icons_cd0a0a_256x240.png");
}

/* positioning */
.ui-icon-blank { background-position: 16px 16px; }
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 4px;
}

/* Overlays */
.ui-widget-overlay {
	background: #aaaaaa;
	opacity: .3;
	filter: Alpha(Opacity=30);
}
.ui-widget-shadow {
	margin: -8px 0 0 -8px;
	padding: 8px;
	background: #aaaaaa;
	opacity: .3;
	filter: Alpha(Opacity=30);
	border-radius: 8px;
}
