.content_content_text * {-ms-text-size-adjust:100%; -webkit-text-size-adjust: none; -webkit-text-resize: 100%; text-resize: 100%;}
.content_content_text img {border: 0 !important; outline: none !important;}
.content_content_text table {border-collapse: collapse; mso-table-lspace: 0px; mso-table-rspace: 0px;}
.content_content_text td, a, span {border-collapse: collapse !important; mso-line-height-rule: exactly !important;	}
.content_content_text a{outline:none; text-decoration:none; color:#00677f;}
.content_content_text a:hover{text-decoration:underline !important;}
.content_content_text .active a:hover {text-decoration:none !important;}
.content_content_text .active:hover{opacity:0.8;}
.content_content_text .active{
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

br.snippet_sep{ display:inline !important;}
.mce-i-butotn-href:before {
   content: "href";
    font-size: 9px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 16px;
    vertical-align: text-top;
	margin-left: -4px;
}
.header_m img{
    width: 480px;
    height: auto;
}

@media screen
{
    .content_content_text{
        color: black;
    }
	.content_content_text .webfont14
	{
		font: 14px "DaimlerCSRegular", Arial !important;
		line-height: 20px !important;
		font-weight: normal !important;
	}
	.content_content_text .webfont16
	{
		font: 16px "DaimlerCSRegular", Arial !important;
		line-height: 22px !important;
		font-weight: normal !important;
	}
	.content_content_text .webfont18-30
	{
		font: 18px "DaimlerCSRegular", Arial !important;
		line-height: 30px !important;
		font-weight: normal !important;
	}
	.content_content_text .webfont18-26
	{
		font: 18px "DaimlerCSRegular", Arial !important;
		line-height: 26px !important;
		font-weight: normal !important;
	}
	.content_content_text .webfont_18-26
	{
		font: 18px "DaimlerCARegular", Arial !important;
		line-height: 26px !important;
		font-weight: normal !important;
	}
	.content_content_text .webfont14-14
	{
		font: 14px "DaimlerCSRegular", Arial !important;
		line-height: 14px !important;
		font-weight: normal !important;
	}
	.content_content_text .webfont36
	{
		font: 36px "DaimlerCSRegular", Arial !important;
		line-height: 42px !important;
		font-weight: normal !important;
	}
	.content_content_text .webfont24
	{
		font: 24px "DaimlerCSRegular", Arial !important;
		line-height: 30px !important;
		font-weight: normal !important;
	}
	.content_content_text .webfont14-16
	{
		font: 14px "DaimlerCSRegular", Arial !important;
		line-height: 16px !important;
		font-weight: normal !important;
	}
	.content_content_text .ul
	{
		font: 16px "DaimlerCSRegular", Arial !important;
		line-height: 22px !important;
		font-weight: normal !important;
	}
	.content_content_text a
	{
		outline:none;
		text-decoration:none !important;
		color:#00677f;
	}
	.content_content_text a:hover
	{
		text-decoration:none !important;
	}
	.content_content_text a[x-apple-data-detectors]{
		color: inherit !important;
		text-decoration: none !important;
		font-size: inherit !important;
		font-family: inherit !important;
		font-weight: inherit !important;
		line-height: inherit !important;
	}
	.content_content_text table td {border-collapse: collapse !important;}
	.content_content_text .ExternalClass, .ExternalClass a, .ExternalClass span, .ExternalClass b, .ExternalClass br, .ExternalClass p, .ExternalClass div
	{
		line-height:inherit;
	}
	.content_content_text p,
	.content_content_text br,
	.content_content_text table td,
	.content_content_text div,
	.content_content_text span {
		font-weight: normal !important;
		font-family: "DaimlerCSRegular", Arial !important;

	}
	.content_content_text strong,
	.content_content_text b {
		font-weight: bold !important;
		font-family: "DaimlerCSBold", Arial !important;
	}
	.content_content_text span.MsoHyperlink {
		mso-style-priority:99;
		color:inherit;
	}
	.content_content_text span.MsoHyperlinkFollowed {
		mso-style-priority:99;
		color:inherit;
	}
	.content_content_text strong, b {
		font-weight: bold !important;
		font-family: "DaimlerCSBold", Arial !important;
	}
	.content_content_text a[x-apple-data-detectors]{color: inherit !important; text-decoration: none !important;}
	.content_content_text a img{border:none;}
	.content_content_text table td{mso-line-height-rule:exactly;}
	.content_content_text .ExternalClass,
	.content_content_text  .ExternalClass a,
	.content_content_text  .ExternalClass span,
	.content_content_text .ExternalClass b,
	.content_content_text .ExternalClass br,
	.content_content_text .ExternalClass p,
	.content_content_text .ExternalClass div{line-height:inherit;}
    #tinymce .snippet_sep{ display: block !important;}
    #tinymce table:not(.wrapper):not(.flexible){ margin-left: 3px;}
	@media only screen and (max-width:479px) {
		/*default style*/
		.content_content_text table[class="flexible"]{width:100% !important;}
		.content_content_text *[class="hide"]{display:none !important; width:0 !important; height:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important;}
		.content_content_text span[class="db"]{display:block !important;}
		.content_content_text td[class="img-flex"] img{width:100% !important; height:auto !important;}
		.content_content_text td[class="aligncenter"]{text-align:center !important;}
		.content_content_text tr[class="table-holder"]{display:table !important; width:100% !important;}
		.content_content_text th[class="thead"]{display:table-header-group !important; width:100% !important;}
		.content_content_text th[class="trow"]{display:table-row !important; width:100% !important;}
		.content_content_text th[class="tfoot"]{display:table-footer-group !important; width:100% !important;}
		.content_content_text th[class="flex"]{display:block !important; width:100% !important;}
		/*custom style*/
		.content_content_text td[class="img-flex"]{display:table-cell !important;}
		.content_content_text td[class="holder-01"]{padding:41px 10px 0 20px !important;}
		.content_content_text td[class="holder-01-2"]{padding:41px 10px 0 0 !important;}
		.content_content_text td[class="holder-02"]{padding:11px 18px 26px !important;}
		.content_content_text td[class="footer"]{padding:30px 20px !important;}
		.content_content_text td[class="indent-top-25"]{padding-top:25px !important;}
		.content_content_text td[class="indent-top-32"]{padding-top:32px !important;}
		.content_content_text td[class="indent-top-57"]{padding-top:57px !important;}
		.content_content_text td[class="indent-bottom-23"]{padding-bottom:23px !important;}
		.content_content_text td[class="indent-bottom-32"]{padding-bottom:32px !important;}
		.content_content_text td[class="indent-width-16"]{padding-left:20px !important; padding-right:16px !important; font-size:14px !important; line-height:16px !important;}
		.content_content_text td[class="h-auto"]{height:auto !important;}
	}
	@media only screen and (min-width : 321px) and (max-width : 479px) {
		/*default style*/
		.content_content_text table[class="wrapper"]{min-width:320px !important;}
		.content_content_text table[class="flexible"]{width:100% !important;}

		.content_content_text td[class="img-flex"] img{width:100% !important; 	height:auto !important;}
		.content_content_text td[class="em_hide"],
		.content_content_text br[class="em_hide"] {display: none !important;}
		.content_content_text div[class="show"] {display: block !important; margin: 0 !important; padding: 0 !important; overflow: visible !important; width: auto !important; max-height: inherit !important;}
		.content_content_text td[class="aligncenter"]{text-align:center !important;}
		.content_content_text th[class="flex"]{display:block !important; width:100% !important;}
		.content_content_text tr[class="table-holder"]{display:table !important; width:100% !important;}
		.content_content_text th[class="thead"]{display:table-header-group !important; width:100% !important;}
		.content_content_text th[class="trow"]{display:table-row !important; width:100% !important;}
		.content_content_text th[class="tfoot"]{display:table-footer-group !important; width:100% !important;}
		/*custom style*/
		.content_content_text td[class="header"]{padding:43px 39px 34px !important;}
		.content_content_text td[class="holder-01"]{padding:30px 20px 0 !important;}
		.content_content_text td[class="holder-02"]{padding:7px 18px 36px !important;}
		.content_content_text td[class="footer"]{padding:21px 20px 35px !important;}
		.content_content_text td[class="indent-top-57"]{padding-top:57px !important;}
		.content_content_text td[class="h-auto"]{height:auto !important; padding:0 0 0px !important;}
		.content_content_text img[class="em_width_340"] {width: 340px !important; height: 250px !important; 	max-width: 100% !important;}
		.content_content_text img[class="em_full_width"] {width: 100% !important; height: auto !important; max-width: 100% !important;}
		.content_content_text a[x-apple-data-detectors]{color: inherit !important; text-decoration: none !important; font-size: inherit !important; font-family: inherit !important; font-weight: inherit !important; line-height: inherit !important;}
	}
	@media only screen and (-webkit-min-device-pixel-ratio : 2) and (device-width: 683px) and (orientation: landscape), screen and (device-pixel-ratio : 1.5) and (device-width: 400px) and (orientation: portrait){
		.content_content_text td[class="em_hide"],
		.content_content_text br[class="em_hide"] {display: none !important;}
		.content_content_text div[class="show"] {display: block !important; margin: 0 !important; padding: 0 !important; overflow: visible !important; width: auto !important; max-height: inherit !important;}
		.content_content_text img[class="em_width_340"] {width: 340px !important; height: 250px !important; max-width: 100% !important;}
		.content_content_text img[class="em_full_width"] {width: 100% !important; height: auto !important; max-width: 100% !important;}
		.content_content_text a[x-apple-data-detectors]{color: inherit !important; text-decoration: none !important; font-size: inherit !important; font-family: inherit !important; font-weight: inherit !important; line-height: inherit !important;}
	}
	@media only screen and (max-width : 320px) {
		/*default style*/
		.content_content_text table[class="wrapper"]{min-width:320px !important;}
		.content_content_text table[class="flexible"]{width:100% !important;}
		.content_content_text td[class="img-flex"] img{width:100% !important; 	height:auto !important;}
		.content_content_text td[class="em_hide"],
		.content_content_text br[class="em_hide"] {display: none !important;}
		.content_content_text div[class="show"] {display: block !important; margin: 0 !important; padding: 0 !important; overflow: visible !important; width: auto !important; max-height: inherit !important;}
		.content_content_text td[class="aligncenter"]{text-align:center !important;}
		.content_content_text th[class="flex"]{display:block !important; width:100% !important;}
		.content_content_text tr[class="table-holder"]{display:table !important; width:100% !important;}
		.content_content_text th[class="thead"]{display:table-header-group !important; width:100% !important;}
		.content_content_text th[class="trow"]{display:table-row !important; width:100% !important;}
		.content_content_text th[class="tfoot"]{display:table-footer-group !important; width:100% !important;}
		/*custom style*/
		.content_content_text td[class="header"]{padding:43px 39px 34px !important;}
		.content_content_text td[class="holder-01"]{padding:30px 20px 0 !important;}
		.content_content_text td[class="holder-02"]{padding:7px 18px 36px !important;}
		.content_content_text td[class="footer"]{padding:21px 20px 35px !important;}
		.content_content_text td[class="indent-top-57"]{padding-top:57px !important;}
		.content_content_text td[class="h-auto"]{height:auto !important; padding:0 0 0px !important;}
		.content_content_text img[class="em_width_340"] {width: 340px !important; height: 250px !important; 	max-width: 100% !important;}
		.content_content_text img[class="em_full_width"] {width: 100% !important; height: auto !important; max-width: 100% !important;}
		.content_content_text a[x-apple-data-detectors]{color: inherit !important; text-decoration: none !important; font-size: inherit !important; font-family: inherit !important; font-weight: inherit !important; line-height: inherit !important;}
	}
