#hbA{
	width: 960px; /* 100% ? */
	position: relative;
	height: 300px;
	overflow: hidden;
	padding-bottom: 14px;
	display: block;
}
.hBlockContainer{
	position: absolute;
	/*position: relative;*/
	overflow: hidden;
	/*width: auto;*/
	width: 10000px;
	/*height: auto;*/
	height: 300px;
	left:0;
}
.hBlockContainer a{ display: block; }
.hBlockContainer img{
	display: block;
	float: left;
	border: none;
}
.hBlockPages{
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -50px;
	height: 4px;
}
.hBlockPage{
	width: 19px;
	height: 4px;
	background-color: #d2d4d6;
	/*display: inline-block;*/
	margin-right: 1px;
	float: left;
}
.hBlockPageActive, .hBlockPage:hover{
	background-color: #3683ab;
}
/* ACCORDION BLOCK */
div.hbC-container{display: block; position: relative; width: 746px;font: 11px Arial; text-align: left; overflow: hidden;}
div.hbC-title{display: block; padding: 0; margin: 0 0 10px 0; font: 20px/1 corporateS; color:#000; width: 100%;}
div.hbC-details{display: none; float: left; width: 474px; margin-right: 10px; background: #f4f4f5; padding: 0 10px 20px 10px;}
div.hbC-details img{display: block; border: 0px solid #e0e1e4; width: 492px; height: auto; margin: 0 0 20px -10px;}
div.hbC-details a.arrow{ background: url(../img/template/icons/arrow.gif) left 4px no-repeat; padding-left: 7px; }
ul.hbC-menu{list-style: none; display: block; float: right; width: 242px; margin: 0 !important; list-style-type: none; padding: 0; border-top: 1px solid #afb2b4;} 
ul.hbC-menu li{ display: block; margin: 0; cursor: pointer; width: 242px;}
ul.hbC-menu li img{display: none; padding: 0px; background: #3683ab; width: 240px; margin:10px 0 0 0; border: 1px solid #3683ab; overflow: hidden; vertical-align: top;}
ul.hbC-menu li.hbC-active img{display: block; }
ul.hbC-menu li a{ width: 232px;
	font: 11px/1.5 Arial;
	display: block;
	background: url(../img/template/icons/arrow.gif) left 12px no-repeat;
	border-bottom: 1px solid #D2D4D6;
	padding: 7px 1px 7px 9px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0px;
}
ul.hbC-menu li.hbC-active a,
.hbC-mo{
	color: #fff;
	background: #3683ab !important;
	border-bottom: none !important;
	white-space: normal !important;
	/*padding-top: 14px;*/
}
ul.hbC-menu li.hbC-active a:hover,
.hbC-mo:hover{
	text-decoration: none;
	color: #fff;
}
ul.hbC-menu li div.hbC-footer{ display: none; width: 242px; height: 10px; background: #fff; border-bottom: 1px solid #D2D4D6; }
ul.hbC-menu li.hbC-active div.hbC-footer{ display: block; }
.hidden{ display: none !important; }
/* ========================= HOME BLOCKS B ========================= */
.hbB-container{
	width:  756px;
	height: 513px;
	overflow: hidden;
	position: relative;
	margin-top: 42px;
	margin-bottom: 16px;
}
.hbB-title{font:20px/1 corporateS; color: #000; margin-bottom: 4px;}
.hbB-container div.hbB-pages{
	position: absolute;
	width: 12000px;
	height: 484px;
	left: 0;
}
.hbB-container div.hbB-page{
	width: 756px;
	height: 484px;
	display: block;
	float: left;
}
.hbB{
	width:  242px;
	height: 232px;
	margin: 0 10px 10px 0;
	float: left;
	background: #f4f4f5;
}
.hbB:hover{
	background: #3683ab;
}
.hbB img{
	width: 240px;
	height: 160px;
	display: block;
	border: 1px solid #d2d4d6;
}
.hbB:hover img{
	border: 0px solid #3683ab;
	color: #3683ab;
}
.hbB > a{
	display: block;
	outline: none;
}
.hbB div.hbB-contents{
	text-align: left;
}
.hbB div.hbB-contents a{
	padding: 20px;
	background: url(../img/template/icons/arrow.gif) 10px 26px no-repeat;
	display: block;
	width: 202px;
	overflow: hidden;
	text-overflow: clip;
	height: 26px;
	position: absolute;
	line-height: 1.5;
}
.hbB:hover div.hbB-contents a{
	color: #fff;
	text-decoration: none;
	background: none;
}

.hbB-nav{
	display: block;
	position: absolute;
	bottom: 0px;
	overflow: hidden;
	left: 50%;
}
 .hbB-nav-btn{
	width: 19px;
	height: 4px;
	background-color: #d2d4d6;
	margin-right: 1px;
	float: left;
	display: block;
}
.hbB-nav-btn-active, .hbB-nav-btn:hover{
	background-color: #3683ab;
}
/* BRAND BLOCKS */
.brand_thumbs{width: 746px; display: block; margin-bottom: 6px;overflow: hidden;}
.brand_thumbs h2{font: 20px/1 corporateS !important;}
.brand_thumbs div{width:252px;float: left; margin: 6px 0 16px 0;}
.brand_thumbs div + div + div{width:242px;}
.brand_thumbs a img {border: 1px solid #D2D4D6; margin-bottom: 6px;	}
.brand_thumbs a + a {display: block;
	font: 11px/1.5 Arial,sans-serif; text-decoration: none;
	background: url(../img/template/icons/arrow.gif) 0px 6px no-repeat;
	padding: 0px 0px 0px 8px; 
}

#recent_topics {
	clear: both;
}