/* PDF is generated with dompdf. It support CSS 2.1 */

html,body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html{
	height:100%;
	width: 100%;
}

table, caption, tbody, tfoot, thead, tr, th, td     {
    vertical-align : middle;
}

a {
    color: #000;
    text-decoration: none;
}


table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

sup {
	height:0;
	line-height:1;
	vertical-align:baseline;
	position:relative;
	font-size:0.6em;
	bottom: .7em;
}
strong, b {
    font-weight: normal;
    font-family: 'smart_bold';
    font-weight: 700;
}
h1{
    font-size: 24px;
/*    font-size: 17.5pt;*/
}

body {
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
	background-color: #ffffff;
	color: #000;
	font-family: 'smart_light', "Verdana";
/*    font-size: 18px;*/
/*    line-height: 26px;*/
    font-size: 12pt;
    line-height: 15pt;
	width: 100%;
    text-align: left;
	margin-top: 70px;
    margin-bottom: 148px;
    margin-left:70px;
	margin-right:70px;
    font-weight: 400;
}

p{
    display: block;
    line-height: 15pt;
    font-size: 12pt;
/*    line-height: 24px;*/
}
p strong{
    line-height: 14pt;
    font-size: 12.5pt;
}
/*** HEADER ***/
.header{
    /*padding-bottom: 6px;*/
}

/*.header_info{
    border-bottom: 1px solid black;
    padding: 0;
}
.header_info p{
    font-size: 14px;
    line-height: 18px;
}*/
.pdf-header{
    font-size: 24px;
    /*font-size: 17.5pt;*/
    display: inline-block;
    width: 455px;
    text-align: left;
    margin: 80.7px 155px 0 0;
    font-weight: normal;
    font-family: 'smart_bold';
    font-weight: 700;
}
.column{
    margin-top: 0px;
    padding: 0px;
    position: relative;
}
.column img{
/*    height: 166px;*/
    width: 122px;
    position: absolute;
    top: -137px;
    right: -21px;
}
/*.column.left{
      margin-left: 20px;
}*/

/*** CONTENT ***/
.pdf-body{
    padding: 0px;
    margin-top: 50px
}
.date-and-rating{
/*    font-size: 14px;*/
    font-size: 10pt;
}
.date-and-rating .date{
    margin-bottom: 0;
/*    font-size: 14px;*/
    font-size: 10pt;
    display: inline-block;
    max-width: 200px;
    width: 200px;
}
.date-and-rating .stats{
    margin-left: 160px;
    display: inline-block;
    width: 332px;
    text-align: right;
    vertical-align: bottom;
}
.date-and-rating .stats span{
    margin-right: 10px;
/*    font-size: 14px;*/
        font-size: 8pt;
}
.date-and-rating .stats span:last-of-type{
    margin-right: 0;
}

.date-and-rating .stats span img{
    margin-right: 7px;
    margin-top: 12px;
}
.date-and-rating .stats span.comments img{
        margin-top: 15px;
}
.date-and-rating .stats span.views img{
        margin-top: 17px;
}
#pdf-tags{
    position: relative;
}
#pdf-tags img{
    height: 12px;
    top: 2px;
    position: absolute;
}
#pdf-tags span{
    margin-left: 15px;
/*    font-size: 14px;*/
/*    line-height: 20px;*/
    font-size: 8pt;
    line-height: 10pt;
}

/*#content_main{
    padding-top: 25px;
}*/

p img,
div.img img{
    max-width: 492px;
    max-height: 345px;
    border: 1px solid #CCCCCC;
}
#content_main > h1,
#content_main > h1 > span{
    line-height: 30px;
    margin-bottom: 20px;
    font-family: 'smart_bold';
    font-weight: 700;
    font-size: 24px;
/*        font-size: 17.5pt;*/
}
#content_main > h1 > strong{
/*    font-size: 24px;*/
            font-size: 17.5pt;
}
#content_main h1 > small,
#content_main h1 > small>strong
#content_main h1 > span > small,
#content_main h1 > strong > small{
    font-size: 18px;
    line-height: 24px;
/*    font-size: 14pt;*/
/*    line-height: 18pt;*/
    font-family: 'smart_bold';
    font-weight: 700;
}

p.subline,
p.subline>strong
p.subline>span{
    font-size: 18px ;
    line-height: 24px ;
/*    font-size: 14pt;
    line-height: 18pt;*/
}
p.subline>strong{
    font-size: 19px;
}
p.subline{
    margin-bottom:5px;
}
p.notice,
p.notice>span{
/*    font-size: 14px;
    line-height: 1.4;*/
	font-size: 8pt;
    line-height: 10pt;
}
p.notice{
    margin-bottom: 10px;
}

p,
div.img,
ul,
ol,
table,
.hotspot_descr{
    margin-bottom: 25px;
/*    margin-bottom: 13pt;*/
}
p.no-margin{
     margin-bottom: 0px;

}
div.img.img_hotspot{
    margin-bottom: 10px;
}
.img img{
    margin-top: 25px;
}
.img img:first-of-type{
    margin-top: 0;
}
.img .text,
.hotspot_descr{
/*    font-size: 14px;*/
/*    line-height: 20px;*/
    font-size: 10pt;
    line-height: 13pt;

}
.img .text{
    padding-top: 10px;
}
.text p,
.hotspot_descr p{
/*    font-size: 14px;*/
/*    line-height: 20px;*/
    margin-bottom: 20px;
}
.text strong,
.hotspot_descr strong,
.text p,
.hotspot_descr p{
/*    font-size: 14px;*/
/*    line-height: 20px;*/
        font-size: 10pt;
        line-height: 13pt;
}
.img .text h1{
    display: none;
}
.text p:last-of-type,
.hotspot_descr p:last-of-type{
    margin-bottom: 0;
}
img.anchor_nav{
    display: none !important;
}

/*** FOOTER ***/

.footer div{
    padding: 10px 0px 0;
/*    font-size: 14px;*/
        font-size: 8pt;
        line-height: 10pt;
}


/*** DOWNLOAD CONTENT***/
div.downloadDiv {
    height: auto;
    margin: 0 auto;
    padding-bottom: 100px;
    width: 740px;
    page-break-before: always;
}

div.downloadCol1 {
    display: inline-block;
    margin: auto;
    width: 580px;
    height: auto;
    background-color: #f0f0f0;
    margin-bottom: 25px;
    padding-bottom: 39px;
}

.downloadCol1 div.image {
    width: 480px;
    height: 320px;
    margin: 50px 50px 20px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 320px;
    overflow: hidden;
    background-color: #e6e6e6;
}

.downloadCol1 div.image img {
    max-width: 480px;
    max-height: 320px;
}

div.link {
    width: 480px;
    height: auto;
    margin: 0px 50px 0px 50px;
    line-height: 30px;
/*    font-size: 24px;*/
    font-size: 17.5pt;
    word-wrap: break-word;
}

div.date {
    width: 480px;
/*    font-size: 14px;*/
    font-size: 8pt;
    line-height: 30px;
    margin: 0 50px;
}
div.tags {
    width: 480px;
/*    font-size: 14px;*/
/*    line-height: 20px;*/
    font-size: 8pt;
    line-height: 10pt;
    margin: 0 50px;
}
div.downloadCol2 {
    width: 540px;
}

div.text-item {
    width: 100%;
    height: auto;
    float: left;
    margin: 30px 0 0 0;
    color: #000000;
/*    font-size: 18px;*/
    font-size: 10pt;
    line-height: 30px;
    padding: 0 0 0 20px;
}

div.text-item:first-of-type {
    margin-bottom: 30px;
    margin-top: 0;
}

div.text-item label {
    width: 100%;
    height: auto;
    display: inline-block;
    color: #969da3;
/*    font-size: 14px;*/
/*    line-height: 20px;*/
        font-size: 8pt;
    line-height: 10pt;
}

div.table-item {
    width: 100%;
    height: auto;    margin: 0;
    color: #000000;
/*    font-size: 18px;*/
    font-size: 10pt;
    line-height: 30px;
    padding: 0 0 0 20px;
    border-bottom: 1px solid #CCCCCC;
}

div.table-item label {
    width: 120px;
    margin-right: 20px;
    height: auto;
    display: inline-block;
    color: #969da3;
/*    font-size: 14px;*/
        font-size: 8pt;
    line-height: 30px;
}

/*** TABLE ***/

table{
    width: 100% !important;
    border-bottom: 2px solid #323232;
    padding: 0;
    font-family: 'smart_light', Verdana;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
	/*page-break-inside:avoid;*/
    height: auto !important;
}

td {
    padding: 5px 5px 5px 10px;
/*    font-size: 14px;*/
/*    line-height: 20px;*/
    font-size: 10pt !important;
    line-height: 13pt !important;
    vertical-align: top !important;
    width:auto !important;
}

table tr:first-of-type td,
th td{
    color: #000;
    font-family: 'smart_bold', Verdana;
    font-weight: 700;
    text-align: inherit;
}
table tr td{
    border-bottom: 1px solid #cccccc;
}

table tr:first-of-type td{
    border-bottom-color: #323232 !important;
    border-bottom-width: 1.9px !important;
}

table tr:last-of-type td{
    border-bottom: none;
}

td strong,
td span{
/*    font-size: 14px;*/
        font-size: 10pt;
        line-height: 12pt;
}
/*tr:nth-child(even) td{
    background-color: #f0f0f0;
}*/

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ul,
ol {
    list-style-position: outside;
}

ol{
    margin-left: 50px;
}
li{
    line-height: 15pt;
    vertical-align: middle;
    border: 1px solid transparent;
}
ul{
    margin-left: 30px;
}
ul li{
    list-style: none;
    position: relative;
    padding-left: 20px;
}
ul li:before{
    display: block;
    width: 7px;
    height: 25px;
    content: '\003e';
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'smart_light';
}

body.smart .middle_page_text a {
    color: #000;
    text-decoration: underline;
}
.breaker {
    border-top: 1px solid black;
    position: fixed;
    bottom: 138px;
    margin-left:49px;
    margin-right: 49px;
    padding-top: 31px;
}
.breaker p{
/*    font-size: 12px;
    line-height: 16px;*/
    font-size: 8pt;
    line-height: 10pt;
    margin-bottom: 0;
    margin-left:21px;
}
div.img{
    position: relative;
}
.pois {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.poi{
    position: absolute;
    background: #E6007D;
    color: #fff;
/*    font-size: 14px;*/
/*    line-height:20px; */
    font-size: 10pt;
    font-weight: 13pt;
    font-weight:bold;
    width: 20px;
    height: 20px;
    text-align: center;
    z-index: 100;
    font-family: 'smart_bold';
}
.poi.up:after{ content: ''; display: block; position: absolute; top: -15px; left:9px; width: 2px; height: 15px; background: #E6007D;}
.poi.right:after{ content: ''; display: block; position: absolute; top: 9px; left:20px; width: 15px; height: 2px; background: #E6007D; }
.poi.down:after{ content: ''; display: block; position: absolute; top: 20px; left:9px; width: 2px; height: 15px; background: #E6007D; }
.poi.left:after{ content: ''; display: block; position: absolute; top: 9px; left:-15px; width: 15px; height: 2px; background: #E6007D; }
.poi.no_arrow{
    margin-left: -10px;
    margin-top: -10px;
}
body.smart .container-pdf .middle_page_text ul,
body.smart .container-pdf .middle_page_text ol,
body.smart .pdf-body .middle_page_text ul,
body.smart .pdf-body .middle_page_text ol {
    margin-left: 0;
}
body.smart .pdf-body .middle_page_text ol {
    margin-left: 20px;
}
body.smart .container-pdf .middle_page_text ul li,
body.smart .pdf-body .middle_page_text ul li {
    padding-left: 17px;
}
body.smart .container-pdf .middle_page_text ul li:before
body.smart .pdf-body ul li:before {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    top: 2px;
}