@media screen and (max-width: 767px) {
#help-formular .submit_button {
  font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif !important;
  font-size: 12px;
}
body.smart ul.level4_nav > li > div.period_time input {
  font-size: 12px !important;
  line-height: 16px !important;
}
body.smart div#help-formular.user_profile_fields #counter_wrapper {
  font-size: 12px !important;
}
ul.multi_nav a, 
.menu_carousel .slider_title, 
div.table-item, body.smart li.filter_title, 
.alert_text, #alerts a.ok_button, 
#cookie_notification a.ok_button, 
#provider_privacy a.ok_button, 
.faq-list-menu .second-ul .faq_title, 
.faq-container .quetion-info p, 
body.smart .middle_page_text #content_main p, .nav_buttons .nav_button,
#related_wrapper .related_links a {
  font-size: 14px;
}

.banner_text_wrapper p, 
div#tools div.tools_wrap ul.footer_tools li#help div#help-formular h2, 
#searchDiv input#search, 
.faq-container .first-ul, 
.faq-container .quetion-info .toggle-two-title, 
.middle_page_text #content_main h1 > small, 
.comment-form h1 > small, body.smart .middle_page_text #content_main p.subline, 
.related_links h2 {
  font-size: 18px;
}

body.smart div.heading-row h1, body.smart div#view-controls + h1,
body.smart div#help-formular.user_profile_fields h1 {
  font-size: 24px;
}

.notice > span, 
body.smart .middle_page_text #content_main p.notice, 
.middle_page_text #content_main .image_item .image_text p {
  line-height: 16px !important;
}
.faq-container .quetion-info p, body.smart .middle_page_text #content_main p,
 #notificationWrapper .alert_text,
 .downloads .no_results .hct small p {
  line-height: 20px !important;
}

.alert_text {
  line-height: 20px;
}
body.smart div.downloadDiv div.link, 
body.smart div#provider_privacy > p.alert_title, 
body.smart div.faq-container div.faq-list-menu div.category_title, body.smart div.page > a > div.title, 
body.smart div.page > a > div.title span {
  line-height: 22px !important;
}
.middle_page_text #content_main h1 > small, .comment-form h1 > small {
  line-height: 25px !important;
}
body.smart div.page > a > div.title span,
body.smart div#help-formular.user_profile_fields .input__label--yoshiko, 
body.smart div#help-formular.user_profile_fields #counter_wrappe {
  line-height: 26px;
}
body.smart div.heading-row h1, body.smart div#view-controls + h1 {
  line-height: 34px !important;
}

}