a{
	font:16px Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#333;
}
#GC a{ color: #eebb40; }
#GC a[class]{ color: #333; }
a:hover, a:active {
    color:#eebb40;
	text-decoration: underline;
}
span, b, strong, p, form, small, .normal{
    font: 16px/22px Arial;
	color:#292929;
}
b, strong { font-weight: bold; }
.pathlink{ font-size: 12px; color: #292929; }
.printSkeleton table td, .printSkeleton table td p, .printSkeleton table td b, .printSkeleton table td strong{ font-size: 11px; line-height:16px; font-family: Arial; color: #292929; }

#main table {
	border-bottom: 1px solid #111 !important;
}
.printSkeleton table tr:first-child td, .printSkeleton table tr:first-child th{ font-weight: bold; }
#main tr:first-child td, #main tr:first-child th{
	background: #666 !important;
	border-top: 3px solid #111 !important;
	color: #fff !important;
	padding: 5px 1px;
	line-height: normal !important;
}
#main tr:first-child td p{
	line-height: normal !important;
}
#main tr:nth-child(odd){
    background-color: #f0f0f0;
}
/*#alerts{width:509px; noheight:120px; stop:-350px; position:absolute; border: 1px solid red; padding:10px; left:50%; margin-left:-266px; background-color:#FFFFFF; display:none; z-index:12; text-align:left; margin-top:auto;margin-bottom:auto;}*/
#alertsBG{ position:fixed; display:none; opacity:0.8; filter: alpha(opacity=80); top:0px; left:0px; width:100%; height:100%; background-color:#000; z-index:100;}

div.L2LinkActive a.L2LinkA, div.L2LinkActive a.L2LinkA:active {
	color: #eebb40 !important;
}
a.L4Link {
	font: 12px Arial;
	background-image: url(../img/template/smart/icons/arrow.gif);
}
a.L4Link:hover, a.L3Link:hover{
	color: #333;
	background-color: #f0f0f0;
}
a.L4Link:active, a.L3Link:active,
a.L3LinkActive, a.L4LinkActive {
	background: #eebb40 !important;
	color: #fff;
	text-decoration: none;
}
a.L3LinkActive:hover, a.L4LinkActive:hover,  a.L3LinkActive:active, a.L4LinkActive:active {
	background-color: #f0f0f0;
	color: #333;
	/*border-bottom: 1px solid #AFB2B4;*/
}
a.L4LinkActive, a.L4LinkActive:hover,  a.L4LinkActive:active{
	font-size: 12px;
}
a.L3LinkActive, a.L3LinkActive:hover, a.L3LinkActive:active {
	font-size: 14px;
}
span.pathlink{ display: block; }
h1, .titleOfText, .heading{
	color:#111;
    font: bold 20px Arial;
	margin:0px 0px 0px 0px;
	display:block;
}
h1 > small, .textAfterTitle{ display: block; font: 16px Arial,sans-serif; color:#000;   }
#path a {
	font: 12px/1 Arial;
	/*line-height: 11px;*/
}
.RSTitle {
	font: 16px Arial;
	color: #111;
	border-bottom: 1px solid #666;
	padding-bottom: 5px;
}
.readmore{	background-image: url(../img/template/smart/icons/imo_readmore.gif); }

#tools #print{		background-image: url(../img/template/smart/icons/print.gif);}
#tools #recommend{	background-image: url(../img/template/smart/icons/recommend.gif);}
#tools #rate{		background-image: url(../img/template/smart/icons/rate.gif);}
#tools #save{		background-image: url(../img/template/smart/icons/save.gif);}
#tools #store{		background-image: url(../img/template/smart/icons/store.gif); }
.genericRS a, #L5 a {
	font: 12px Arial;
	border-bottom: 1px solid #666;
	background-image: url(../img/template/smart/icons/arrow.gif);
}
#L5 a{
	background-color: #f0f0f0;
	color: #333;
}
/*#L5 a:active,*/
#L5 a.L5Active{
	background: #eebb40;
	color: #fff;
}
#L5 a.L5Active:hover {
	background: #fff url(../img/template/smart/icons/arrow.gif) left 12px no-repeat;
	color: #333;
}
.genericRS a:hover{
	background-color: #f0f0f0;
	color: #333;
}
#L5 a:hover {
	background-color: #fff;
	color: #333;
}
.blockTitle {
	font: 12px Arial;
	color: #111;
	padding-bottom: 5px;
}
#personal .personalHL {
	border-bottom: 1px solid #666;
	height: 1px;
}
#personal {
	font: 12px Arial;
	border: 1px solid #666;
}
#personal a {
	font: 12px/22px Arial;
	background-image: url(../img/template/smart/icons/arrow.gif);
}
#personal a:hover, #personal a:active{
	color: #eebb40;
	text-decoration: underline;
}

#personal .linkNum {
	font: 12px Arial;
	border-bottom: 1px solid #666;
}
#tools a {
	font: 12px/22px Arial;
	background-color: #FFF;
	border-bottom: 1px solid #666;
}
#tools a:hover {
	background-color: #F0F0F0;
	color: #333;
}
#help .feedback, #help .faq, #help .tips, #help .sitemap, #help .index, #help .glossaryA {
	font: 12px/22px Arial;
	background-color: #FFF;
	border-bottom: 1px solid #666;
}
#help .feedback:hover, #help .faq:hover, #help .tips:hover, #help .sitemap:hover, #help .index:hover, #help .glossaryA:hover {
	background-color: #F0F0F0;
	color: #333;
}
#help a:active, .helpActive {
	font: 12px/22px Arial;
	color: #333;
	border-bottom: 1px solid #666;
	background-color: #f0f0f0;
}
#help .feedback{	background-image: url(../img/template/smart/icons/feedback.gif);}
#help .faq{			background-image: url(../img/template/smart/icons/faq.gif);  display: none; }
#help .tips{		background-image: url(../img/template/smart/icons/tips.gif); display: none; }
#help .glossaryA{	background-image: url(../img/template/smart/icons/imo_glossary.gif); display: none; }
#help .sitemap{		background-image: url(../img/template/smart/icons/sitemap.gif); }
#help .index{		background-image: url(../img/template/smart/icons/index.gif); }
#personal .btn, .button {
	background-color: #333;
	color: #FFF;
	font: 12px/28px Arial;
	border: 1px solid #333;
}
#personal .btn:hover, .button:hover,
#personal .btn:active, .button:active{
	color: #333;
	background-color: #eebb40;
	background-image: none;
	text-decoration: underline;
}
/* ====================-=================== ACTIVE RSS LINKS ====================-=================== */
/*#personal a:active,*/
#help a:active, .genericRS a:active, #L5 a:active, #tools a:active {
	color: #fff;
	background: #eebb40 !important;
	text-decoration: none;
}
.hasZoom:link img, .hasZoom:visited img {
	border: 1px solid #333;
	background-position: left top;
}
.hasZoom:hover img{
	border: 1px solid #eebb40;
}
.zoomlink {
	background-image: url(../img/template/smart/icons/zoom.gif);
}
.contactlink {
	background-image: url(../img/template/smart/icons/i_contacts.gif);
}
.backlink {
	background-image: url(../img/template/smart/icons/imo_back.gif);
	font-size: 12px;
}
.smart .oddDownload{
	background-color: #F0F0F0;
}
.accent {
	color: #eebb40;
	font-size: 12px;
}
.downloadsInnerTable a{	font-size: 12px; }
div.downloadRight {font-size: 11px; line-height: 18px; }
div.downloadRight a{ font-size: 12px; line-height: normal; }
.AddDownloadLink {
	font-size: 12px;
	padding: 0 16px 0 18px;
	background-position: left -4px;
	background-repeat: no-repeat;
	background-image: url(../img/template/smart/icons/imo_remove.gif);
}
.downloadSelLink{
	font-size: 12px;
	padding-left: 18px;
	padding-right: 16px;
	background-position: left -4px;
	background-repeat: no-repeat;
	background-image: url(../img/template/smart/icons/imo_downloadselected.gif);
	/*float:right;*/
}
.imgText961 { font-size: 14px; line-height: 20px; border-bottom: 1px solid #333; }
.block_482 a {
	font: 10px Arial;
	color: #333;
}
.block_482 a:hover {
	color: #eebb40;
}
.block_482 a img {
	border: 1px solid #333;
}
.block_482 a:hover img {
	border: 1px solid #eebb40;
}
.block_482 em,.imgcap {
	font: bold 10px Arial;
	color: #666;
}
.overview_page_block{
	float: left;
	width: 202px;
	margin: 0 0px 10px 0;
	clear: none;
	background: #f0f0f0;
	padding: 0 20px 20px 20px;
}
.overview_page_block:hover{ background: #EEBB40; }
.overview_page_block:nth-of-type(odd) {margin-right: 10px; clear: both;}
.overview_page_block, .overview_page_block b { color: #292929; font-size: 16px;	line-height: 16px; }
.overview_page_block a.textLink {
	position: relative;
	float: none;
	bottom: auto;
	left: auto;
	font: 12px Arial,sans-serif;
	background: url(../img/template/smart/icons/arrow.gif) 0px 4px no-repeat;
	padding: 0px 0px 0px 0px;
}
.overview_page_block a:hover { color: #eebb40; text-decoration: underline; }
.overview_page_block a img{ position: relative; margin:0 0 20px -20px; width:240px; height: auto; border-color: #333; }
.overview_page_block a:hover img{ border-color: #eebb40; }
.overview_page_block + *:not(.overview_page_block) {clear: both;}

.overview_teaser_block a{ border-color: #333; }
.overview_teaser_block a:hover{	border-color: #eebb40; }
.message_block_divider{
	width: 100%;
	color:#000;
	font:bold 16px Arial;
	display:block;
	border-bottom:1px solid #666;
}
.message_block{
	background-color: #fff;
	width: 100%;
	height: 21px;
	border-bottom:1px solid #666;
}
a.teaserLink {
	display: block;
	font: 10px Arial;
	background-image: url(../img/template/smart/icons/arrow.gif);
}
a.teaserLink:hover {
	color: #eebb40;
}
/* block B */
.blockB-container{
	height: auto;
	overflow: hidden;
	width: 746px;
}
.blockB-col{ width: 252px; float: left;}

.blockB{
	width:  242px;
	height: 232px;
	margin: 0 0px 10px 0;
	float: left;
	background: #f0f0f0;
}
.blockB:hover{
	background: #eebb40;
}

/*.blockB + .blockB{ margin: 0 0 10px 10px; }*/
.blockB img{
	width: 240px;
	height: 160px;
	display: block;
	border: 1px solid #666666;
}
.blockB:hover img{
	border: 1px solid #eebb40;
	color: #3683ab;
}
.blockB > a{
	display: block;
	outline: none;
}
.blockB div.blockB-contents{
	text-align: left;
	padding: 14px 20px;
	font: 12px/22px Arial;
	color: #333333;
}
.blockB div.blockB-contents a{
	padding: 0 0 0 8px;
	background: url(../img/template/smart/icons/arrow.gif) left center no-repeat;
	color: #333333 !important;
	text-decoration: none;
}
.blockB:hover div.blockB-contents a, .blockB:hover div.blockB-contents a b{
	color: #fff !important;
	text-decoration: none;
	background: none;
}
.blockB-container .clear{ float: left; clear: both; }

/* goTop link */
.goTop {
	font: 12px Arial;
	text-decoration: none;
	background-image: url(../img/template/smart/icons/top.gif);
}
.goTop:hover {
	text-decoration: underline;
}
#footer span {
	margin: 0;
	padding: 10px 0;
	font: 12px Arial;
}
#footer a {
	font-size: 12px;
	text-decoration: none;
}
.copyright{ font-size: 12px; }

iframe {
    display: none;
}