#LE{
    position: relative;
    width: 69.19%;
    height: 100%;
    display: inline-block;
}
#LEG{position: relative; width: 100%; height: 100%; max-height: 100%; max-width: 100%}
#LE-bgs{width: 10000px; height: 100%; position: absolute; left:10px; top: 0;}
.LE-bg{width: 960px; height: 100%; float: left; position: relative;}
#LE-apps{width: 510px; position: absolute; left:10px; top: 10px;}
/*#LE-legend:before{ content: 'Layout elements'; display: block; background: #e9eaeb; text-align: center; padding: 3px; font-weight: bold;}*/

.LE-app{display: none;}

.pois{position: absolute; left: 0; top: 0; width: 100%; height: 100%;z-index:0}
.poi{background: #ff0000; color: #fff; font-size: 14px;line-height:20px; font-weight:bold; width: 20px; height: 20px; text-align: center; z-index: 100;margin-left: -10px; margin-top: -10px;}
div.poi{position: absolute;}
span.poi{margin: 0 10px 15px 0; display: inline-block;}
.poi.up { margin-top: 15px;}
.poi.down { margin-top: -35px;}
.poi.left { margin-left: 15px;}
.poi.right { margin-left: -35px;}
.poi.up:after{ content: ''; display: block; position: absolute; top: -15px; left:9px; width: 2px; height: 15px; background: #ff0000;}
.poi.right:after{ content: ''; display: block; position: absolute; top: 9px; left:20px; width: 15px; height: 2px; background: #ff0000; }
.poi.down:after{ content: ''; display: block; position: absolute; top: 20px; left:9px; width: 2px; height: 15px; background: #ff0000; }
.poi.left:after{ content: ''; display: block; position: absolute; top: 9px; left:-15px; width: 15px; height: 2px; background: #ff0000; }

.LE-layer,.LE-tool-layer{position: absolute; background-repeat: no-repeat; background-position: left top;}
/*.axis, .grid, .frame, .area{ display: none; }*/
/*.hilight{ border: 1px solid #a12129; margin:-1px 0 0 -1px;}*/

#LE-legend{display: block; }

#LE-legend > h1 {
    text-align: left;
    padding-top:36px;
    padding-left:48px;

    width: auto;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 27px;
    font-family: 'DaimlerCS-Demi';
    font-weight: normal;
    margin-top: 0;
}

#LE-legend-default{
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding: 36px 0 29px 48px;
    font-weight: normal;
    text-align: left;
}
#LE-legend-info{font-size:18px;line-height:26px;color:#000000;}
#LE-legend-info h1 {font-family: "DaimlerCS-Bold";-webkit-font-smoothing : antialiased;-moz-osx-font-smoothing : grayscale;color: #000000;font-size: 18px;line-height: 26px;margin: 0;}
#LE-legend-info p{color: #000000;font-size: 18px;line-height: 26px;}
#LE-legend-title{font:20px/1.5 corporateS; color: #000;}
#LE-legend div a{ background: url(img/template/icons/arrow.gif) left 4px no-repeat; padding: 0 0 0 9px; }
#LE-legend-info img {margin: 10px 0px;}

#LE-btns{ border: 1px dashed cyan; position: absolute; top: 10px; left: 510px; right: 0; bottom: 0;}
.expand-collapse{position: absolute; width: 50px; height: 50px; bottom: 10px; right: 20px; background-color: #f3f3f4; cursor: pointer;}
.expand-collapse span{width:32px; height: 17px; background: #f3f3f4 url(img/LE/expandcollapse.png) top left no-repeat;display: block; left: 9px; top: 17px; position: absolute;}
.expand-collapse:hover span{background-position: top right;}
#LE.open .expand-collapse span{background-position: bottom left;}
#LE.open .expand-collapse:hover span{background-position: bottom right;}
.expand-collapse div.instructions{ position: absolute; right: 100%; padding: 0 10px; font: 12px/50px Arial; color: #666; white-space: nowrap; }
.toOpen.expand-collapse div.instructions{ background-color: rgb(200,200,200); background-color: rgba(255,255,255, 0.7);filter:alpha(opacity=70); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }
.expand-collapse:hover div.instructions{ color: #3683AB; }
.toOpen{ display: block; }
#LE-collapse{ display: none; }

.expand-collapse.leftSide{ right: auto; left: 20px;}
.expand-collapse.leftSide div.instructions{ right: auto; left: 100%; }

#LE.open .toOpen, #LE.open #LE-btns{ display: none; }
#LE.open #LE-collapse{ display: block; right: 10px; }

/*.LE-expand { display: block; padding: 0 0 0 9px; margin: 0 0 0 20px; background: #fff url(img/template/icons/arrow.gif) left 4px no-repeat; overflow: hidden; width: 220px; }*/

.LE-expand:hover {background-color: #F0F1F2;}
.LE-wrapper{
    margin-bottom: 20px;
}
div.LE-tool{
    height: 100%;
    width: 45px;
    padding-right: 5px;
    float: left;
    cursor: pointer;
    display:none;
}
div.LE-tool span.icon{background: url('../img/template/svg/hide.svg');background-repeat:no-repeat;	background-size: 24px auto;	background-position: left center; width: 30px; height: 24px; margin: 0; display: block; float:left;}
div.LE-tool span.title{display: block; float:left; margin-left: 2px; text-transform:uppercase;font-size:14px;line-height:20px;}

/*#LE-tools > div:first-child + div,
#LE-tools > div:first-child + div + div + div,
#LE-tools > div:first-child + div + div + div + div + div{ margin-left: 10px; }*/
div.on.LE-tool span.icon{ background-image:url('../img/template/svg/view-2.svg');}
.LE-legend-info{
    float: left;
    width: calc(100% - 60px);
    text-align: left;
}
#LE-nav{ position: relative; left: 50%; margin: 10px 0 0 -50px; height: 4px; }
.LE-nav-btn{ width: 19px; height: 4px; background-color: #c8c8c8; margin-right: 1px; float: left; }
.LE-nav-btn.active, .LE-nav-btn:hover{ background-color: #3683ab; }

#lbIframe{border:medium none;}

#LE-right{
    padding-left: 25px;
    width: 29.65%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}
.LEG_img_container {left: 0; height: 100%; width: 100%;position: absolute;    text-align: center;    top: 0;    vertical-align: middle;}

.LEG_img_container > a {   display: inline-block; vertical-align: middle;  margin: auto;    text-align: center; position: relative;}
.LEG_img_container > a:before{
    content: '\A';
    position: absolute;
    width:100%; height:100%;
    top:0; left:0;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.LEG_img_container > a > img {   float: left; }
#frame_wrapper{
    max-width: calc(100% - 120px);
    max-height: calc(100% - 120px);
    width: auto;
    height: auto;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}
#content_wrapper{
    width: 100%;
    height: 100%;
    text-align: center;
}
