#lbOverlay { position: fixed; top: 0; left: 0; z-index: 99998; width: 100%; height: 500px; }

#lbOverlay.white, .daimler #lbOverlay.white { background-color: #c8c8c8; }

#lbOverlay.red { background-color: #330000; }
#lbOverlay.green { background-color: #003300; }
#lbOverlay.blue { background-color: #011D50; }
#lbOverlay.gold { background-color: #666600; }

#lbMain { position: fixed;left: 20px; top:20px; width:calc(100% - 40px);height:calc(100% - 40px); z-index: 99999; text-align: center; background-color: #FFFFFF; /* padding-right: 40px; */ box-sizing: border-box;}
#lbMain a img { border: none; }
#lbWrapper{max-width: calc(100% - 120px);max-height: calc(100% - 120px); width: 100%; height: auto; display: inline-block;
           line-height: 1;
           vertical-align: middle;
}
    #lbOuterContainer { display:inline-block;position: relative; background-color: #FFFFFF;max-width:69.56%;max-height: 100%;width: auto;}
    #lbOuterContainer.max-width{width: 69.15%;}
    #lbOuterContainer.full-width{width: 100%;}
	#lbOuterContainer.grey { border: 0px solid #ffffff; }
	#lbOuterContainer.grey { border: 0px solid #888888; }
	#lbOuterContainer.red { border: 3px solid #DD0000; }
	#lbOuterContainer.green { border: 3px solid #00B000; }
	#lbOuterContainer.blue { border: 3px solid #5F89D8; }
	#lbOuterContainer.gold { border: 3px solid #B0B000; }

    #lbDetailsContainer {max-width:30%; display:inline-block; font-size: 18px; line-height:26px;overflow: hidden; margin: 0 auto; max-height: 100%; position: relative; vertical-align:top;}
    #lbDetailsContainer.bottom{ vertical-align: bottom;}
    #lbDetailsContainer.zero-width{position: absolute;top: 0px;right: 0px; width: 74px;}
    #lbDetailsContainer h1{
        width:auto;
        font-size:24px;
        line-height:30px;
        color:#000000;
        margin-bottom:27px;
        font-family: 'DaimlerCS-Demi';
        font-weight: normal;
        margin-top: 0;
    }
	body.smart #lbDetailsContainer h1{font-family: "Smart Bold";line-height:1.1;-webkit-font-smoothing : antialiased;-moz-osx-font-smoothing : grayscale;}
    body.smart #LE-legend-info p strong, body.smart #LE-legend-info h1{font-family: "Smart Bold";line-height:1.4;-webkit-font-smoothing : antialiased;-moz-osx-font-smoothing : grayscale;}
	body.smart #LE-legend-default{line-height:1.1; font-family: "Smart Special", Verdana;}
	body.smart #lbDetailsContainer #lbCaption p, body.smart #LE-legend-info p, body.smart #LE-tools{line-height:1.4; font-family: "Smart Special", Verdana;}
	body.smart #lbClose:hover{  background-image:url('../img/template/svg/remove-1-hover_smart.svg'); }
	#lbDetailsContainer.white { border: 0px solid #ffffff; border-top: none; }
	#lbDetailsContainer.grey { border: 0px solid #888888; border-top: none; }
	#lbDetailsContainer.red { border: 3px solid #DD0000; border-top: none; }
	#lbDetailsContainer.green { border: 3px solid #00B000; border-top: none; }
	#lbDetailsContainer.blue { border: 3px solid #5F89D8; border-top: none; }
	#lbDetailsContainer.gold { border: 3px solid #B0B000; border-top: none; }
#lbImageContainer{display: inline-block;}
#lbImageContainer, #lbIframeContainer {  margin: auto; position: relative;max-width: 100%;max-height: 100%;}
/*#lbImageContainer{margin:60px;}*/
#lbImageWrapper{margin: auto;text-align: center; display: inline-block; position: relative;z-index: 11; max-width: 100%; max-height: 100%;}
#lbImageWrapper:before{ z-index:1; content: '\A'; position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: 1px solid #c8c8c8; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
#lbIframeContainer{top:0px;}
#lbLoadingWrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #d3d3d3;
}
#lbLoading {
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
/*	background: url(../../img/template/lb/loading.gif) center no-repeat;*/
}
#lbHoverNav { position: absolute; top: 0; left: 0;  width: 100%; height:100%; z-index: 10; }
#lbImageContainer>#lbHoverNav { left: 0; }
#lbHoverNav a { outline: none; }

#lbPrev { position: absolute;	top: 50%;margin-top: -40px;	left: -50px;background-color: #000000; background-image: url("../img/template/svg/arrow-left-white.svg");background-repeat:no-repeat;background-size:25px 25px;background-position:center;  height: 80px; width: 40px; }
	#lbPrev.white:hover, #lbPrev.white:visited:hover { background-color: #00677f; }
	#lbPrev.grey:hover, #lbPrev.grey:visited:hover { background: url(img/lb/prev_grey.gif) left 15% no-repeat; }
	#lbPrev.red:hover, #lbPrev.red:visited:hover { background: url(img/lb/prev_red.gif) left 15% no-repeat; }
	#lbPrev.green:hover, #lbPrev.green:visited:hover { background: url(img/lb/prev_green.gif) left 15% no-repeat; }
	#lbPrev.blue:hover, #lbPrev.blue:visited:hover { background: url(img/lb/prev_blue.gif) left 15% no-repeat; }
	#lbPrev.gold:hover, #lbPrev.gold:visited:hover { background: url(img/lb/prev_gold.gif) left 15% no-repeat; }

#lbNext { position: absolute;top: 50%;margin-top: -40px;right: -50px;background-color: #000000; background-image: url("../img/template/svg/arrow-right-white.svg");	background-repeat:no-repeat;background-size:25px 25px;background-position:center; height: 80px; width: 40px; }
	#lbNext.white:hover, #lbNext.white:visited:hover { background-color: #00677f; }
	#lbNext.grey:hover, #lbNext.grey:visited:hover { background: url(img/lb/next_grey.gif) right 15% no-repeat; }
	#lbNext.red:hover, #lbNext.red:visited:hover { background: url(img/lb/next_red.gif) right 15% no-repeat; }
	#lbNext.green:hover, #lbNext.green:visited:hover { background: url(img/lb/next_green.gif) right 15% no-repeat; }
	#lbNext.blue:hover, #lbNext.blue:visited:hover { background: url(img/lb/next_blue.gif) right 15% no-repeat; }
	#lbNext.gold:hover, #lbNext.gold:visited:hover { background: url(img/lb/next_gold.gif) right 15% no-repeat; }

#lbPrev2, #lbNext2 { text-decoration: none; /*color: #3f9ac9;*/ }
	/*#lbPrev2.grey, #lbNext2.grey, #lbSpacer.grey { color: #3F9AC9; }*/
	#lbPrev2.red, #lbNext2.red, #lbSpacer.red { color: #620000; }
	#lbPrev2.green, #lbNext2.green, #lbSpacer.green { color: #003300; }
	#lbPrev2.blue, #lbNext2.blue, #lbSpacer.blue { color: #01379E; }
	#lbPrev2.gold, #lbNext2.gold, #lbSpacer.gold { color: #666600; }
#lbPrev2 { text-align: left;
	padding-left:11px;
	/*background: url(../img/template/icons/imo_leftarrow.gif) -5px top no-repeat;*/
	background: url(../img/template/icons/arrowPrev.gif) left center no-repeat;
}
#lbNext2 { text-align: right;
	padding-right:11px;
	/*background: url(../img/template/icons/imo_arrow_5px.gif) right top no-repeat;*/
	background: url(../img/template/icons/arrow.gif) right center no-repeat;
}
#lbPrev2:hover, #lbPrev2:visited:hover {
	/*color: #263f6a;*/
	/*background: url(../img/template/icons/imo_leftarrow.gif) -5px top no-repeat;*/
	text-decoration: underline;
}
#lbNext2:hover, #lbNext2:visited:hover {
	/*color: #263f6a;*/
	/*background: url(../img/template/icons/imo_arrow_5px.gif) right top no-repeat;*/
	text-decoration: underline;
}

#lbPrev2_Off, #lbNext2_Off { font-weight: bold; }
	#lbPrev2_Off.white, #lbNext2_Off.white { color: #CCCCCC; }
	#lbPrev2_Off.grey, #lbNext2_Off.grey { color: #CCCCCC; }
	#lbPrev2_Off.red, #lbNext2_Off.red { color: #FFCCCC; }
	#lbPrev2_Off.green, #lbNext2_Off.green { color: #82FF82; }
	#lbPrev2_Off.blue, #lbNext2_Off.blue { color: #B7CAEE; }
	#lbPrev2_Off.gold, #lbNext2_Off.gold { color: #E1E100; }

#lbDetailsData { padding: 40px 0 0 40px; margin-bottom: 0px; border: 0px solid orange; display: block;}
.bottom #lbDetailsData{
    display: inline-block;
    vertical-align: bottom;
}
    #lbDetailsData.white { color: #000000; }
	#lbDetailsData.grey { color: #333333; }
	#lbDetailsData.red { color: #620000; }
	#lbDetailsData.green { color: #003300; }
	#lbDetailsData.blue { color: #01379E; }
	#lbDetailsData.gold { color: #666600; }

#lbDetails { width: 100%; background-color: #fff;}
#lbCaption {display: block; font-size: 18px; line-height:26px;; color: #000000; border-bottom: 0px solid #AFB2B4; padding:0px 0px 60px 0px; margin: 0px; text-align: left;}
#lbCaption.inline_zoom{padding-bottom:183px;}
#lbCaption.bottom{display: block; padding-bottom: 94px; }
/*#lbNumberDisplay {text-align: center; border: 1px solid blue;}*/
#lbNavDisplay { display: block; border-top: 1px solid #AFB2B4; margin: 0 25px; padding: 9px 0 19px 0;}
#lbNavDisplay td{ color: #606061;}
#copyspan{ background-color:#fff; display:none; text-align:left; padding:10px 20px 20px 15px; margin:0px 10px 0px 10px; }
#innercopy{
	/*height:10px;*/
	background-color:#fff;
	display:block;
	text-align:left;
	/*margin:11px 20px 0 20px;*/
	padding:10px 0px 0px 0px;
	border-top:1px solid #c8c8c8;
}
#lbClose {  cursor:pointer;height: 24px; position: absolute; right: 48px; top: 49px; width: 24px;background: rgba(0, 0, 0, 0) url("../img/template/svg/remove-1.svg") no-repeat;background-size:24px auto;background-position:center;}
#lbClose:hover{background-image:url('../img/template/svg/remove-1-hover.svg');}
#lbEsc{ text-transform: uppercase;  position: absolute;right: 47px; top: 92px;line-height: 1;}
#lbPlay { width: 64px; height: 28px; margin-bottom: 1px; }

#lbPause { width: 64px; height: 28px; margin-bottom: 1px; }

#lbNumberDisplay{bottom: -30px;  left: 50%;  margin-left: -28px;  position: absolute;}

.slider_block.active {background-color: #000000;}
.slider_block { background-color: #9e9e9e;display: block; float: left; height: 4px; margin-right: 10px; width: 20px;cursor:pointer;}
.slider_block:hover{background-color:#00677f;}
.slider_block.active:hover {background-color: #000000;}

#lbImage{max-width: 100%; max-height: 100%;}
.zoomImg{cursor:move;}

#inline_zoom_addition{
    position:absolute;
    left:40px;
    bottom:11px;
    padding: 10px 20px 20px 42px;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    background-image: url("../img/template/svg/zoom-area-in.svg");
    background-repeat: no-repeat;
    background-size: 24px auto;
    background-position-y: 10px;
}

#lbIframe { margin: auto; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#imageCounter{
    background-image: url(../img/template/svg/send-to-back.svg);
    background-repeat: no-repeat;
    background-size: 23px 23px;
    position: absolute;
    bottom: 36px;
    padding-left: 36px;
     line-height: 1;
}
.curentCount{font-size: 24px; color: black}
.count{ font-size: 14px; color: #9e9e9e }

@media only screen and (max-width: 1280px) {
	/*#lbDetailsContainer{width:400px;}*/

    /*
	#lbDetailsData{padding: 60px 100px 10px 20px;}
	#lbImageContainer{margin:49px;}
    */

    #lbImageWrapper{margin:auto;}

	#lbCaption.inline_zoom{padding-bottom:210px;}

	#lbPrev{left: -44px;}
	#lbNext {right: -44px;}
}

@media only screen and (max-width: 1270px) {
	/*#lbImageContainer{ margin-left:3.8%;margin-right:3.8%;}*/
	 /*#lbDetailsContainer{width:31.25vw;}*/
}
