/* PDF is generated with dompdf. It support CSS 2.1 */

html,body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html{
	height:100%;
/*	overflow-y: scroll; */
	width: 100%;
}

table, caption, tbody, tfoot, thead, tr, th, td     {
    vertical-align : middle;
}

a {
	text-decoration: none;
}


table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

sup {
	height:0;
	line-height:1;
	vertical-align:baseline;
	position:relative;
	font-size:0.6em;
	bottom: .7em;
}
strong, b {
    font-family: DaimlerCS-Bold;
    font-style: normal;
}

h1{
    font-size: 24px;
}

body {
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
	background-color: #ffffff;
	color: #000;
	font-family: DaimlerCS-Regular;
    font-size: 18px;
    line-height: 22px;
	width: 100%;
    text-align: left;
    margin-top: 70px;
    margin-bottom: 155px;
    margin-left:70px;
    margin-right:70px;
}

p{
    margin-bottom: 25px;
    display: block;
    line-height: 18px;
}
/*** HEADER ***/
.header{
    /*padding-bottom: 6px;*/
}

/*.header_info{
    border-bottom: 1px solid black;
    padding: 0px;
}
.header_info p{
    font-size: 14px;
    line-height: 16px;
}*/
.pdf-header{
    font-size: 20px;
    margin-bottom: 0;
    display: inline-block;
    width: 464px;
    text-align: right;
	margin-top:5px;
}
.header_image{
	height:23.46px;
	width:176px;
}
/*.column{
    margin-top: 40px;
    padding: 0px;
}*/
/*.column img{
    height: 32px;
}*/
.column.left{
      margin-left: 20px;
}

/*** CONTENT ***/
.pdf-body{
    padding: 0px;
    margin-top: 50px
}
.date-and-rating{
    font-size: 14px;
}
.date-and-rating .date{
    margin-bottom: 0;
    font-size: 14px;
    display: inline-block;
    max-width: 200px;
    width: 200px;
}
.date-and-rating .stats{
    margin-left: 160px;
    display: inline-block;
    width: 332px;
    text-align: right;
    vertical-align: bottom;
}
.stats span{
    margin-right: 10px;
    font-size: 14px;
}
.stats span:last-of-type{
    margin-right: 0;
}

.stats span img{
    margin-right: 7px;
    margin-top: 12px;
}
.stats span.comments img{
    margin-top: 15px;
}
.stats span.views img{
    margin-top: 19px;
}
#pdf-tags{
    position: relative;
}
#pdf-tags img{
    height: 12px;
    top: 6px;
    position: absolute;
}
#pdf-tags span{
    margin-left: 15px;
    font-size: 14px;
    line-height: 16px;
}
/*#content_main{
    padding-top: 15px;
}*/

p img,
div.img img{
    max-width: 492px;
    max-height: 345px;
    border: 1px solid #c8c8c8;
}
#content_main > h1{
    line-height: 26px;
    margin-bottom: 25px;
}
#content_main h1 > small,
#content_main h1 > span > small,
#content_main h1 > strong > small{
    font-size: 18px !important;
    line-height: 18px !important;
    font-family: DaimlerCS-Bold !important;
}

p.subline{
	margin-bottom:5px;
    font-family: DaimlerCS-Demi;
    font-size: 24px !important;
    line-height: 30px !important;
}

p.notice{
	font-size: 14px !important;
    line-height: 20px !important;;
    margin-bottom: 0px;
}

p,
div.img,
ul,
ol,
table,
.hotspot_descr{
    margin-bottom: 25px;
}
p.no-margin{
     margin-bottom: 0px;

}
div.img.img_hotspot{
    margin-bottom: 10px;
}
.img img{
    margin-top: 25px;
}
.img img:first-of-type{
    margin-top: 0;
}
.img .text,
.hotspot_descr{
    font-size: 14px;
    line-height: 14px;
}
.img .text{
    padding-top: 10px;
}
.text p,
.hotspot_descr p{
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 20px;
}

.text strong,
.hotspot_descr strong{
    font-size: 14px;
}
.img .text h1{
    display: none;
}
.text p:last-of-type,
.hotspot_descr p:last-of-type{
    margin-bottom: 0;
}
img.anchor_nav{
    display: none !important;
}

/*** FOOTER ***/
.footer{

}

.footer div{
    padding: 10px 0px 0;
    font-size: 14px;
}


/*** DOWNLOAD CONTENT***/
div.downloadDiv {
    height: auto;
    margin: 0 auto;
    padding-bottom: 100px;
    width: 740px;
    page-break-before: always;
}

div.downloadCol1 {
    display: inline-block;
    margin: auto;
    width: 580px;
    height: auto;
    background-color: #e6e6e6;
    margin-bottom: 25px;
    padding-bottom: 39px;
}

.downloadCol1 div.image {
    width: 480px;
    height: 320px;
    margin: 50px 50px 20px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 320px;
    overflow: hidden;
}

.downloadCol1 div.image img {
    max-width: 480px;
    max-height: 320px;
}

div.link {
    width: 480px;
    height: auto;
    margin: 0px 50px 0px 50px;
    line-height: 30px;
    font-size: 24px;
    word-wrap: break-word;
}

div.date {
    width: 480px;
    font-size: 14px;
    line-height: 30px;
    margin: 0 50px;
}
div.tags {
    width: 480px;
    font-size: 14px;
    line-height: 21px;
    margin: 0 50px;
}
div.downloadCol2 {
    width: 540px;
}

div.text-item {
    width: 100%;
    height: auto;
    float: left;
    margin: 30px 0 0 0;
    color: #000000;
    font-size: 18px;
    line-height: 30px;
    padding: 0 0 0 20px;
}

div.text-item:first-of-type {
    margin-bottom: 30px;
    margin-top: 0;
}

div.text-item label {
    width: 100%;
    height: auto;
    display: inline-block;
    color: #9e9e9e;
    font-size: 14px;
    line-height: 20px;
}

div.table-item {
    width: 100%;
    height: auto;    margin: 0;
    color: #000000;
    font-size: 18px;
    line-height: 30px;
    padding: 0 0 0 20px;
    border-bottom: 1px solid #c8c8c8;
}

div.table-item label {
    width: 120px;
    margin-right: 20px;
    height: auto;
    display: inline-block;
    color: #9e9e9e;
    font-size: 14px;
    line-height: 30px;
}

/*** TABLE ***/

table{
    width: 100% !important;
    border-top: 2px solid #000;
    padding: 0;
    font-family: DaimlerCS-Regular;
    font-weight: normal;
    font-style: normal;
    height: auto !important;
	/*page-break-inside:avoid;*/
}
td {
    padding: 5px 5px 5px 10px;
    font-size: 14px !important;
    line-height: 16px !important;
    border-bottom: 1px solid #000;
    width:auto !important;
}

table tr:first-of-type td,
th td{
    background-color: #ffffff;
    font-family: DaimlerCS-Bold;
    font-weight: normal;
    font-style: normal;
    text-align: inherit;
}

/*tr:nth-child(even) td{
    background-color: #e6e6e6;
}*/

td strong{
    font-size: 14.5px;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ul,
ol {
    list-style-position: outside;
}

ol,
ul{
    margin-left: 25px;
}
li{
    line-height: 18px;
    position: relative;
    padding-left: 20px;
}
ul li{
    list-style: none;
}
ul li:before{
    font-family:'Arial';
    content: '\25CF';
    position: absolute;
    left: 0;
    top:0px;
    font-size: 12px;
    line-height: 16px;
}
.middle_page_text a,
.middle_page_text a:active,
.middle_page_text a:visited {
    color: #00677f;
    text-decoration: none;
}

thead:before, thead:after { display: none; }
tbody:before, tbody:after { display: none; }
.breaker {
    border-top: 1px solid black;
    position: fixed;
    bottom: 145px;
    margin-left:49px;
    margin-right: 49px;
    padding-top: 30px;
}
.breaker p{
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 0;
	margin-left:21px;
}
div.img{
    position: relative;
}
.pois {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.poi{
    position: absolute;
    background: #ff0000;
    color: #fff;
    font-size: 14px;
    line-height:14px;
    font-weight:bold;
    width: 20px;
    height: 20px;
    text-align: center;
    z-index: 100;
    font-family:DaimlerCS-Bold;
}
.poi.up:after{ content: ''; display: block; position: absolute; top: -15px; left:9px; width: 2px; height: 15px; background: #ff0000;}
.poi.right:after{ content: ''; display: block; position: absolute; top: 9px; left:20px; width: 15px; height: 2px; background: #ff0000; }
.poi.down:after{ content: ''; display: block; position: absolute; top: 20px; left:9px; width: 2px; height: 15px; background: #ff0000; }
.poi.left:after{ content: ''; display: block; position: absolute; top: 9px; left:-15px; width: 15px; height: 2px; background: #ff0000; }

/*
 FIXME: css margin has bug in Dompdf 0.8. this class has no influence over the hotspots!
 It has to be commented until fix in Dompdf. It is calculated in position of hotspot in PHP.
*/
.poi.no_arrow{
    /*
        margin-left: -10px;
        margin-top: -10px;
*/
}

.pre-left,
.pre-right{
    width: 260px;
    background: #9e9e9e;
    padding: 30px 40px;
    margin: 30px 40px;
    color: white !important;
}

.pre-left{
    float: left;
    margin-left: 0;
    clear: left;
}
.pre-right{
    float: right;
    margin-right: 0;
    clear: right;
}
.pre-div-left{
    float: left;
    clear: left;
    height: 30px;
    width: 0;
}
.pre-div-right{
    float: right;
    clear: right;
    height: 30px;
    width: 0;
}
.quote{
    background-color: #9e9e9e;
    color: white;
    padding: 60px 60px 25px 60px;
    margin-bottom: 25px;
}
.quote p.subline{
    font-family: DaimlerCA-Regular !important;
    margin-bottom: 15px;
}
.quote p:last-child{
    margin-top: 6px;
}
p{
    page-break-inside: always;
}
.transition-background > p {
    padding: 0 !important;
    margin: 0 !important;
}
a.transition-btn {
    padding: 0 !important;
    margin-top: 0 !important;
}
.transition-element {
    margin-bottom: 25px;
}

/*body.smart .container-pdf .middle_page_text ul,
body.smart .container-pdf .middle_page_text ol,
body.smart .pdf-body .middle_page_text ul,
body.smart .pdf-body .middle_page_text ol {
    margin-left: 0;
}
body.smart .container-pdf .middle_page_text ul li,
body.smart .pdf-body .middle_page_text ul li {
    padding-left: 17px;
}
body.smart .container-pdf .middle_page_text ul li:before
body.smart .pdf-body .middle_page_text ul li:before {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    top: 1px;
}*/
