body{
	background-color:#fff;
    text-align: left;
	min-width:auto;
    width: 700px;
    margin: 0 auto;
}
#logos { height: 0px; }
#logos #Dlogo { left: 0; top: 0;}

.printSkeleton table tr:first-child td, .printSkeleton table tr:first-child th{ font-weight: bold; }

/* LINKS */

.backlink, .arrowlink, .zoomlink, .gallerylink, .videolink,
.audiolink, .contactlink, .toolkitlink, .externallink, .readmore, .gototop,
.prevpage, .nextpage,  .termNormal, .termActive,
.RemoveLink, .AddDownloadLink, .textLink, .teaserLink
{
	padding-left: 0px;
	/*display: list-item;*/
	/*list-style-position: inside;*/
	/*list-style-type: none;*/
	/*background: none;*/
	/*line-height: 2em;*/
	/*vertical-align: top;*/
	vertical-align: middle;
}

/* Gallery print styles */
.zoomlinkBox961{ display: none; }
.imgText961{
    border-bottom: 1px solid #c8c8c8;
	width:480px;
}

.gallery961{
    border:0px solid #F0F1F2;
	/*border-bottom: 1px solid #d2d4d6;*/
    padding: 0px;
    background: none;
    display: block;
	max-width: 500px;
}
.galCropper{ border: none; }
.galItem{ background: none; }
.galCropper, .galMover, .galItem{
	height: auto;
	position: relative;
}
.galItem{display: none;}
.galItem:first-child{display: block;}
.gallery961 img{
    /*border:10px solid #F0F1F2;*/
	max-width:480px;
    /*margin-bottom: 10px;*/
}
/*.gallery + *{}*/
.twoImages{
    margin: 10px 50px 10px 0px;
    /*break-after: always;*/
    /*white-space: nowrap;*/
    min-height: 160px;
    width: 480px;
}
.twoImages * {
    width: 235px;
}
.overview_page_block b, .overview_page_block strong{
    /*font:bold 11px/17px Arial,sans-serif;*/
	display: block;
	padding-bottom: 4px;
 }
 .overview_page_block a.textLink{
	float: none;
	left: 120px;
 }
  .overview_page_block a.textLink img{
		width: auto;
		height: auto;
  }

 div.hbC-title {margin: 0px;}
 .hbC-menu + .hbC-details{display: block; }
/*.smart .something{}*/

/*.container-pdf{
	width: 780px;
}*/
.container-pdf .pdf-header{
	font-size: 20px;
	font-family: 'DaimlerCS-Regular';
    line-height: 30px;
}
.container-pdf .row{
	padding: 0px 0 118px 0;
}
.container-pdf .column .left{
	margin: 0 0 0 170px;
}
.container-pdf .pdf-body{
/*	width: 740px;*/
	margin: 50px 0 0 0;
}
.container-pdf .date{
	float: left;
    margin: 4px 0 0 20px;
    font-size: 14px;
    line-height: 20px;
}
.container-pdf .rating{
	float: right;
	margin-right: 80px;
}
.container-pdf .pdf-tags{
	margin-left: 20px;
    color: #000;
    display: block;
    margin: 0 20px 5px 20px;
    padding: 4px 0 4px 0px;
    font-size: 14px;
    line-height: 20px;
/*    background-image: url("../img/template/svg/tags.svg");*/
    background-position: left 8px;
    background-repeat: no-repeat;
    background-size: 14px auto;
}

.container-pdf .pdf-tags img{
    height: 14px;
    margin-bottom: 2px;
    margin-right: 6px;
    vertical-align: middle;
}
.container-pdf .middle_page_text,
body.smart .container-pdf .middle_page_text{
    padding: 0 20px;
	width:660px;
	font-size:17px;
	line-height:22px;
}
.downloadCol2 p,
.downloadCol2 div{
    font-size: 17px;
}

.container-pdf .middle_page_text ul, .container-pdf .middle_page_text ol {
    padding-left: 20px;
}

.container-pdf .middle_page_text #content_main h1{
	width:100%;
    line-height: 26px;
    margin-bottom: 25px;
    font-size: 24px;
}
.middle_page_text #content_main > h1, .comment-form h1,
.middle_page_text #content_main p,
.middle_page_text #content_main ul,
.middle_page_text #content_main ol{
    margin-bottom: 25px;
}
.middle_page_text #content_main p,
.middle_page_text #content_main ul,
.middle_page_text #content_main ol{
    line-height: 24px;
}
.middle_page_text #content_main > h1 + p{
    padding-top: 0;
}

body.smart .container-pdf .middle_page_text #content_main h1,
body.smart .container-pdf .middle_page_text #content_main h1>small{
    font-weight: normal;
    font-family: 'Smart Bold';
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing : grayscale;
}
body .container-pdf .middle_page_text a,
body.smart .container-pdf .middle_page_text a:hover{
	color:#000;
    pointer-events: none;
    cursor: default;
}

.container-pdf .pdf-sub-title{
	width: 100%;
    margin: 25px 0 0 20px;
    font-size: 24px;
    font-family: 'DaimlerCS-Regular';
    line-height: 30px;
}
/*.container-pdf .pdf-body img{
	margin: 34px 0 0 22px;
}*/
.container-pdf .pic-sub-title{
	margin:20px 0 0 24px;
	font-size: 14px;
	font-family: 'DaimlerCS-Regular';
	font-weight: bold;
    line-height: 20px;
}
.container-pdf .pic-title-description{
	font-size: 24px;
	font-family: 'DaimlerCS-Regular';
    line-height: 30px;
}
.container-pdf .pic-description{
	margin: 46px 0 0 24px;
    font-size: 18px;
    font-family: 'DaimlerCS-Regular';
    line-height: 30px;
}
.container-pdf .stats{
    display: block;
    margin: 0 29px 0 0;
    font-size: 14px;
    line-height: 20px;
    float: right;
    color: #000;
}

.container-pdf .comments,
.container-pdf .rate,
.container-pdf .views{
    text-align: center;
    float: right;
	margin-right:12px;
    line-height: 28px;
}

.container-pdf .comments img,
.container-pdf .rate img,
.container-pdf .views img{
	float:left;
	margin-right:5px;
}

.container-pdf .views img{
	margin-top:1px;
}

.container-pdf .rate img{
	margin-top:-3px;
}

.container-pdf .comments img{
	margin-top:3px;
}

.container-pdf .header_image {
	width: 180px;
	float: left;
	margin: 76px 0px 0px 20px;
	border: medium none;
}

body.smart .container-pdf .header_image {
	float:right;
    margin-right: 20px;
    margin-top: 0;
    width: 122px;
}

.container-pdf .pdf-header{
	float: right;
	margin: 77px 20px 0 0px;
}

body.smart .container-pdf .pdf-header{
	float:left;
	margin-left:20px;
}
.container-pdf .print-footer{
	margin: 0 auto;
	margin-top: 36px;
	margin-bottom: 27px;
	width: 720px;
	padding: 27px 0 0 20px;
	border-top: 1px solid #000000;
}
.container-pdf .print-footer p{
	margin: 0 0 0 0;
	font-size: 14px;
	font-family: 'DaimlerCS-Regular';
	color: #000000;
    line-height: 20px;
}
.container-pdf .print-date{
	margin: 27px 0 0 17px;
    font-size: 14px;
    font-family: 'DaimlerCS-Regular';
    font-weight: bold;
    line-height: 20px;
}
.container-pdf .more-print-info{
	margin: 23px 0 17px 18px;
    font-size: 14px;
    font-family: 'DaimlerCS-Regular';
    line-height: 20px;
}

.container-pdf a.image_layover:hover:after,
.container-pdf a.gallery_layover:hover:after,
.container-pdf a.explainer_layover:hover:after,
.container-pdf div.grid-3cols div.page div.image:hover:after,
.container-pdf div.grid-3cols div.page a:hover div.image:after{
    opacity:0;
}

.image_wrapper{margin:0px;width:100%;}

.image_item {float:none;}
.image_item .image_container{float:none;}
.image_wrapper.gallery .image_item,
.explainer .explainer_gallery .image_container{
    margin-bottom: 25px;
}

.image_wrapper.gallery .image_item:last-child,
.explainer .explainer_gallery .image_container:last-child{
    margin-bottom: 0;
}

.image_formatter_ie {
    line-height: 1px;
    box-sizing: border-box;
	position: static;
	color: #000000;
	width: 100%;
	padding-left: 0px;
	float: left;
}

body.smart .image_item .image_text,
.image_text {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
	position: static;
	color: #000000;
	width: 100%;
	padding-left: 0px;
	float: left;
}

.middle_page_text #content_main .image_text p:last-of-type{
    margin-bottom: 0;
}

div.downloadDiv {
	width:100%;
}

div.downloadCol2 {
	 padding-left: 0;
    width: 540px;
}

body.smart .container-pdf .middle_page_text h1,
body.smart .container-pdf .pdf-sub-title,
body.smart .container-pdf .pic-sub-title,
body.smart .container-pdf .pic-title-description,
body.smart .container-pdf .print-footer p,
body.smart .container-pdf .print-date,
body.smart .container-pdf .more-print-info{
	font-family:"Smart Special",​Verdana;
}
body.smart .container-pdf .pdf-header{
    font-weight: normal;
    font-family: 'Smart Bold';
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing : grayscale;
    margin-top: 134px;
}
.downloadCol1{
    margin-bottom: 25px;
}
div.text-item:first-of-type{
    margin-bottom: 30px;
    margin-top: 0;
}

.middle_page_text a{
	color: #2c6b8c;
	text-decoration:underline;
}

div.downloadCol1{
	padding-bottom:39px;
}

div.downloadCol1 div.tags{
	margin-bottom:0px;
}

.image_item .image_container{
	text-align:left;
}
.pre-left{
    margin-left: 0;
}
.pre-right{
    margin-right: 0;
}
.pre-left,
.pre-right,
.quote{
    background-color: #9e9e9e !important;
    -webkit-print-color-adjust: exact;
}
#downloadsForm{
    width:100%;
}
.middle_page_text img.zoom,
.middle_page_text img.inline_zoom,
.middle_page_text img.explainer,
.middle_page_text img.gallery,
.image_item .image_container,
.image_item a img{
    max-width: 492px;
    max-height: 345px;
}
.image_wrapper.first_image .image_item .image_container{
    width: 492px;
    height: 345px;
    line-height: 345px;
}
.middle_page_text :not(#answers) table, .middle_page_text table:not([class]),
.middle_page_text #content_main > h1,
.middle_page_text #content_main > h2,
.middle_page_text #content_main > h3,
.middle_page_text #content_main > h4,
.middle_page_text #content_main > h5,
.middle_page_text #content_main > h6,
.middle_page_text #content_main > p,
.middle_page_text #content_main > hr,
.middle_page_text #content_main > div.overview_page_block,
.middle_page_text #content_main > table,
.middle_page_text #content_main > ul,
.middle_page_text #content_main > ol,
.middle_page_text #content_main > span,
.comment-form h1{
    width: 100%;
}
.middle_page_text #content_main p + table{
    margin: 0 0 25px;
}
.middle_page_text #content_main p+h1{
    margin-top: 0;
}
.heading-row.downloads p.subline,
.middle_page_text #content_main p.subline{
    margin-bottom: 5px;
    padding-top: 0;
}
.middle_page_text #content_main table+table{
    margin-top: 0;
}
.middle_page_text :not(#answers) table, .middle_page_text table:not([class]){
    margin-left: 0;
    margin-bottom:25px;
}
.heading-row.downloads p.notice,
.middle_page_text #content_main p.notice,
.notice{
    margin-bottom: 0;
}
.middle_page_text #content_main p+ol,
.middle_page_text #content_main p+ul{
        margin-top: -28px;
}
.middle_page_text ul{
    list-style: none;
}

.middle_page_text #content_main>ul,
ul {
    margin-left: 25px;
}
.middle_page_text #content_main>ol,ol{
    margin-left: 45px;
    list-style-position: outside;
}
.container-pdf .middle_page_text ul,
.container-pdf .middle_page_text ol{
    padding-left: 0;
}
body.smart .container-pdf .middle_page_text ul,
body.smart .container-pdf .middle_page_text ol {
    margin-left: 0;
}
body.smart .container-pdf .middle_page_text ul li {
    padding-left: 17px;
}
.container-pdf .middle_page_text ul li{
    padding-left: 20px;
}
ul, ul li{
    position: relative;
}
ul li:before{
    font-family:'Arial';
    content: '\25CF';
    position: absolute;
    left: 0;
    top:0px;
}
#content_main h1 > small,
#content_main h1 > span > small,
#content_main h1 > strong > small,
.comment-form h1>small,
.middle_page_text #content_main h1>small{
    font-size: 18px;
    line-height: 24px;
    font-family: DaimlerCS-Bold;
}
iframe {
    display: none;
}
.transition-element {
    margin-bottom: 0;
}
.transition-element,
.transition-wrapper,
.transition-background {
    width: 660px;
    box-sizing: border-box;
}
.transition-background p {
    width: 100%;
}
.transition-background {
    margin: 0;
    background: transparent;
    padding: 0 0 25px;
}
.transition-wrapper::after {
    display: none;
}
a.transition-btn {
    visibility: hidden;
    padding: 0;
    margin: 0;
    line-height: 24px;
    display: inherit;
}
a.transition-btn[href]:after {
    content: attr(href);
    text-decoration: underline;
    visibility: visible;
    background: transparent;
    color: #000;
    padding: 0;
    float: left;
    font-family: DaimlerCS-Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    line-height: 17px;
}
