/* No Touch devices */
.cd-nav-trigger {
  display: none;
}

.no-touch #cd-vertical-nav {
  position: absolute;
  right: 25px;
  /* top: 218px; */
  bottom: auto;
  margin-right: 10px;
  padding-top:10px;
}

.no-touch #cd-vertical-nav.sticky {
  position: fixed;
  top:48px !important;
}
.no-touch #cd-vertical-nav li {
  text-align: right;
  list-style-type: none;
  line-height: 20px;
  position: relative;
  /* margin-bottom: 22px; */
}
.no-touch #cd-vertical-nav .form_item li {
    margin-bottom: 20px;
}
.no-touch #cd-vertical-nav a {
  display: block;
  width: 50px;
  height: 30px;
  padding-right: 5px;

  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;


  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;

  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;

}
.no-touch #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
.no-touch #cd-vertical-nav a span {
  float: right;
  display: inline-block;
}

.no-touch #cd-vertical-nav a:hover {
  background-color: #00677f;
  color: #ffffff;
  margin: 0px;
}
.no-touch #cd-vertical-nav a.popup-close:hover{
     background:url("../img/template/svg/remove-1-hover.svg") no-repeat scroll center center / 14px auto;
     cursor: pointer;
}

.no-touch #cd-vertical-nav a.is-selected:not(:hover) .cd-label {
  color: #000;
  background: #FFF;
}

.no-touch #cd-vertical-nav a:hover .cd-label,
.no-touch #cd-vertical-nav a.is-selected .cd-label
{
  display:inline;
  opacity:1;
}

.no-touch #cd-vertical-nav:hover a:not(:hover) .cd-label
{
  display:none;
}

.no-touch #cd-vertical-nav a:hover .cd-label
{
  color: #ffffff;
  z-index: 9999;
}

.no-touch #cd-vertical-nav ul.dot_items
{
/*	min-height:340px;*/
    margin-bottom: 10px;
}

.no-touch #cd-vertical-nav li.dots a.is-selected .cd-dot {
  border: 5px solid #000000;
  background-color: #ffffff;
  margin: 0;
  margin-right: 2px;
}
.no-touch #cd-vertical-nav li.dots a:hover .cd-dot{
	border: none;
	background-color: #ffffff;
    margin: 4px 7px 7px 10px;
}
.no-touch #cd-vertical-nav li.dots .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 5px;
  height: 10px;
  width: 10px;

  margin: 4px 7px 7px 10px;
  border-radius: 50%;
  background-color: #9e9e9e;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
}

/*.no-touch #cd-vertical-nav li.right-menu-item.first {
	margin-top: 150px;
}*/

.no-touch #cd-vertical-nav li.right-menu-item .cd-dot {
	position: relative;
	margin: 0;
	-webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
	-moz-transition: -moz-transform 0.2s, background-color 0.5s;
	transition: transform 0.2s, background-color 0.5s;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: 24px;
	width: 24px;
	height: 24px;


}
.no-touch #cd-vertical-nav li#add-icon .cd-dot {
	background-image: url('../img/template/svg/watchlist-add.svg');
	margin: 3px 0 0;
}
.no-touch #cd-vertical-nav li#add-icon a:hover .cd-dot {
	background-image: url('../img/template/svg/watchlist-add-w.svg');
}
.no-touch #cd-vertical-nav li#remove-icon .cd-dot {
	background-image: url('../img/template/svg/watchlist-remove.svg');
	margin: 5px 0 0;
}
.no-touch #cd-vertical-nav li#remove-icon a:hover .cd-dot {
	background-image: url('../img/template/svg/watchlist-remove-hover.svg');
}
.no-touch #cd-vertical-nav li#rate-icon .cd-dot {
	background-image: url('../img/template/svg/rate-black.svg');
	margin: 1.5px 0 0;
}
.no-touch #cd-vertical-nav li#rate-icon a:hover .cd-dot {
	background-image: url('../img/template/svg/rate-black-hover.svg');
}
.no-touch #cd-vertical-nav li#print-icon .cd-dot {
	background-image: url('../img/template/svg/print.svg');
	margin: 2px 0 0;
}
.no-touch #cd-vertical-nav li#print-icon a:hover .cd-dot {
	background-image: url('../img/template/svg/print-hover.svg');
}
.no-touch #cd-vertical-nav li#save-icon .cd-dot {
	background-image: url('../img/template/svg/pdf.svg');
	margin: 3px 0 0;
}
.no-touch #cd-vertical-nav li#save-icon a:hover .cd-dot {
	background-image: url('../img/template/svg/pdf-w.svg');
}
.no-touch #cd-vertical-nav li#download-icon .cd-dot {
	background-image: url('../img/template/svg/download.svg');
	margin: 5px 0 0;
}
.no-touch #cd-vertical-nav li#download-icon a:hover .cd-dot {
	background-image: url('../img/template/svg/download-white-hover.svg');
}
.no-touch #cd-vertical-nav li#links-icon .cd-dot {
	background-image: url('../img/template/svg/links.svg');
	margin: 5px 0 0;
}
.no-touch #cd-vertical-nav li#links-icon a:hover .cd-dot {
	background-image: url('../img/template/svg/links-hover.svg');
}
.no-touch #cd-vertical-nav li#links-icon div.popup,
.no-touch #cd-vertical-nav li#download-icon div.popup{
	position: absolute;
	width: 300px;
	height: auto;
	visibility:hidden;
	background-color: #ffffff;
	border: solid 1px #c8c8c8;
	bottom: 0;
	right: -20px;
	text-align: left;
    z-index: 9999;
}
.no-touch #cd-vertical-nav li#links-icon div.popup h2,
.no-touch #cd-vertical-nav li#download-icon div.popup h2{
    font-size: 24px;
    font-weight: normal;
    line-height: 48px;
    margin: 36px 20px 16px 40px;
	padding: 0px;
    width: 200px;

	background-repeat: no-repeat;
	background-position: left center;
	background-size: 24px;
	/*background-image: url('../img/template/svg/links.svg');	*/

}
.no-touch #cd-vertical-nav li#links-icon div.popup a.popup-close,
.no-touch #cd-vertical-nav li#download-icon div.popup a.popup-close{
	right: 40px;
}
.no-touch #cd-vertical-nav li#links-icon div.popup ul,
.no-touch #cd-vertical-nav li#download-icon div.popup ul{
    float: left;
    margin: 0 20px;
    padding: 0;
    width: calc(100% - 40px);
    padding-bottom: 50px;
}
.no-touch #cd-vertical-nav li#links-icon div.popup ul li,
.no-touch #cd-vertical-nav li#download-icon div.popup ul li{
	border-bottom: 1px solid #c8c8c8;
    border-top: 1px solid #c8c8c8;
    margin: -1px 0 0;
    padding: 14px 0;
    width: 100%;
	float: left;
	line-height: 22px;
}

.no-touch #cd-vertical-nav li#links-icon div.popup ul li a,
.no-touch #cd-vertical-nav li#download-icon div.popup ul li a{
	width: calc(100% - 40px);
	text-align: left;
	padding: 0 20px;

	color: #000000;
    float: left;
    font-size: 14px;
    height: 100%;
}

.no-touch #cd-vertical-nav li#links-icon div.popup ul li:hover,
.no-touch #cd-vertical-nav li#download-icon div.popup ul li:hover{
	background-color: #00677f;
}
.no-touch #cd-vertical-nav li#links-icon div.popup ul li:hover a,
.no-touch #cd-vertical-nav li#download-icon div.popup ul li:hover a{
	color: #ffffff;
}

.no-touch #cd-vertical-nav .cd-label {
	display:none;;
  position: absolute;
  margin: 0;
  padding: 9px 10px 7px 20px;
 /*  color: #a0928c; */
  color: #584a45;
  background-color: #00677f;
  font-size: 14px;
  line-height: 14px;
  opacity: 0;
  width: 200px;
  /*
  text-align: left;
  */
  text-align: right;
  /* white-space: nowrap; */

  bottom: 0;
  right: 35px;
  text-transform: uppercase;

}

.no-touch #cd-vertical-nav li.dots:first-child .cd-label{
	top:0px;
	bottom:auto;
}


/* Touch devices */
/*.touch .cd-nav-trigger {
  display: none;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 0.25em;
  background: rgba(255, 255, 255, 0.9);
}
.touch .cd-nav-trigger span {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #3e3947;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
}
.touch .cd-nav-trigger span::before {
  top: -9px;
}
.touch .cd-nav-trigger span::after {
  bottom: -9px;
}

.touch #cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.9);
}
.touch #cd-vertical-nav a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}
.touch #cd-vertical-nav a span:first-child {
  display: none;
}
.touch #cd-vertical-nav a.is-selected span:last-child {
  color: #d88683;
}
.touch #cd-vertical-nav.open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger {
  background-color: transparent;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span {
  background-color: rgba(62, 57, 71, 0);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  background-color: #3e3947;
  height: 3px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
}
.touch #cd-vertical-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .touch .cd-nav-trigger, .touch #cd-vertical-nav {
    bottom: 40px;
  }
}*/
