@font-face{
    font-family: 'Smart Light';
    src: url('../webfonts/smart/FORsmartLight.eot');
    src: url('../webfonts/smart/FORsmartLight.eot?#iefix') format('embedded-opentype'),
         url("../webfonts/smart/FORsmartLight.ttf") format("truetype"),
         url('../webfonts/smart/FORsmartLight.woff2') format('woff2'),
         url('../webfonts/smart/FORsmartLight.woff') format('woff'),
         url('../webfonts/smart/FORsmartLight.svg#FORsmartLight') format('svg');
    font-weight: normal;
}

body.smart,
body.smart .flyout_search  input#search2,
body.smart #searchDiv  input#search,
body.smart div#tools div.tools_wrap ul.footer_tools li#help div#help-formular textarea,
body.smart div#tools div.tools_wrap ul.footer_tools li#help div#help-formular input[type=text],
body.smart #cookie_notification h1,
body.smart #cookie_notification h1 small,
body.smart #personal .btn,
body.smart .button,
body.smart .redButton,
body.smart svg text,
body.smart div.downloads div.page div.image svg text,
body.smart div.downloadDiv div.image svg text,
body.smart .ui-widget-content,
body.smart .middle_page_text a.tooltip > span > b,
body.smart div#topLinks div#login-formular input[type="text"],
body.smart div#topLinks div#login-formular input[type="password"],
body.smart div#topLinks div#login-formular input[type="submit"]{
    font-family: 'Smart Light', Verdana;
}

/*Header*/
#brandMenu h3,
#subsidiaries h3{
    font-family: 'Smart Light', Verdana;
}

body.smart .poi,
body.smart .poi.left:after,
body.smart .poi.right:after,
body.smart .poi.up:after,
body.smart .poi.down:after{
    background:#E6007D;
    font-family: 'Smart Special', Verdana;
    line-height: 23px;
}
body.smart .search-description-field{
        border-color: #f0f0f0;
}

body.smart div.goUp a:hover{
    background-image: url("../img/template/svg/arrow-up_s.svg");
}

body.smart div.goDown a:hover{
    background-image: url('../img/template/svg/arrow-down_s.svg');
}

div.downloadCol1 div.actions a.now,
body.smart div.downloadCol1 div.actions a.cart{
    text-transform: none;
    font-size: 16px;
}
body.smart div.downloadCol1 div.actions a.cart:hover,
body.smart div.downloadCol1 div.actions a.now:hover{
    background-color: #f6ba35;
}

.hBlockRight,
.hBlockLeft,
body.smart div.carouselNav .carouselRight,
body.smart div.carouselNav .carouselLeft{
    background-color: #f6ba35;
}
#alerts, #cookie_notification, #provider_privacy{
        background-color: #f6ba35;
}

/***    FAQ     ***/
.faq-container .related-links ul li{
    border-color: #CCCCCC;
}
.faq-container .related-links ul li:hover,
.faq-container .current,
.faq-container .current:hover{
    background-color:  #f6ba35;
}

body.smart .faq-list-menu .category_title,
body.smart .faq-container .second-ul .faq_title_row .faq_title{
    font-weight: normal;
    font-family: 'Smart Bold';
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing : grayscale;
}
body.smart .faq-container .first-ul{
    border-color: #f0f0f0;
}
body.smart .faq-container .second-ul{
    background: #f0f0f0;
}

body.smart .faq-container .close-toggle-two:hover{
    background-image: url("../img/template/svg/subtract-s.svg");
}
body.smart .faq-container .vote-icon-front,
body.smart .faq-container .vote-icon{
    color:#969da3;
}
body.smart .faq-container .second-ul:hover,
body.smart .faq-container .first-ul:hover{
	background: #f6ba35;
}
body.smart .faq-container .current.first-ul:hover{
    color: #fff;
}

body.smart .faq-container .vote-icon-front,
body.smart .faq-container .vote-icon{
        background-image: url('../img/template/svg/rate-black.svg');
}
body.smart .faq-container .vote-icon:hover{
	background-image: url('../img/template/svg/thumbs-up-1.svg');
}

.faq-container .second-ul .faq_title_row:hover .vote-icon-front{
    background-image: url('../img/template/svg/rate-black-hover.svg');
    color: #fff;
}

body.smart .faq-container .faq-title,
body.smart .faq-container .quetion-info .toggle-two-title,
body.smart .faq-container .related-links-title-form,
#content_main h1 > small,
#content_main h1 > span > small,
#content_main h1 > strong > small {
    font-weight: normal;
    font-family: 'Smart Bold';
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing : grayscale;
}

/***    RIGHT NAVIGATION   ***/
body.smart #cd-vertical-nav .dot_items .dots .cd-label,
.no-touch #cd-vertical-nav a:hover .cd-label{
    line-height: 20px;
    text-transform: none;
}
.no-touch #cd-vertical-nav li.dots .cd-dot{
    border-radius: 0;
}
.no-touch #cd-vertical-nav .cd-label{
    font-size: 16px;
}

/***FOOTER***/
body.smart section #footer_wrap ul.metalinks li a:hover{
    background-color: #f6ba35;
}
section #footer_wrap ul.metalinks li a{
    text-transform: none;
    font-size: 16px;
}

div#tools div.tools_wrap ul.footer_tools li a{
   font-size: 16px;
   text-transform: none;
}
div#tools div.tools_wrap div.user_tools div#profile{
    font-size: 13px;
}
body.smart section #footer_wrap ul.metalinks li{
    border-color: #CCCCCC;
}
div#tools div.tools_wrap div.user_tools div#profile div.popup a.forgoten{
    color:#000;
    float: right;
    margin-right: 20px;
    margin-left: 0;
}

div#tools div.tools_wrap ul.footer_tools li#help div#help-formular input[type=submit],
div#tools div.tools_wrap div.user_tools div#profile div#login-formular input[type="submit"],
div#tools div.tools_wrap div.user_tools div#profile div#login-formular input[type="text"],
div#tools div.tools_wrap div.user_tools div#profile div#login-formular input[type="password"] {
    font-family: 'Smart Light', Verdana;
}

/* Calendar*/
.ui-datepicker table.ui-datepicker-calendar,
.ui-datepicker div.ui-datepicker-header,
.ui-datepicker.ui-widget{
     font-family: 'Smart Light', Verdana;
}

body.smart .container-pdf .middle_page_text h1,
body.smart .container-pdf .more-print-info,
body.smart .container-pdf .pdf-sub-title,
body.smart .container-pdf .pic-sub-title,
body.smart .container-pdf .pic-title-description,
body.smart .container-pdf .print-date,
body.smart .container-pdf .print-footer p{
	font-family: 'Smart Light', Verdana;
}
.heading-row.downloads p.notice, .middle_page_text #content_main p.notice, .notice{
    margin-bottom: 10px;
}
.middle_page_text #content_main>ul, ul{
    margin-left: 0;
    padding-left: 0;
}
body.smart .middle_page_text ul li{
    padding-left: 20px;
}
.middle_page_text #content_main>ol, ol{
    margin-left: 0;
}