@font-face{
    font-family: 'FORsmartNextRegular';
    src: url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Regular.eot');
    src: url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Regular.eot?#iefix') format('embedded-opentype'),
         url("../webfonts/smart/newSmartFonts/FORsmartNextWeb-Regular.ttf") format("truetype"),
         url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Regular.woff2') format('woff2'),
         url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Regular.woff') format('woff'),
         url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Regular.svg#FORsmartLight') format('svg');
    font-weight: normal;
}

@font-face{
    font-family: 'FORsmartNextBold';
    src: url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Bold.eot');
    src: url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url("../webfonts/smart/newSmartFonts/FORsmartNextWeb-Bold.ttf") format("truetype"),
         url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Bold.woff2') format('woff2'),
         url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Bold.woff') format('woff'),
         url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Bold.svg#FORsmartLight') format('svg');
    font-weight: normal;
}

body.smart,
body.smart .flyout_search  input#search2,
body.smart #searchDiv  input#search,
body.smart div#tools div.tools_wrap ul.footer_tools li#help div#help-formular textarea,
body.smart div#tools div.tools_wrap ul.footer_tools li#help div#help-formular input[type=text],
body.smart div#tools div.tools_wrap ul.footer_tools li#help div#help-formular span,
body.smart #cookie_notification h1,
body.smart #cookie_notification h1 small,
body.smart #personal .btn,
body.smart .button,
body.smart .redButton,
body.smart svg text,
body.smart div.downloads div.page div.image svg text,
body.smart div.downloadDiv div.image svg text,
body.smart .ui-widget-content,
body.smart .middle_page_text a.tooltip > span > b,
body.smart input,
body.smart div#topLinks div#login-formular input[type="text"],
body.smart div#topLinks div#login-formular input[type="password"],
body.smart div#topLinks div#login-formular input[type="submit"]{
    font-family: "FORsmartNextRegular", Arial, 'Roboto', "SF Compact Text",sans-serif !important;
    text-rendering: optimizeLegibility;
}
/* New font sizes */
div#topLinks div#language a {
  font-size: 10px;
}

div#topLinks div#privacy a,
div.overview div.date,
.stats span,
div.downloadCol1 div.date,
div.table-item label,
footer .user_tools a,
div#copyrights,
#menu_slider .slider_element .title span,
div.grid-4cols div.date,
.level3_nav li .level4_nav > li label,
.filter_value,
form#filter-panel-selected label,
div#topLinks div#profile a,
div#topLinks div#privacy a,
.brand_subchild > li a,
.brand_group > a,
div#tools div.tools_wrap ul.footer_tools li#help div#help-formular textarea,
div#tools div.tools_wrap ul.footer_tools li#help div#help-formular #messageText_wrapper,
div#tools div.tools_wrap ul.footer_tools li#help div#help-formular input[type=text],
body.smart .middle_page_text #content_main .image_item .image_text p,
#notificationWrapper .alert_text {
  font-size: 12px;
}

ul.multi_nav li > a,
.notice > span {
  font-size: 13px;
}

body.smart div#navContainer ul#brandNav li.brandSelect a, 
body.smart div#navContainer ul#brandNav li#brandLabel a,
div#navContainer ul#brandNav li.brandSelect a, 
div#navContainer #rubrics_wrapper ul#rubrics li a, 
body.smart div#navContainer ul#brandNav li#brandLabel a,
section.downloads_overview h1.block_title + a,
.tree-nav-item > li h3 a {
  font-size: 14px;
}
.notice > span,
body.smart .middle_page_text #content_main p.notice,
.middle_page_text #content_main .image_item .image_text p,
#notificationWrapper .alert_text {
  line-height: 20px !important;
}

section #footer_wrap div.text_area p {
    font-size: 16px;
    line-height: 26px !important;
}
ul.multi_nav a,
.menu_carousel .slider_title,
div.table-item,
body.smart li.filter_title,
.alert_text,
#alerts a.ok_button, #cookie_notification a.ok_button, #provider_privacy a.ok_button,
.faq-list-menu .second-ul .faq_title,
.faq-container .quetion-info p,
body.smart .middle_page_text #content_main p,
.nav_buttons .nav_button,
#related_wrapper .related_links a {
  font-size: 16px;
}
.faq-container .quetion-info p,
body.smart .middle_page_text #content_main p {
  line-height: 26px !important;
}
div.flyout_search input#search2 {
  font-size: 18px;
}
div.downloadCol1 div.link,
.alert_title {
  font-size: 20px;
}
body.smart div.overview div.title{
  font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;
  font-size: 21px;
}
.banner_text_wrapper p,
div#tools div.tools_wrap ul.footer_tools li#help div#help-formular h2,
#searchDiv input#search,
.faq-container .first-ul,
.faq-container .quetion-info .toggle-two-title,
.middle_page_text #content_main h1 > small, .comment-form h1 > small,
body.smart .middle_page_text #content_main p.subline,
.related_links h2 {
  font-size: 21px;
}
.middle_page_text #content_main h1 > small, .comment-form h1 > small {
  line-height: 30px !important;
}
div.grid-3cols div.title span {
  font-size: 22px;
}

section #footer_wrap div.text_area h2 {
    font-size: 41px;
    line-height: 48px;
}
.faq-container .faq-title,
.middle_page_text #content_main > h1 {
  font-size: 41px;
}

/* New font sizes END */

strong, b,
body.smart #notificationWrapper .alert_title{
    font-weight: normal;
    font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing : grayscale;
    font-weight: normal;
}

body.smart div#topLinks div#watchlist span.counter,
body.smart div#topLinks div#downloads span.counter,
/* body.smart div#navContainer ul#rubrics li a:hover, */
body.smart div#navContainer a.search_button:hover,
body.smart .hBlockLeft:hover,
body.smart .hBlockRight:hover,
body.smart div#view-controls a:hover, body.smart div#view-controls a.active,
body.smart a.black_button:hover,
body.smart a.prev:hover,
body.smart a.next:hover,
body.smart a.prev,
body.smart a.next,
body.smart .pages li.active,
body.smart .pages li:hover,
body.smart footer.no-sticky #footer_wrap ul.metalinks li a:hover,
body.smart div#tools div.tools_wrap ul.footer_tools li:hover,
body.smart div#tools div.tools_wrap ul.footer_tools li#help div#help-formular input[type=submit]:hover,
body.smart div#tools div.tools_wrap ul.footer_tools li div.popup a.black_button:hover,
body.smart div#tools div.tools_wrap div.user_tools div#watchlist span.counter,
body.smart div#tools div.tools_wrap div.user_tools div#downloads span.counter,
body.smart #personal .btn, .button,
body.smart .level3_nav li .level4_nav li.active a,
body.smart .level3_nav li .level4_nav li a:hover,
body.smart .menu-text:hover,
body.smart div.carouselNav .carouselRight:hover,
body.smart div.carouselNav .carouselLeft:hover,
body.smart div#topLinks div#watchlist span.counter,
body.smart div#topLinks div#downloads span.counter,
body.smart div#navContainer ul#brandNav li.brandSelect:hover,
.no-touch #cd-vertical-nav li#links-icon div.popup ul li:hover,
.no-touch #cd-vertical-nav li#download-icon div.popup ul li:hover,
.no-touch #cd-vertical-nav .cd-label,
.no-touch #cd-vertical-nav a:hover,
body.smart #lbPrev.white:hover, #lbPrev.white:visited:hover,
body.smart #lbNext.white:hover, #lbNext.white:visited:hover,
body.smart .slider_block:hover,
body.smart div.overview div.title:hover span,
body.smart div.overview a:hover div.title span,
body.smart div.manuals div.title:hover span,
body.smart div.manuals a:hover div.title span,
body.smart #alerts,
body.smart #link_wrapper:hover a.black_button,
body.smart a.black_button:hover,
body.smart .basic_menu .level3_nav li .level4_nav li.active,
body.smart .basic_menu .level3_nav li .level4_nav li:hover,
body.smart .nav_buttons .nav_button.right:hover,
body.smart .nav_buttons .nav_button.left:hover,
div.downloads div.page div.title:hover span,
div.downloads div.page a:hover div.title span,
body.smart div.grid-4cols div.page div.title:hover span,
body.smart div.grid-4cols div.page a:hover div.title span,
body.smart .ui-widget-content .ui-state-hover,body .ui-widget-content  .ui-widget-content .ui-state-hover,
body.smart .ui-widget-content .ui-widget-header .ui-state-hover,body .ui-widget-content  .ui-state-focus,
body.smart .ui-widget-content .ui-widget-content .ui-state-focus,
body.smart .ui-widget-content .ui-widget-header .ui-state-focus,
body.smart div#tools div.tools_wrap ul.footer_tools li div.popup a.black-button:hover,
body.smart div.popup.profile-formular a:hover,
body.smart .slider_element .page_link:hover .title,
body.smart .related_links ul li:hover,
body.smart #notification,
div.list-view div.page:hover,
.list-hover,
.reset_captcha:hover{
    background-color: #f6ba35;
}
body.smart #notification.red{
     background-color: #FF0000;
}
body.smart #personal .btn, body.smart .button,
body.smart .middle_page_text a.tooltip:hover,
body.smart .hBlockPage:hover:before,
body.smart .hBlockPageActive:before{
    border-color: #f6ba35;
}

body.smart div.overview div.page div.image:after,
body.smart div.carousel_area ul.carousel_menu li a:after,
body.smart div.downloads div.page div.image:after,
body.smart div.grid-4cols div.page div.image:after,
body.smart div.manuals div.page div.image:after,
body.smart a.gallery_layover:after,
body.smart a.image_layover:after,
body.smart a.explainer_layover:after,
body.smart #carousel_img_wrapper:after,
body.smart .slider-image:after {
    background-color:rgba(246,186,53,0.8);
}
/*
body.smart .filter-panel .filter-tags .filter_value{
div#topLinks div#profile div.popup a.forgoten:hover,
div#tools div.tools_wrap div.user_tools div#profile div.popup a.forgoten:hover{
    color:#f6ba35;
}*/

body.smart div#topLinks div#profile a:hover,
body.smart div#topLinks div#privacy:hover a,
body.smart div#topLinks div#language:hover a,
body.smart div#tools div.tools_wrap div.user_tools div#profile a:hover,
body.smart .slider_element .tags,
body.smart div.table-item label{
    color: #969696;
}

body.smart searchDiv,
/*body.smart div.overview div.page div.image,*/
body.smart footer.no-sticky,
body.smart header.no-sticky,
body.smart header.sticky,
/*body.smart div.carousel_area #carousel_img_wrapper,*/
body.smart div.carousel_area ul.carousel_menu,
/*body.smart div.downloads div.page div.image,*/
body.smart div.downloadCol1,
/*body.smart div.manuals div.page div.image,*/
body.smart .middle_page_text a.tooltip > span::after,
body.smart .middle_page_text a.tooltip > span,
/*body.smart .middle_page_text *:not(#answers) tr:nth-child(even),*/
body.smart .slider_container:hover .front_slider,
body.smart #searchDiv,
body.smart div.carousel_area ul.carousel_menu,
body.smart svg,
body.smart div.downloads div.page div.image svg,
body.smart div.downloadCol1,
.user_profile_fields .accept_dialog,
body.smart div.footer_content,
body.smart #related_wrapper{
    background-color: #eeeeee;
}
.no-touch #cd-vertical-nav li.dots .cd-dot{
    background-color:#969696;
}

body.smart .middle_page_text *:not(#answers) tr:nth-child(even){
	 background-color:#ffffff;
}

body.smart .middle_page_text table:not([class]){
    border: none;
}
body.smart div#tools div.tools_wrap div.user_tools,
body.smart footer.no-sticky #footer_wrap ul.metalinks li,
body.smart div.table-item,
body.smart footer.no-sticky #footer_wrap ul.metalinks li,
body.smart div#tools,
body.smart div#tools div.tools_wrap ul.footer_tools li div.popup,
body.smart div#tools div.tools_wrap ul.footer_tools li#help div#help-formular textarea,
body.smart div#tools div.tools_wrap ul.footer_tools li#help div#help-formular input[type=text],
body.smart div#tools div.tools_wrap ul.footer_tools li#help div#help-formular img.captcha_img ,
body.smart div#tools div.tools_wrap ul.footer_tools li#help div#help-formular .reset_captcha
body.smart div#tools div.tools_wrap ul.footer_tools li div.popup ul li,
body.smart .basic_nav,
body.smart .level3_nav li,
body.smart .level3_nav li .level4_nav,
body.smart .filter_filters .filter,
body.smart .filter_filters .filter .filter_content,
body.smart ul.menu li,
body.smart footer.no-sticky #footer_wrap ul.metalinks li,
body.smart div#tools div.tools_wrap div.user_tools,
body.smart .flyout_search  input#search2,
body.smart div.overview div.page div.image:before,
body.smart #carousel_img_wrapper:before,
body.smart div.carousel_area ul.carousel_menu li a:before,
body.smart a.gallery_layover:before,
body.smart a.image_layover:before,
body.smart a.explainer_layover:before,
body.smart div.grid-3cols div.page div.image:before,
#lbImageWrapper:before,
body.smart div.downloads div.page div.image:before,
.LEG_img_container > a :before,
body.smart .galItem a:before,
body.smart .image_item a:before,
body.smart .level3_nav.taxonomic li.active .level4_nav,
body.smart svg,
body.smart div.downloads div.page div.image svg,
body.smart .user_profile_fields input,
body.smart .user_profile_fields select,
body.smart .user_profile_fields textarea,
body.smart .comment-form .headline,
body.smart .comment-form .comment-box,
body.smart div#topLinks div#login-formular input[type="text"],
body.smart div#topLinks div#login-formular input[type="password"],
body.smart div#tools div.tools_wrap div.user_tools div#profile div#login-formular input[type="text"],
body.smart div#tools div.tools_wrap div.user_tools div#profile div#login-formular input[type="password"],
body.smart div#topLinks div.popup,
body.smart div#tools div.tools_wrap div.user_tools .profile-formular,
.related_links ul li,
section.basic_nav_closed wrap div{
    border-color: #CCCCCC;
}


body.smart #searchDiv ul.quicklinks li a,
body.smart div.overview div.stats,
body.smart div.overview div.tags,
body.smart div.downloads div.tags,
vdiv.downloadCol1 div.tags,
body.smart div.manuals div.tags,
body.smart .imgText961,body.smart .imgtext961,
body.smart .image_text,
body.smart div.carouselNav .carouselCounter,
body.smart #brandMenu h3,
body.smart #subsidiaries h3,
body.smart div.best-practice div.stats,
body.smart div.downloadCol1 div.tags{
    color: #969696;
}
body.smart .basic_nav span#menu_close:hover,
body.smart a.popup-close:hover,
body.smart a#closeFlyoutSearch:hover,
body.smart .no-touch #cd-vertical-nav a.popup-close:hover,
body.smart a#closeFlyoutMenu:hover{
    background-image:url("../img/template/svg/remove-1-hover_smart.svg");
}

body.smart #searchDiv ul.quicklinks li{
    border-color: #969696;
}
/*body.smart a.image_layover:after  {
	background-image: url('../img/template/svg/zoom-in_black.svg');
}*/
/*body.smart div.manuals div.page div.image.story-layover:after,
body.smart div.downloads div.page .image.story-layover:after{
    background-image: url('../img/template/svg/story-layover_black.svg');
}*/
/*body.smart a.gallery_layover:after  {
	background-image: url('../img/template/svg/send-to-back.svg');
}*/
/*body.smart a.explainer_layover:after  {
	background-image: url('../img/template/svg/camera-live-view-on_black.svg');
}*/

#alerts a.ok_button,
#cookie_notification a.ok_button,
#provider_privacy a.ok_button{
    background-color: #f6ba35;
    text-transform:none;
    font-size: 16px;
}
#alerts a.ok_button:hover,
#cookie_notification a.ok_button:hover,
#provider_privacy a.ok_button:hover{
    background-color: #f6ba35;

}
/*Header*/
#brandMenu h3,
#subsidiaries h3{
    font-family: "FORsmartNextRegular", Arial, 'Roboto', "SF Compact Text",sans-serif;
    font-size: 16px;
    text-transform: none;
}
#subsidiaries  a:hover {
	border: solid 1px #f6ba35;
}
body.smart div#topLinks div.popup.profile-formular{
    left: 20px;
    right: auto;
    top: 70px;
}
body.smart div#topLinks div#profile.active{
    padding-bottom:30px;
}
body.smart div#header_wrap  div#topLinks div#profile.active:after{
    top:30%;
}
body.smart div#topLinks div#language a{
    text-transform: none;
}
body.smart div#navContainer ul#brandNav li.brandSelect a,
body.smart div#navContainer ul#brandNav li#brandLabel a {
    line-height: 33px;
}

body.smart div#navContainer #rubrics_wrapper ul#rubrics li a{
    line-height: 53px;
}

body.smart .flyout_menu{
   font-family: 'DaimlerCS-Regular', Verdana;
}
body.smart header.no-sticky,
body.smart header.sticky{
    background-image: none;
}
body.smart div#topLinks div#profile {
    left: 20px;
    right: auto;
}
body.smart div#topLinks div#profile.profile_de,
body.smart div#topLinks div#profile.profile_en{
    left:40px;
}
body.smart div#topLinks div#downloads{
    left: 104px;
}
body.smart div#topLinks div#watchlist {
    left: 163px;
}
body.smart div#topLinks div#language{
    left:300px;
}
body.smart div#navigatorLogo{
    text-align: left;
    width: 100%;
    font-family: 'FORsmartNextBold', Arial, Helvetica, "Droid Sans",sans-serif;;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing : grayscale;
    font-weight: normal;
    font-size: 21px;
}
body.smart a.logo_link{
    position: absolute;
    right: 10px;
    top: 0;
    width: auto;
}

body.smart div#navContainer ul#rubrics{
    width: auto;
}
body.smart div#navContainer #rubrics_wrapper ul#rubrics li a,
body.smart div#navContainer ul#brandNav li.brandSelect a,
body.smart div.heading-row h1,
body.smart div.carousel_area h2,
body.smart a.black_button,
body.smart footer.no-sticky #footer_wrap ul.metalinks a,
body.smart div#tools div.tools_wrap ul.footer_tools a,
body.smart #footer_wrap .text_area h2,
body.smart li.filter_title,
.basic_nav .menu_label,
section.basic_nav_closed.filters div,
body.smart .level3_nav > li > a,
.no-touch #cd-vertical-nav .cd-label,
body.smart .block_title,
body.smart section #footer_wrap ul.metalinks li a,
body.smart div.downloads div.title,
body.smart div#help-formular h2 {
    font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing : grayscale;
    font-weight: normal;
}
div#topLinks div#login-formular input[type="submit"],
div#tools div.tools_wrap ul.footer_tools li div.popup a.black-button{
    background-color: #f6ba35;
    text-transform: none;
    font-size: 16px;
}
div#topLinks div#profile div.popup a.forgoten{
    color: #000;
    float: right;
    margin-right: 20px;
    margin-left: 0;
}
body.smart ul.menu li{
    border-bottom: solid 1px #cccccc;
}

div#navContainer ul#brandNav li.brandSelect{
    background-color: #f6ba35;
}

div#navContainer ul#brandNav li.brandSelect a,
div#navContainer #rubrics_wrapper ul#rubrics li a,
body.smart div#navContainer ul#brandNav li#brandLabel a{
    text-transform: none;
}
div#topLinks div#language{
    font-size: 12px;
}
div#topLinks div#privacy,
div#topLinks div#profile.profile_de,
div#topLinks div#profile{
    font-size: 13px;
}
div#topLinks div#profile a#signup{
    width: auto;
}

div#navContainer a.search_button {
    background-color: #f6ba35;
}

body.smart div#navContainer a.search_button.active:hover {
    background-color: #FFFFFF !important;
    background-image: url("../img/template/svg/remove-1-hover_smart.svg");
}

#search2::-webkit-input-placeholder {padding-top: 1px; color: #969696;}
#search2::-moz-placeholder { padding-top: 2px; color: #969696; line-height: 35px} /* firefox 19+ */
#search2:-ms-input-placeholder {color: #969696; padding-top: 4px;} /* ie */
#search2:-moz-placeholder { padding-top: 2px; color: #969696; line-height: 35px}

body.smart #search::-webkit-input-placeholder {padding-top: 2px; color: #969696;}
body.smart #search::-moz-placeholder {line-height: 65px;color: #969696;} /* firefox 19+ */
body.smart #search:-ms-input-placeholder {color: #969696; padding-top: 64px;} /* ie */
body.smart #search:-moz-placeholder { line-height: 65px;color: #969696;}

/*Table*/
body.smart .middle_page_text tr:first-child td,
body.smart .middle_page_text th{
    font-size: 14px;
    font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;
    -webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing : grayscale;
	border-bottom: 2px solid #666;
	vertical-align: bottom;
    font-weight: normal;
}

body.smart .middle_page_text tr:not(:first-child):not(:last-child) td{
	border-bottom:1px solid #ccc;
}

body.smart .middle_page_text td{
	vertical-align:top;
}

body.smart .middle_page_text :not(#answers) table,
body.smart .middle_page_text table:not([class]){
    border-color: #eeeeee;
	border-top:0px none;
	border-bottom:2px solid #666;
}
body.smart .middle_page_text :not(#answers) table{
    background-color: #fff;
}

body.smart .basic_nav .level3_nav li:hover,
body.smart .level3_nav > li.active > a,
div#topLinks div#login-formular input[type="submit"]:hover{
    background-color: #f6ba35;
}
body.smart .basic_nav .level3_nav li.active:hover{
    background-color: transparent;
}
body.smart .basic_nav .level3_nav.taxonomic li:hover li{
    background-color: transparent;
}
body.smart .chb[type="checkbox"] + label:before, .chb[type="radio"] + label:before{
    line-height: 14px;
}
.ie body.smart .chb[type="checkbox"] + label:before, .chb[type="radio"] + label:before{
    line-height: 12px;
}

.level3_nav >li.active:hover{
    background: none;
}
/* body.smart .basic_nav span#menu_close { margin-top: 3px; } */

body.smart .back-button span{
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
}

body.smart .move_up_button span{
    line-height: 26px;
    text-transform: none;
    font-size: 18px;
}
body.smart section.basic_nav_closed span{
    line-height: 19px;
    font-size: 18px;
    text-transform: none;
}
body.smart .back-button:hover,
/*body.smart .move_up_button:hover,*/
body.smart section.basic_nav_closed div:hover,
.level3_nav.hierarchy li.active span{
    background-color: #f6ba35;
}
body.smart .level3_nav li span{
    padding: 10px 45px 10px 20px;
    text-transform: none;
    font-size: 16px;
}
body.smart .level3_nav.taxonomic li span{
    padding-left: 44px;
}
.level3_nav > li > a{
    text-transform: none;
    font-size: 16px;
}
body.smart .level3_nav{
    max-height: calc(100vh - 443px);
}
body.smart .sticky .level3_nav{
    max-height: calc(100vh - 341px);
}
/*
body.smart .level3_nav li:hover{
    background-repeat: no-repeat;
    background-position: 11px 10px;
}
*/
.filter-panel label,
.filter-panel .clear-filter,
.filter-panel-title{
    font-size: 16px;
}
.level3_nav.taxonomic li.active:hover span{
    background-image: url("../img/template/svg/subtract-1.svg");
}


/*.level3_nav li#title_filter,
.level3_nav li#title_filter:before{
	background-image: url('../img/template/svg/dw_navigation/name-normal-smart.svg');
}
.level3_nav li#period_filter,
.level3_nav li#period_filter:before{
    background-image: url('../img/template/svg/dw_navigation/time-period-normal-smart.svg');
}
.level3_nav li#usage_filter,
.level3_nav li#usage_filter:before{
	background-image: url('../img/template/svg/dw_navigation/usage_smart_v2.svg');
}

.level3_nav li#type_filter,
.level3_nav li#type_filter:before{
	background-image: url('../img/template/svg/dw_navigation/file-type-normal-smart.svg');
}

.level3_nav li#view_filter{
	background-image: url('../img/template/svg/dw_navigation/page-views-normal-smart.svg');
}

.level3_nav li#rating_filter{
	background-image: url('../img/template/svg/dw_navigation/rating-normal-smart.svg');
}

.level3_nav li#tags_filter,
.level3_nav li#tags_filter:before{
	background-image: url('../img/template/svg/dw_navigation/tag-normal-smart.svg');
}*/


.ui-widget-content .ui-datepicker-calendar .ui-state-hover.ui-state-default{
    border-color: #f6ba35;
    color: #f6ba35;
}
.ui-widget-content .ui-datepicker-calendar .ui-state-highlight.ui-state-default {
    background-color:  #f6ba35;
    border-color: #f6ba35;
    color: #000;
}

/*bottom nav*/
body.smart .nav_buttons .nav_button,
body.smart footer.no-sticky #footer_wrap div.text_area h2{
    font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;
    font-weight: normal;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing : grayscale;
}
.nav_buttons .nav_button{
    background-color:  #f6ba35;
}

body.smart div#tools div.tools_wrap ul.footer_tools li:hover{
    background-repeat: no-repeat;
}

body.smart  div#tools div.tools_wrap ul.footer_tools li#faq div#faq-formular ul li a{
	line-height:1.4;
	padding-top:4px;
	padding-bottom:4px;
}

/***    CONTENT ***/
body.smart div.heading-row{
    margin-top: 60px;
    margin-bottom:24px;
}

body.smart h1 {
    margin-bottom:24px;
}

body.smart section.downloads_overview .block_title{
    margin-bottom:31px;
}
body.smart div.carousel_area h2{
    padding-top: 55px;
}

body.smart  a.black_button.carousel_href{
    /* top: 304px; */
    /* right: 396px; */
    text-transform: none;
    color: #fff;
    background-color:  #f6ba35;
    font-size: 16px;
}
body.smart .middle_page_text{
    padding-top: 56px;
}
body.smart .content_main{
    width: 740px;
    margin: auto;
}
body.smart .middle_page_text h1,
body.smart .related_links h2,
.no_results h1{
    font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;
    font-weight: normal;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing : grayscale;
}
body.smart .related_links h2{
    text-transform: none;
}
body.smart .basic_nav .level2_title{
    padding-bottom: 33px;
}
body.smart .image_wrapper{
    width: 740px;
}
body.smart .image_item .image_container{
    float: none;
}

body.smart #lbClose:hover,
body.smart div#topLinks div#profile a.popup-close:hover{
    background-image:url('../img/template/svg/remove-1-hover_smart.svg');
}
body.smart #lbEsc{
    right: 47px;
}
body.smart div.carousel_area a#carousel_right:hover {
	background-image: url("../img/template/svg/arrow-right-hover_smart.svg");
}

body.smart div.carousel_area a#carousel_left:hover {
	background-image: url("../img/template/svg/arrow-left-hover_smart.svg");
}

body.smart .image_item .image_container{
	text-align:left;
}

body.smart .image_text,
body.smart .image_item.right_image .image_text{
    padding: 0;
    left: auto;
    bottom: auto;
    margin-top: 9px;
    position: relative;
    float: none;
    width: 100%;
    text-align: left;
}

body.smart a.black_button{
    line-height: 44px;
}

body.smart .middle_page_text a,
body.smart .faq-list-menu .quetion-info a,
body.smart .middle_page_text a:active,
body.smart .middle_page_text a:visited,
body.smart .faq-list-menu .quetion-info a:active,
body.smart .faq-list-menu .quetion-info a:visited,
body.smart .alert_text a,
body.smart .alert_text a:active,
body.smart .alert_text a:visited{
    color: #000;
    text-decoration: underline;
}
body.smart .middle_page_text a.tooltip{
    text-decoration: none;
}

/*body.smart .middle_page_text a:hover,
body.smart .faq-list-menu .quetion-info a:hover,*/
body.smart .alert_text a:hover{
    color: #F6BA35;
}

body.smart .poi,
body.smart .poi.left:after,
body.smart .poi.right:after,
body.smart .poi.up:after,
body.smart .poi.down:after{
    background:#E6007D;
    font-family: "FORsmartNextRegular", Arial, 'Roboto', "SF Compact Text",sans-serif;
    line-height: 23px;
}
body.smart .search-description-field{
        border-color: #eeeeee;
}

body.smart div.goUp a:hover{
    background-image: url("../img/template/svg/arrow-up_s.svg");
}

body.smart div.goDown a:hover{
    background-image: url('../img/template/svg/arrow-down_s.svg');
}

body.smart a.goUp, body.smart a.goUp:hover {
    background-color: #F6BA35;
}

div.downloadCol1 div.actions a.now,
body.smart div.downloadCol1 div.actions a.cart{
    text-transform: none;
    font-size: 14px;
}
body.smart div.downloadCol1 div.actions a.cart:not(.not-active):hover,
body.smart div.downloadCol1 div.actions a.now:hover{
    background-color: #f6ba35;
}
body.smart div.downloadCol1 div.actions a.cart.not-active{
    color:#969696;
    background-image: url("../img/template/svg/basket-not-active-smart.svg");
}
@media screen and (max-width: 1023px) {
    body.smart div.downloadCol1 div.actions a.cart.not-active{
        color:#FFF;
        background-image: url("../img/template/svg/basket-white.svg") !important;
    }
}
.hBlockRight,
.hBlockLeft,
body.smart div.carouselNav .carouselRight,
body.smart div.carouselNav .carouselLeft{
    background-color: #f6ba35;
}
#alerts, #provider_privacy{
    background-color: #f6ba35;
}

/***    FAQ     ***/
.faq-container .related-links ul li{
    border-color: #CCCCCC;
}
.faq-container .related-links ul li:hover,
.faq-container .current,
.faq-container .current:hover{
    background-color:  #f6ba35;
}

body.smart .faq-list-menu .category_title,
body.smart .faq-container .second-ul .faq_title_row .faq_title{
    font-weight: normal;
    font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing : grayscale;
}
body.smart .faq-container .first-ul{
    border-color: #eeeeee;
}
body.smart .faq-container .second-ul{
    background: #eeeeee;
}

body.smart .faq-container .close-toggle-two:hover{
    background-image: url("../img/template/svg/subtract-s.svg");
}
body.smart .faq-container .vote-icon-front,
body.smart .faq-container .vote-icon{
    color:#969696;
}
body.smart .faq-container .second-ul:hover,
body.smart .faq-container .first-ul:hover{
	background: #f6ba35;
}
body.smart .faq-container .current.first-ul:hover{
    color: #fff;
}

body.smart .faq-container .vote-icon-front,
body.smart .faq-container .vote-icon{
        background-image: url('../img/template/svg/rate-black.svg');
}
body.smart .faq-container .vote-icon:hover{
	background-image: url('../img/template/svg/thumbs-up-1.svg');
}

.faq-container .second-ul .faq_title_row:hover .vote-icon-front{
    background-image: url('../img/template/svg/rate-black-hover.svg');
    color: #fff;
}

body.smart .faq-container .faq-title,
body.smart .faq-container .quetion-info .toggle-two-title,
body.smart .faq-container .related-links-title-form,
body.smart .slider_element .title span{
    font-weight: normal;
    font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing : grayscale;
}

/***    RIGHT NAVIGATION   ***/
body.smart #cd-vertical-nav .dot_items .dots .cd-label,
.no-touch #cd-vertical-nav a:hover .cd-label{
    line-height: 20px;
    padding-top: 6px;
    text-transform: none;
    padding-bottom: 4px;
}
.no-touch #cd-vertical-nav li.dots .cd-dot{
    border-radius: 0;
}
.no-touch #cd-vertical-nav .cd-label{
    font-size: 14px;
}

/***FOOTER***/
body.smart section #footer_wrap ul.metalinks li a:hover{
    background-color: #f6ba35;
}
section #footer_wrap ul.metalinks li a{
    text-transform: none;
    font-size: 14px;
}

div#tools div.tools_wrap ul.footer_tools li a{
   font-size: 14px;
   text-transform: none;
}
div#tools div.tools_wrap div.user_tools div#profile{
    font-size: 13px;
}
body.smart section #footer_wrap ul.metalinks li,
body.smart ul.level3_nav.taxonomic:before{
    border-color: #CCCCCC;
}
div#tools div.tools_wrap div.user_tools div#profile div.popup a.forgoten{
    color:#000;
    float: right;
    margin-right: 20px;
    margin-left: 0;
}

div#tools div.tools_wrap ul.footer_tools li#help div#help-formular input[type=submit],
div#tools div.tools_wrap div.user_tools div#profile div#login-formular input[type="submit"],
div#tools div.tools_wrap div.user_tools div#profile div#login-formular input[type="text"],
div#tools div.tools_wrap div.user_tools div#profile div#login-formular input[type="password"] {
    text-transform: none;
    font-size: 14px;
    font-family: "FORsmartNextRegular", Arial, 'Roboto', "SF Compact Text",sans-serif;
}

div#tools div.tools_wrap ul.footer_tools li#help div#help-formular input[type=submit],
div#tools div.tools_wrap div.user_tools div#profile div#login-formular input[type="submit"] {
    background-color: #f6ba35;
}

/* Calendar*/
.ui-datepicker table.ui-datepicker-calendar,
.ui-datepicker div.ui-datepicker-header,
.ui-datepicker.ui-widget{
     font-family: "FORsmartNextRegular", Arial, 'Roboto', "SF Compact Text",sans-serif;
    font-size: 14px;
}

body.smart .ui-datepicker th{
    color: #969696;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary{
    color: #CCCCCC;
}
body.smart .ui-datepicker .ui-datepicker-header .ui-datepicker-prev.ui-state-hover,
body.smart .ui-datepicker .ui-datepicker-header .ui-datepicker-next.ui-state-hover {
    background-color: transparent;
    cursor: pointer;
}
body.smart a.black-button,
body.smart a.black-button:hover{
    background-color: #f6ba35;
    text-transform: none;
    font-size: 16px;
    line-height: 44px;
    font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing : grayscale;
    font-weight: normal;
    color: white;
    text-decoration: none;
}

body.smart div.downloads div.page .download_hover .info_wrapper span{
    text-transform: none;
    font-size: 14px;
    font-family: "FORsmartNextRegular", Arial, 'Roboto', "SF Compact Text",sans-serif;
    font-weight: normal;
    text-transform: uppercase;
/*    line-height: 56px;*/
}
body.smart div.downloads div.page .download_hover .info_wrapper.stats_wrapper span:nth-child(2){
        text-transform: none;
}

body.smart .middle_page_text #content_main ol,
body.smart .middle_page_text #content_main ul,
body.smart .middle_page_text #content_main p,
body.smart .middle_page_text td,
body.smart section #footer_wrap div.text_area p,
body.smart div.carousel_area div.carousel_text,
body.smart .middle_page_text #content_main p.notice
body.smart .nav_buttons .nav_button.left span,
body.smart .nav_buttons .nav_button.right span,
body.smart .faq-container .quetion-info p,
body.smart .middle_page_text #content_main p.notice{
	line-height:1.4;
}

body.smart  .middle_page_text #content_main h1 > small,
body.smart .comment-form h1 > small,
body.smart div.carousel_area h2,
body.smart .faq-container .quetion-info .toggle-two-title,
body.smart .middle_page_text #content_main p.subline{
	line-height:1.25;
}
body.smart .basic_lbLoading > div{
    height: 100%;
    width: 100%;
    display: block;
    margin-bottom: 0.6em;
    animation: smart_stretchdelay 1.56s infinite ease-in-out;
    -o-animation: smart_stretchdelay 1.56s infinite ease-in-out;
    -ms-animation: smart_stretchdelay 1.56s infinite ease-in-out;
    -webkit-animation: smart_stretchdelay 1.56s infinite ease-in-out;
    -moz-animation: smart_stretchdelay 1.56s infinite ease-in-out;
}
body.smart .basic_lbLoading .cssload-rect2 {
    animation-delay: -1.3s;
    -o-animation-delay: -1.3s;
    -ms-animation-delay: -1.3s;
    -webkit-animation-delay: -1.3s;
    -moz-animation-delay: -1.3s;
}
body.smart .basic_lbLoading .cssload-rect3 {
    animation-delay: -1.04s;
    -o-animation-delay: -1.04s;
    -ms-animation-delay: -1.04s;
    -webkit-animation-delay: -1.04s;
    -moz-animation-delay: -1.04s;
}
@keyframes smart_stretchdelay {
    0%, 40%, 100% {
        transform: scaleX(0.8);
        background-color: rgba(204,204,204,0.98);
        box-shadow: 0 0 0 rgba(10,10,10,0.03);
    }
    20% {
        transform: scaleX(1);
        background-color: rgba(246,186,53,0.94);
        box-shadow: 0 4px 5px rgba(10,10,10,0);
    }
}

@-o-keyframes smart_stretchdelay {
    0%, 40%, 100% {
        -o-transform: scaleX(0.8);
        background-color: rgba(204,204,204,0.98);
        box-shadow: 0 0 0 rgba(10,10,10,0.03);
    }
    20% {
        -o-transform: scaleX(1);
        background-color: rgba(246,186,53,0.94);
        box-shadow: 0 4px 5px rgba(10,10,10,0);
    }
}

@-ms-keyframes smart_stretchdelay {
    0%, 40%, 100% {
        -ms-transform: scaleX(0.8);
        background-color: rgba(204,204,204,0.98);
        box-shadow: 0 0 0 rgba(10,10,10,0.03);
    }
    20% {
        -ms-transform: scaleX(1);
        background-color: rgba(246,186,53,0.94);
        box-shadow: 0 4px 5px rgba(10,10,10,0);
    }
}

@-webkit-keyframes smart_stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleX(0.8);
        background-color: rgba(204,204,204,0.98);
        box-shadow: 0 0 0 rgba(10,10,10,0.03);
    }
    20% {
        -webkit-transform: scaleX(1);
        background-color: rgba(246,186,53,0.94);
        box-shadow: 0 4px 5px rgba(10,10,10,0);
    }
}

@-moz-keyframes smart_stretchdelay {
    0%, 40%, 100% {
        -moz-transform: scaleX(0.8);
        background-color: rgba(204,204,204,0.98);
        box-shadow: 0 0 0 rgba(10,10,10,0.03);
    }
    20% {
        -moz-transform: scaleX(1);
        background-color: rgba(246,186,53,0.94);
        box-shadow: 0 4px 5px rgba(10,10,10,0);
    }
}
.nav_buttons .nav_button.left span,
.nav_buttons .nav_button.right span {
    line-height: 1.4;
}
/*#basic_preloader_overlay{
    background-color: #CCCCCC;
}*/
body.smart #alerts.red{
 background-color:  #ff0000
}
body.smart #alerts a.ok_button,
body.smart #cookie_notification a.ok_button,
body.smart #provider_privacy a.ok_button{
    background-color: black;
}
body.smart .middle_page_text ul li{
    list-style: none;
    position: relative;
    padding-left: 17px;
}
body.smart .middle_page_text #related_wrapper ul li:before{
    content: '';
}
body.smart .middle_page_text ul li:before{
    font-family: 'Smart Light';
    content: '\003e';
    position: absolute;
    left: 0;
}
body.smart .middle_page_text ul {
    padding-left: 0;
}
body.smart .middle_page_text ol {
    padding-left: 17px;
}
body.smart section #footer_wrap div.text_area p{
    padding-bottom: 10px;
}
#fullsize_banner{
    background-color: #969696;
}
body.smart .linkDown:hover{
    cursor: pointer;
    background-image: url('../img/template/svg/arrow-down_s.svg');
}
div.downloads div.page .overview_link a:hover{
    color: #f6ba35;
    background-image: url(../img/template/svg/move-right-1-hover-smart.svg);
}
.slider_element .title span{
    line-height: 1.4;
}

.close_button{
    background-image: url("../img/template/svg/remove-1.svg");
}
#notificationWrapper .alert_text,
body.smart #notificationWrapper .alert_title{
    line-height: 1.4;
    color: black;
}
#notificationWrapper .btn:first-of-type{
    border-color: #f6ba35;
}

body.smart .hBlockContainer{
    background:#eeeeee;
    font-family: "FORsmartNextRegular", Arial, 'Roboto', "SF Compact Text",sans-serif;
}
body.smart .hBlockContainer a > div:first-child .el1{
    text-transform:none;
    background-color: #f6ba35;
    font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;
    font-weight: normal;
    line-height: 1.4em;
    font-size: 16px;
}
body.smart .hBlockContainer a > div:first-child .el2{
    font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;
    font-weight: normal;
    line-height: 1.25;
}
body.smart .hBlockContainer a > div:first-child .el3{
    font-family: "FORsmartNextRegular", Arial, 'Roboto', "SF Compact Text",sans-serif;
    line-height: 1.4;
    color:#969696;
}
body.smart #sliderPopup {
    border-color: #CCCCCC
}
body.smart ul.level3_nav.taxonomic li.filter_title span.filter_close:hover{
   background-image:url("../img/template/svg/remove-1.svg");
}
body.smart ul.level3_nav.taxonomic li.active .level4_nav li label:not(.calendar):hover,
body.smart ul.multi_nav h3 > a:hover{
    color:  #f6ba35;
}

body.smart form#filter-panel-selected.dropdown span.filter-tags:hover,
body.smart ul.multi_nav li > a:hover,
body.smart div.basic_nav.filter .unchecked-all#remove_filters:hover{
    background-color: #f6ba35;
}
body.smart div.basic_nav.filter .unchecked-all#remove_filters:hover {
    background-color: transparent;
}
body.smart .basic_nav .menu_label{
    font-size: 14px;
    text-transform: none;
}
body.smart .basic_nav .menu_label #menu_close{
    margin-right: 22px;
}
body.smart .basic_nav .menu_label{
    /* line-height: 102px; */
}
body.smart section.basic_nav_closed.filters div{
    background-position: 25px 27px;
}
body.smart .basic_nav span.filter_remove{
    margin-bottom: -9px;
}
body.smart form#filter-panel-selected.dropdown label{
    line-height: 28px;
}
body.smart form#filter-panel-selected.dropdown label::first-letter,
body.smart form#filter-panel-selected span.filter-tags label::first-letter,
body.smart form#filter-panel-selected.dropdown label .filter_value::first-letter {
    text-transform: uppercase;
}

body.smart section.basic_nav_closed wrap div{
    text-transform: none;
    font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;
    font-weight: normal;
}
body.smart #filterPopup,
body.smart form#filter-panel-selected label,
div.downloads div.page .overview_link a{
    text-transform: none;
}
#notificationWrapper a{
    color: #000000;
}
body.smart ul.multi_nav h3,
.menu_carousel .slider_title{
    font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;
    font-weight: normal;
}

/* hack for smart-downloads-label-case */
body.smart .filter-menu ul.multi_nav h3 {
    font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;
    font-weight: normal;
    text-transform: lowercase;
}
body.smart .filter-menu ul.multi_nav h3::first-letter {
    text-transform: uppercase;
}
/* end of hack */


div.list-view.downloads .file_page,
div.list-view.downloads .cart_wrapper,
div.list-view.downloads .download_wrapper,
.list-hover .file_extension,
.file_exsize{
    text-transform: none;
    font-size: 16px;
}

body.smart ul.multi_nav li > a{
    line-height: 1.4;
    padding-top: 6px;
    padding-bottom: 6px;

}
body.smart ul.multi_nav li{
    padding-bottom: 0;
}
div.list-view.downloads .file_extension,
div.list-view.downloads .file_exsize,
div.list-view.downloads .file_page,
div.list-view.downloads .cart_wrapper,
div.list-view.downloads .download_wrapper{
    line-height: 30px;
}
div.downloads.list-view div.title{
    line-height: 29px;
}
.list-hover .cart_wrapper .icon{
    margin-top: 0;
}
.list-hover .download_wrapper .icon{
    margin-top: 2px;
}
.list-hover .file_page .icon{
    margin-top: 1px;
}
.hBlockContainer .banner_image_wrapper:before{
    border-color:#eeeeee;
}
body.smart ul.multi_nav li{
    border-color: #CCCCCC;
}
.middle_page_text #content_main > h1,
.comment-form h1,
.middle_page_text #content_main p ,
.middle_page_text #content_main ul,
.middle_page_text #content_main ol,
.image_wrapper,
.comment-form p,
.middle_page_text :not(#answers) table,
.middle_page_text table:not([class]){
    margin-bottom: 25px;
}
.imgText961, .imgtext961{
    margin-bottom: 15px;
}
.image_wrapper + .image_wrapper,
.galCropper,
.middle_page_text #content_main p + .image_wrapper,
.middle_page_text #content_main > h1 + .image_wrapper{
    padding-top: 0px;
}
.middle_page_text :not(#answers) table,
.middle_page_text table:not([class]){
    margin-bottom: 25px;
    margin-top: 0;
}
.middle_page_text #content_main table + table,
.middle_page_text #content_main p + table,
.middle_page_text :not(#answers) table,
.middle_page_text table:not([class]),
.middle_page_text #content_main p + h1,
.middle_page_text #content_main table + h1,
.middle_page_text #content_main  ul + table,
.middle_page_text #content_main  ol + table{
    margin-top: 0;
}
.middle_page_text #content_main p + ul,
.middle_page_text #content_main p + ol{
    margin-top: -25px;
}
.middle_page_text #content_main  ul + .image-wrapper,
.middle_page_text #content_main  ol + .image_wrapper,
.middle_page_text #content_main p.subline,
.heading-row.downloads p.subline,
.image_wrapper + table,
.middle_page_text :not(#answers) table + .image_wrapper,
.middle_page_text table:not([class]) + .image_wrapper,
.middle_page_text #content_main > h1 + p{
    padding-top: 0;
}
.galCropper{
    padding-bottom: 0;
}
#related_wrapper{
    margin-top: 125px;
}
.move_up_button:hover div{
    background: url('../img/template/svg/back-smart.svg') no-repeat;
}

body.smart .menu_carousel .slider_element .page_link:hover .title{
    color:#f6ba35;
    background-color: transparent;
}
.no_results h1{
    max-width: 100%;
    margin-bottom: 25px;
    line-height: 1;
}
.no_results h1>small{
    line-height: 1.25;
}
.no_results h1:last-of-type{
    margin-bottom: 25px;
}
.no_results{
    line-height: 1.4;
}
.middle_page_text #content_main > h1 + p{
    padding-top: 0;
}

body.smart #related_wrapper #related_downlowds ul li,
body.smart #related_wrapper #related_pages ul li {
    padding:0px;
}

body.smart #related_wrapper #related_downlowds ul li a,
body.smart #related_wrapper #related_pages ul li a {
    padding:11px 37px 11px 17px;
    display:block;
}
body.smart #brandMenu ul li{
    font-family: "FORsmartNextRegular", Arial, 'Roboto', "SF Compact Text",sans-serif;
/*    line-height: 20px;*/
}
body.smart #brandMenu h3{
    color: #000;
    font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;
    font-weight: normal;
/*    line-height: 26px;*/
}
body.smart #brandMenu ul li:not(.brand_group) a:hover{
    color: #f6ba35;
}
/*#brandMenu ul li.brand_child:hover{
    background-color: #f6ba35;
}
#brandMenu ul li.brand_child{
    border-color: #CCCCCC;
}*/
/*#brandMenu{
    padding-top: 15px;
    padding-bottom: 0;
}*/
/*a#closeFlyoutMenu{
    top:44px;
}*/
/*#brandMenu ul li.brand_child a{
    width: 160px;
}
#brandMenu ul li.brand_child{
    max-width:180px;
}*/


body.smart div.heading-row h1,
body.smart div#view-controls + h1{
    font:normal 41px/48px "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;
}

body.smart div.heading-row h1.hct:after,
body.smart div#view-controls + h1.hct:after{
    content:".";
}


body.smart section.section_content h2 {
    font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;
}

body.smart #help-formular.user_profile_fields #messageText_wrapper{
    border-color:#ccc;
}
body.smart #help-formular.user_profile_fields #messageText_wrapper.input--filled,
body.smart #help-formular.user_profile_fields .input--filled input{
    border-color: #f6ba35;
}
body.smart #help-formular.user_profile_fields h1{
    font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;
}
body.smart #help-formular.user_profile_fields h1 small,
body.smart .user_profile_fields input,
body.smart .user_profile_fields select,
body.smart .user_profile_fields textarea,
body.smart .heading-row.downloads p.subline,
body.smart .middle_page_text #content_main p.subline{
    font-family: "FORsmartNextRegular", Arial, 'Roboto', "SF Compact Text",sans-serif;

}

body.smart .country_wrapper label span,
body.smart .input__label-content--yoshiko,
body.smart #help-formular form #counter_wrapper{
    color:#969696;
}

body.smart #help-formular.user_profile_fields .submit_button{
    font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;
    background-color: #f6ba35;
    text-transform: none;
}
body.smart #help-formular.user_profile_fields .submit_button:hover{
    background-color: #f6ba35;
}

body.smart .reset_captcha{
    background-color: #f6ba35;
}