@media only screen and (min-width: 768px) and (max-width: 1023px) {
.notice > span {
    font-size: 10px;
}

div#topLinks div#privacy a,
body.smart div.grid-3cols div.page div.date, 
body.smart div.grid-3cols div.page div.stats, 
body.smart div.grid-4cols div.page div.date, 
body.smart div.grid-4cols div.page div.stats,
div.overview div.tags, div.grid-3cols div.tags,
div.grid-4cols div.tags {
  font-size: 12px;
}
body.smart div.middle_page_text #content_main td {
    font-size: 12px;
    line-height: 20px;
}

#brandMenu .cf + .cf .tree-nav-item li > h3 > a,
body.smart header div#navContainer div#rubrics_wrapper ul#rubrics li a,
section.basic_nav_opened .basic_nav .tablet-only.content.cf ul.multi_nav li > a,
body.smart div.middle_page_text #content_main ol, 
body.smart div.middle_page_text #content_main ul, 
body.smart div.middle_page_text #content_main p,
.nav_buttons .nav_button.right span, .nav_buttons .nav_button.left span,
#related_wrapper .related_links a,
.filter-panel label,
div.basic_nav.filter div.content ul.level3_nav > li ul.level4_nav > li label,
div.basic_nav.filter div.content.second ul.level4_nav li.filter_title,
.filter_value,
.filter-panel-title.tablet-popup-entry,
.filter-panel .clear-filter {
  font-size: 14px !important;
}

body.smart div.middle_page_text #content_main ol, 
body.smart div.middle_page_text #content_main ul, 
body.smart div.middle_page_text #content_main p {
  line-height: 20px !important;
}
.nav_buttons .nav_button.right span, .nav_buttons .nav_button.left span {
  line-height: 22.5px !important;
}


body.smart div.grid-3cols div.page div.title span,
body.smart div.grid-3cols div.page div.title, body.smart div.grid-4cols div.page div.title,
.filter-panel-title {
  font-size: 16px;
}
.notice > span, 
body.smart .middle_page_text #content_main p.notice, 
.middle_page_text #content_main .image_item .image_text p, 
#notificationWrapper .alert_text {
  line-height: 16px !important;
}

div#logos div#navigatorLogo,
.tree-nav-item li > h3 > a,
ul.multi_nav a,
#related_wrapper .related_links h2,
div.basic_nav.filter div.content ul.level3_nav > li ul.level4_nav > li.filter_title {
    font-size: 18px;
}
body.smart div.overview div.title,
section.downloads_overview .block_title, #myDownloadsForm .block_title {
  font-size: 19px;
}
body.smart .banner_text_wrapper p,
body.smart div.middle_page_text #content_main > h1 > small,
body.smart div.middle_page_text #content_main p.subline {
  font-size: 20px;
}
body.smart div.middle_page_text #content_main > h1 > small,
body.smart div.middle_page_text #content_main p.subline {
  line-height: 26px !important;
}

body.smart .banner_text_wrapper h1 {
  font-family: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;
  font-size: 31px;
}
body.smart section div.heading-row h1, body.smart div div#view-controls + h1,
.faq-container .faq-title, .middle_page_text #content_main > h1 {
  font-size: 31px;
}

}