@font-face {
    font-family: 'corporateS';
    src: url('../webfonts/CorporateS-Regular.eot');
    src: url('../webfonts/CorporateS-Regular.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/CorporateS-Regular.woff') format('woff'),
		url('../webfonts/CorporateS-Regular.ttf') format('truetype'),
		url('../webfonts/CorporateS-Regular.svg#corporate_sregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*++++++++++++++++++++++++++++++++ resets & common tags ++++++++++++++++++++++++++++++++*/

html {
    overflow-y: scroll;
	color: #FFFFFF;
}

*{
	margin: 0;
	padding: 0;
}
body {
	font: 100% Arial, Helvetica, sans-serif;
	background: #4b4b4b;
	margin: 0;
	padding: 0;
	/*color: #FFFFFF;*/
}
#tree_wrapper table, #tree_wrapper table span{
	color: #FFFFFF;
}
span::not(div#frontend_div){
	color: #FFFFFF;
}
div {display: block;}
a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #9d9d9d;
	outline: none;
}
a:hover, a:active {
    color:#3683ab;
	text-decoration: underline;
	outline: none;
}
span, td, b, p:not(div#content_main_text), form{ font: 12px/14px Arial,sans-serif; color:#FFFFFF;}
b, strong { font-weight: bold; }

img{border:0px none;}

div.wrapper{
	padding-left: 84px;
    width: 1196px;
	margin:0 auto;
}
.mce-container iframe div.wrapper{
    width:950px;
}
div.wrapper div.page_title{
	height:30px;
	width:272px;
	padding-top:10px;
	background-color:#3683ab;
	font-size:14px;
	font-family:'corporateS';
	float:left;
	text-align:center;
	color: #FFFFFF;
}
div.wrapper div.page_title span{
	color: #FFFFFF;
}

div.wrapper div#admin_info{
	float:right;
}

div.wrapper div#admin_info div.admin_data {
	float:right;
	color:#a9a9a9;
	text-align: right;
	padding: 24px 20px 24px 0;
	width: 147px;
	height: 34px;
	font: bold 12px/20px Arial,sans-serif;
}

div.wrapper div#admin_info div.admin_data p{
	color:#a9a9a9;
	font: bold 12px/20px Arial,sans-serif;
}

div.wrapper div#admin_info div.admin_data:hover:not(.editMode),
div.wrapper div#admin_info.active div.admin_data{
	cursor:pointer;
	background-color: #3683AB;
	color:#95bdd3;
}

div.wrapper div#admin_info div.admin_data p.admin_name{
	font-size:14px;
	font-weight:bold;
	margin-bottom: 5px;
	color: #FFFFFF;
}


div.wrapper div#admin_info div.admin_data img{
	float: right;
    margin-left: 10px;
}


div.wrapper div#admin_info div.note{
	float:right;
	width:83px;
	height:80px;
	margin-right:1px;

}

div.wrapper div#admin_info div.note:hover{
	cursor:pointer;
	background-color: #3683AB;
}

div.wrapper div#admin_info div.note a{
	float:left;
	display:block;
}

div.wrapper div#admin_info div.note img{
	margin-top:30px;
	margin-left:30px;
}

div.wrapper div#admin_info div.note p{
	background-image: url('../img/backend/number_bg.png');
    background-position: center center;
    float: right;
    font-size: 11px;
    line-height: 20px;
    margin-left: 0;
    text-align: center;
    width: 19px;
	padding-right:1px;
	margin-right: 12px;
    margin-top: 9px;
}

div.top_navigation div#admin_action{
	float: right;
	height: 80px;
	display: none;
}
.top_navigation{
    position: relative;
}
a.nav_box{
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-right: 1px;
    width: 83px;
	background-image: url("../img/backend/content_icon.png");
    height: 22px;
    padding-top: 58px;
    text-align: center;
}

a.change_lang_en{
    background-image: url('../img/backend/change_lang_icon_EN.png');
}
a.change_lang_de{
    background-image: url('../img/backend/change_lang_icon_DE.png');
}
a.moderations{
    background-image: url('../img/backend/moderations_white.png');
}
a.properties{
    background-image: url('../img/backend/properties_white.png');
}
a.tasks{
    background-image: url('../img/backend/tasks_icon.png');
}
a.content{
    background-image: url('../img/backend/content_icon.png');
}
a.downloads{
     background-image: url('../img/backend/download_icon.png');
}
a.images{
    background-image: url('../img/backend/images_icon.png');
}
a.faqs{
    background-image: url('../img/backend/faqs_icon.png');
}
a.glossary{
    background-image: url('../img/backend/glossary_icon.png');
}
a.tags{
    background-image: url('../img/backend/tags_icon.png');
}
a.users{
    background-image: url('../img/backend/user_icon.png');
    margin-left:80px;
}
a.groups{
    background-image: url('../img/backend/groups.png');
}
a.workflow{
    background-image: url('../img/backend/workflow_icon.png');
    float: right;
    margin-right: 113px;
}
a.page_save{
     background-image: url('../img/backend/save_icon.png');
     float: right;
}
a.preview{
    background-image: url('../img/backend/preview_hover.png');
    float: right;
}
a.reports{
    background-image: url('../img/backend/reports_icon.png');
}
a.newsletter{
    background-image: url('../img/backend/newsletter_icon.png');
}

a.nav_box.update_alert{
    background-image: url('../img/backend/update_alert_icon.png');
}
a.nav_box.update_alert:hover,
a.clear_cache{
    background-image: url('../img/backend/update_alert_white.png');
}
a.change_lang_en{
    background-image: url('../img/backend/change_lang_icon_EN.png');
}
a.change_lang_de{
    background-image: url('../img/backend/change_lang_icon_DE.png');
}
a.revisions{
    background-image: url('../img/backend/revisions_icon.png');
}
a.nav_box.revisions:hover,
a.nav_box.revisions.active{
     background-image: url('../img/backend/revisions_hover.png');
}
a.moderations{
    background-image: url('../img/backend/moderations_white.png');
}
a.restore{
    background-image: url(../img/backend/revert_hover.png);
}
a.test{
    background-image: url('../img/backend/preview_icon.png');
}
a.package{
    background-image:url(../img/backend/save_icon_gray.png);
}
a.send{
    background-image:url(../img/backend/publish_icon.png);
}
a.add_newsletter{
    background-image:url('../img/backend/add_after_icon.png');
}
a.copy{
     background-image:url('../img/backend/copy_icon_hover.png');
}
a.pdf{
    background-image:url('../img/backend/file-new-2_white.svg');
    float: right;
}
a.print{
    background-image:url('../img/backend/printer-view.svg');
    float: right;
}
a.upload_pdf{
    background-image:url('../img/backend/file-upload.svg');
}
a.upload_pdf:hover,
a.upload_pdf.active{
    background-image:url('../img/backend/file-upload_white.svg');
}
a.get_pdf{
    background-image:url('../img/backend/file-download.svg');
}
a.get_pdf:hover{
    background-image:url('../img/backend/file-download_white.svg');
}
a.nav_box:hover,
a.nav_box.active{
	background-color: #3683AB;
	color:#95bdd3;
	text-decoration:none;
	cursor:pointer;
}

a.nav_box.white{
	background-color:white;
	color:#606060;
}

a.nav_box.white:hover,
a.nav_box.white.active{
	background-color:#606060;
	color:white;
}

a.nav_box.white.edit{
	background-image:url('../img/backend/task_icon_gray.png');
}

a.nav_box.white.edit:hover,
a.nav_box.white.edit.active{
	background-image:url('../img/backend/task_icon.png');
}
a.nav_box.white.inactiveButton{
    pointer-events: none;
}

a.nav_box.white.back_to_view{
	background-image:url('../img/backend/back_view_icon.png');
}

a.nav_box.white.back_to_view:hover,
a.nav_box.white.back_to_view.active{
	background-image:url('../img/backend/back_view_icon_hover.png');
}

a.nav_box.white.remove{
	background-image:url('../img/backend/delete_icon.png');
	color:#ec1d26;
	float:right
}

a.nav_box.white.user{
	background-image:url('../img/backend/user_icon_gray.png')
}

a.nav_box.white.user:hover,
a.nav_box.white.user.active{
	background-image:url('../img/backend/user_icon.png');
}

a.nav_box.white.add_group{
	background-image:url('../img/backend/groups_hover.png')
}

a.nav_box.white.add_group:hover,
a.nav_box.white.add_group.active{
	background-image:url('../img/backend/groups.png');
}

a.nav_box.logout{
	background-image:url('../img/backend/logout_icon.png');
	margin-right: 0;
}

a.nav_box.logout:hover{
	background-image:url('../img/backend/logout_icon_hover.png');
	background-color: #3683AB;
}

#admin_action a.nav_box.edit:hover{
	background-color: #3683AB;
}

a.nav_box.white.add_after{
	background-image:url('../img/backend/add_after_icon.png');
}

a.nav_box.white.add_after:hover,
a.nav_box.white.add_after.active{
	background-image:url('../img/backend/add_after_icon_hover.png');
}

a.nav_box.white.add_before{
	background-image:url('../img/backend/add_before_icon.png');
}

a.nav_box.white.add_before:hover,
a.nav_box.white.add_before.active{
	background-image:url('../img/backend/add_before_icon_hover.png');
}

a.nav_box.white.select_area{
	background-image:url('../img/backend/select_area_icon.png');
}

a.nav_box.white.select_area:hover,
a.nav_box.white.select_area.active{
	background-image:url('../img/backend/select_area_icon_hover.png');
}

a.nav_box.white.insert{
	background-image:url('../img/backend/insert_icon.png');
}

a.nav_box.white.insert:hover,
a.nav_box.white.insert.active{
	background-image:url('../img/backend/insert_icon_hover.png');
}

a.nav_box.white.add_child{
	background-image:url('../img/backend/add_child_icon.png');
}

a.nav_box.white.add_child:hover,
a.nav_box.white.add_child.active{
	background-image:url('../img/backend/add_child_icon_hover.png');
}
a.nav_box.white.preview {
    background-image: url('../img/backend/preview_icon.png');
    float: left;
}
a.nav_box.white.preview:hover,
a.nav_box.white.preview:active{
    background-image: url('../img/backend/preview_hover.png');
}
a.nav_box.white.properties{
	background-image:url('../img/backend/properties_icon.png');
}

a.nav_box.white.properties:hover,
a.nav_box.white.properties.active{
	background-image:url('../img/backend/properties_white.png');
}

a.nav_box.white.move_up{
	background-image:url('../img/backend/move_up_icon.png');
}

a.nav_box.white.move_up:hover,
a.nav_box.white.move_up.active{
	background-image:url('../img/backend/move_up_icon_hover.png');
}


a.nav_box.white.move_down{
	background-image:url('../img/backend/move_down_icon.png');
}

a.nav_box.white.move_down:hover,
a.nav_box.white.move_down.active{
	background-image:url('../img/backend/move_down_icon_hover.png');
}

a.nav_box.white.move_cursor{
	background-image:url('../img/backend/move_icon.png');
}

a.nav_box.white.move_cursor:hover,
a.nav_box.white.move_cursor.active{
	background-image:url('../img/backend/move_icon_hover.png');
}

a.nav_box.white.upload_icon{
	background-image:url('../img/backend/upload_icon.png');
}

a.nav_box.white.upload_icon:hover,
a.nav_box.white.upload_icon.active{
	background-image:url('../img/backend/upload_icon_hover.png');
	background-color:#606060;
}

a.nav_box.white.copy{
	background-image:url('../img/backend/copy_icon.png');
}

a.nav_box.white.copy:hover,
a.nav_box.white.copy.active{
	background-image:url('../img/backend/copy_icon_hover.png');
	background-color:#606060;
}

a.nav_box.white.copy_all{
	background-image:url('../img/backend/copy_all_icon.png');
}

a.nav_box.white.copy_all:hover,
a.nav_box.white.copy_all.active{
	background-image:url('../img/backend/copy_all_icon_hover.png');
	background-color:#606060;
}

a.nav_box.white.publish{
	background-image:url('../img/backend/publish_icon.png');
}
a.nav_box.white.publish.inactiveButton{
	background-image:url('../img/backend/publish_icon_inactive.png');
}
a.nav_box.white.publish:hover,
a.nav_box.white.publish.active{
	background-image:url('../img/backend/publish_icon_hover.png');
	background-color:#606060;
}

a.nav_box.white.unpublish{
	background-image:url('../img/backend/unpublish_icon.png');
}
a.nav_box.white.unpublish.inactiveButton{
	background-image: url('../img/backend/unpublish_icon_inactive.png');
}

a.nav_box.white.unpublish:hover,
a.nav_box.white.unpublish.active{
	background-image:url('../img/backend/unpublish_icon_hover.png');
	background-color:#606060;
}
a.view_draft{
    background-image: url('../img/backend/view_draft_icon.png');
}
a.nav_box.view_draft:hover,
a.nav_box.view_draft:active{
    background-image:url('../img/backend/view_draft_hover.png');
}
a.nav_box.revert{
    background-image:url('../img/backend/revert_icon.png');
}
a.nav_box.revert:hover,
a.nav_box.revert:active{
    background-image:url('../img/backend/revert_hover.png');
}
a.nav_box.recycle{
	background-image:url('../img/backend/recycle_bin_icon.png');
}

a.nav_box.white.restore{
	background-image:url('../img/backend/restore_icon.png');
}

a.nav_box.white.restore:hover,
a.nav_box.white.restore:active{
	background-image:url('../img/backend/restore_icon_hover.png');
}


a.nav_box.white.add{
	background-image:url('../img/backend/add_term_icon.png');
}

a.nav_box.white.add:hover,
a.nav_box.white.add.active{
	background-image:url('../img/backend/add_term_icon_hover.png');
}

a.nav_box.white.activate{
	background-image:url('../img/backend/activate_comment_icon.png');
}

a.nav_box.white.activate:hover,
a.nav_box.white.activate:active{
	background-image:url('../img/backend/activate_comment_icon_hover.png');
}

a.nav_box.white.deactivate{
	background-image:url('../img/backend/deactivate_commnet_icon.png');
}

a.nav_box.white.deactivate:hover,
a.nav_box.white.deactivate:active{
	background-image:url('../img/backend/deactivate_commnet_icon_hover.png');
}

a.nav_box.white.save{
	background-image:url('../img/backend/save_icon_gray.png');
    border: 1px solid #3683AB;
}

a.nav_box.white.cancel{
	background-image:url('../img/backend/cancel_icon_gray.png');
	right:84px;
	border: 1px solid #3683AB;
}

a.nav_box.white.save:hover{
	background-image:url('../img/backend/save_icon.png')
}
#update_alert_wrapper{
    position: absolute;
}
a.nav_box.white.cancel:hover{
	background-image:url('../img/backend/cancel_icon.png')
}
a.test.active,
a.test:hover{
    background-image: url('../img/backend/preview_hover.png');
}
a.package.active,
a.package:hover{
    background-image:url(../img/backend/save_icon.png);
}
a.send.active,
a.send:hover{
    background-image:url('../img/backend/publish_icon_hover.png');
}
a.add_newsletter.active,
a.add_newsletter:hover{
    background-image:url('../img/backend/add_after_icon_hover.png');
}
fieldset a.update_alert{
	background-color: #FFFFFF;
    border: medium none;
    color: #3683AB;
    padding: 4px;
	cursor:pointer;
	margin-left: 0;
    margin-top: 0;
	font-family: 'corporateS';
    font-size: 14px;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	line-height: 40px;
    width: 150px;
	height: 40px;
}
fieldset a.update_alert:hover{
	background-color: #2c6b8c;
	color:#FFFFFF;
	text-decoration: none;
}
.top_navigation .content_div{
    position: absolute;
    top: 1px;
    left: 444px;
}
.top_navigation .content_div a.users{
    margin: 0;
}

#filemanager a.nav_box.white.cancel:hover {
	background-color: #606060;
}

#filemanager a.nav_box.white.insert:hover {
	background-color: #606060;
}

#filemanager a.nav_box.white.edit:hover {
	background-color: #606060;
}

#filemanager a.nav_box.white.remove:hover {
	background-color: #606060;
}

.top_navigation .content_div{
    position: absolute;
    top: -81px;
    left: 252px;
}
.top_navigation .content_div a.users{
    margin: 0;
}
div.left_navigation{
	width:84px;
	float:left;
	margin-left:-84px;
}

div.content_wrapper{
	width:100%;
	float:left;
}

div.user_table{
	background-color:#3683ab;
	position:relative;

}

div.user_table .filter_form{
	padding: 40px 10px;
    position: relative;
}

div.user_table .filter_form input.user_search{
	color:#afafb0;
	padding: 13px 12px 12px;
	color:#bcbcbc;
	font-weight:bold;
	font-size:12px;
	font-family:'corporateS';
	border:0px none;
	width:406px;
	margin-right:10px;
}

div.user_table .filter_form select.user_sort{
	color:#afafb0;
	padding: 12px;
	color:#bcbcbc;
	font-weight:bold;
	font-size:12px;
	font-family:'corporateS';
	border:0px none;
	width:246px;
	margin-right:10px;
}

#user_count{
    position: absolute;
    bottom: 10px;
    left: 11px;
}
/*div.user_table .filter_form select.user_sort option{



	height: 35px; padding:5px; line-height: 35px;

	margin-bottom: 5px;
}*/

/*body {
    padding:50px;
    background-color:white;
}*/
.s-hidden {
    visibility:hidden;
    padding-right:10px;
}
.select {
    cursor:pointer;
    display:inline-block;
    position:relative;
    font:bold 12px/22px 'corporateS' !important;
    color: #bcbcbc !important;
    border:1px solid #ccc;
	height: 39px;
}
.styledSelect {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:white;
	font:bold 12px/22px 'corporateS';
    color: #bcbcbc;
    padding:0 10px;
    font-weight:bold;
	height: 39px;
	line-height: 39px;
}
.styledSelect:after {
    content:"";
    width:0;
    height:0;
    border:5px solid transparent;
    border-color:black transparent transparent transparent;
    position:absolute;
    top:19px;
    right:6px;
}
.styledSelect:active, .styledSelect.active {
    background-color:#eee;
}
.options {
    display:none;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:999;
    margin:0 0;
    padding:0 0;
    list-style:none;
    border:1px solid #ccc;
    background-color:white;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
.options li {
    padding:0 6px;
    margin:0 0;
    padding:0 10px;
	font:bold 12px/22px 'corporateS' !important;
    color: #bcbcbc !important;
}
.options li:hover {
    background-color:#39f;
    color:white;
}

div.user_table .filter_form input.user_submit{
	background-color:white;
	padding: 12px;
	color:#3683ab;
	font-weight:bold;
	font-size:12px;
	font-family:'corporateS';
	border:0px none;
	width:106px;
	margin-right:10px;
	cursor:pointer;
	float:right;
}

div.user_table .filter_form input.user_submit:hover{
	background-color: #2c6b8c;
	color:#FFFFFF;
}

.user_edit_wrapper{
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    width: 1176px;
}
.up_down_wrapper .move_up{
    margin-left: 155px;
}

#upload .error{
	color:#ec1d26;
}

input[type="checkbox"] {
    height: 15px;
    left: -999em;
    position: absolute;
    width: 15px;
}
input[type="radio"] {
    height: 15px;
    left: -999em;
    position: absolute;
    width: 15px;
}

input[type="checkbox"] + label,
input[type="radio"] + label.normal_label,
div.form_right input[type="radio"] + label,
div.form_left input.editing_state[type="radio"] + label{
    background: url("../img/backend/check_off.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    display: block;
    min-height: 15px;
    padding-left: 25px;
}

.role_section input[type="checkbox"] + label,
div.form_right .role_section input[type="radio"] + label,
div.form_left input.editing_state[type="radio"] + label{
	border:1px solid #333333;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label.normal_label,
div.form_right input[type="radio"]:checked + label,
div.form_left input.editing_state[type="radio"]:checked + label{
    background-image: url("../img/backend/check_on.png");
}

.role_section input[type="checkbox"]:focus + label,
div.form_right .role_section input[type="radio"]:focus + label,
div.form_left input.editing_state[type="radio"]:focus + label{
	border:1px dotted #606060;
}

form div.form_left input.editing_state[type="radio"] + label{
    border: 1px solid #606060;
    width: auto;
    height: 30px;
    background: url(../img/backend/check_off.png) no-repeat scroll left top rgba(0, 0, 0, 0);
    padding-left: 25px;
}

div.form_left input[type="radio"] + label:not(.normal_label) {
    background: none no-repeat scroll left top #FFFFFF;
    display: block;
    float: left;
    border: 1px solid #FFFFFF;
    padding-left: 0;
    width: 28px;
	height:28px;
	cursor:pointer;
}

div.form_left input.first_choice[type="radio"] + label {
	border-radius:3px 0px 0px 3px;
}

div.form_left input.second_choice[type="radio"] + label {
	border-radius:0px 3px 3px 0px;
}

div.form_left input.second_choice[type="radio"]:checked + label {
    background-image: url("../img/backend/radio_active.png");
	border-color:#FFFFFF;
}

div.form_left input.second_choice[type="radio"] + label{
	border-color:#333333;
	background-color:#333333;
}

div.form_left input.first_choice[type="radio"]:checked + label {
    background-image: url("../img/backend/radio_unactive.png");
	border-color:#333333;
	background-color:#333333;
}

div.form_left input.first_choice[type="radio"]:focus +label {
	border-top:1px dotted #606060;
	border-bottom:1px dotted #606060;
	border-left:1px dotted #606060;
}

div.form_left input.second_choice[type="radio"]:focus +label {
	border-top:1px dotted #606060;
	border-bottom:1px dotted #606060;
	border-right:1px dotted #606060;
}

div.user_fields,
#test_email_wrapper{
	margin-top:1px;
	z-index: 140;
	position: absolute;
    width: 1176px;
}
#test_email_wrapper .form_right{
    padding: 40px 10px 0;
    box-sizing: border-box;
}
#test_email_wrapper fieldset{
    border: none;
}
#test_email_wrapper label{
    display: block;
    margin-left: 10px;
    margin-bottom: 5px;
}
#test_email_wrapper textarea{
    height: 150px;
    width: 550px;
    resize: none;
}
#test_email_wrapper .nav_box.white{
    float: right;
}
#wrapper_form_page{
    z-index: 141;
}

div.user_fields div.form_left,
div#test_email_wrapper div.form_left{
	float:left;
	width:30%;
	background-color:#606060;
	padding-top: 30px;
	position:relative;
}

div.user_fields fieldset{
	border:none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 9px;
	margin-bottom:15px;
	border-bottom: 1px solid #484848;
}

div.user_fields fieldset.half_width{
	box-sizing: border-box;
	width: 395px;
}

div.user_fields fieldset.due_date div.role_section{
	margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}

div.user_fields fieldset.due_date div.role_section input{
	height:41px;
	box-sizing: border-box;
	width:202px;
}

div.user_fields div.form_left fieldset:nth-of-type(2){
	padding-top: 0;
	padding-bottom: 6px;
}

div.user_fields .date_picker{
	width: 230px;
    padding: 0;
}

div.user_fields fieldset.tags_fieldset{
    border: none;
}
div.user_fields .fieldset_border{
    margin: 0 10px;
    border-bottom: 1px solid #484848;
    margin-bottom: 15px;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    display: none;
}

div.user_fields .date_picker.role_section,
div.user_fields fieldset.due_date .role_section{
	position: relative;
}

div.ui-datepicker{
	font-size:13px;
	font-family: Arial;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-widget-header{
	background: none repeat scroll 0 0 #eeeeee;
	border: 1px solid #d3d3d3 ;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus{
	background-color: #e5e5e5;
	border: 1px solid #999999 ;
}

.ui-datepicker-buttonpane .ui-datepicker-current{
	font-weight: bold;
}

.ui-datepicker-current-day .ui-state-default{
	background-color: #d1e3ec;
	border: 1px solid #4a90b4 ;
}

.ui-state-disabled .ui-state-default{
	background-color:  #f9f9f9;
	border: 1px solid #f0f0f0;
}

div.ui-datepicker div.ui-datepicker-title{
	font-size:12px;
}
div.ui-widget button {
	font-size:12px;
	font-family: Arial;
}

div.ui-timepicker-div{
	padding-top: 45px;
}

div.user_fields fieldset #publish_date,
div.user_fields fieldset #unpublish_date{
	width:218px;
}

div.user_fields fieldset .nullify_input{
	position: absolute;
	right: 0px;
	top:9px;
	right:4px;
	color: black;
	font-weight: bold;
	font-size:18px;
}

div.user_fields fieldset .nullify_input:hover{
	cursor: pointer;
}

span.fieldset_requared{
	color:#de282f;
}

div.user_fields div.form_left div.input_group{
	width:100%;
	float:left;
	margin-bottom: 17px;
}

div.user_fields div.form_left fieldset:nth-of-type(2) div.input_group:nth-of-type(3){
	margin-bottom: 0;
}

/*div.user_fields div.form_left fieldset:nth-of-type(1) div.input_group{
	margin-bottom: 0;
}*/

div.user_fields fieldset legend{
	color:white;
}

div.user_fields div.form_left div.input_group.error{
	color:#ec1d26;
}

div.user_fields div.form_right div.role_group.error{
	color:#ec1d26;
}

div.user_fields div.form_left div.input_group label,
div.user_fields div.form_left div.input_group label.normal_label,
#hotspot .hotspot_right label{
	font-size:14px;
	line-height:30px;
	font-family:'corporateS';
	padding-left:10px;
	padding-right:10px;
}
div.user_fields div div.input_group div.role_group label,
div.user_fields div div.input_group div.role_group label.normal_label{
    padding-left: 25px;
    padding-right: 0;
    line-height: normal;
}

div.user_fields div.form_left div.input_group input[type="text"],
div.user_fields div.form_left div.input_group select,
#hotspot .hotspot_right input[type="text"],
#hotspot .hotspot_right select,
#hotspot .hotspot_right textarea{
	font-size:14px;
	line-height:30px;
	font-family:'corporateS';
	font-weight:bold;
	background-color:white;
	color:#333333;
	border:0px none;
	padding-left:10px;
	padding-right:10px;
	height:30px;
	width:180px;
}

div.user_fields div.form_left div.input_group.error input{
	color:#ec1d26;
}

div.user_fields div.form_left div.input_group select,
#hotspot .hotspot_right select{
	line-height:20px;
	padding-top:5px;
	padding-bottom:5px;
	height:30px;
	width:200px;
}

div.user_fields div.form_left div.profile_image_holder{
	margin-bottom:41px;
}

div.user_fields div.form_left div.radio_group{
	float: left;
    text-align: center;
    width: 63px;
	margin-left:105px;
}
div.user_fields div.form_left div.radio_group:nth-of-type(odd){
    margin-left:20px;
}
div.user_fields div.form_left div.radio_group label{
	font-size:14px;
	line-height:30px;
	font-family:'corporateS';
	margin-bottom:11px;
}

div.user_fields div.form_left div.system_info{
	margin-bottom:20px;
	margin-left:10px;
	margin-right:10px;
	padding-left:12px;
	padding-right:12px;
	background-color:#333333;
}

div.user_fields div.form_left div.system_info div.system_info_row{
	border-bottom:1px solid #484848;
}

div.user_fields div.form_left div.system_info p.si_label{
	color: #484848;
    float: left;
    font-family: 'corporateS';
    font-size: 12px;
    font-weight: bold;
    line-height: 45px;
    width: 110px;
}

div.user_fields div.form_left div.system_info p.si_data{
	font-family: 'corporateS';
    font-size: 14px;
	float:left;
	line-height: 45px;
}

div.user_fields div.form_left div.profile_note{
	float:right;
	width:79px;
	height:80px;
	margin-right:1px;
	position:absolute;
	bottom:0px;
	margin-bottom: 1px;
    margin-left: 1px;
}

div.user_fields div.form_left div.profile_note:hover{
	cursor:pointer;
	background-color: #3683AB;
}

div.user_fields div.form_left div.profile_note a{
	float:left;
	display:block;
}

div.user_fields div.form_left div.profile_note img{
	margin-top:30px;
	margin-left:28px;
}

div.user_fields div.form_left div.profile_note p{
	background-image: url('../img/backend/number_bg.png');
    background-position: center center;
    float: right;
    font-size: 11px;
    line-height: 20px;
    margin-left: 0;
    text-align: center;
    width: 19px;
	padding-right:1px;
	margin-right: 10px;
    margin-top: 9px;
}

div.user_fields div.form_right,
div#test_email_wrapper div.form_right{
	float:left;
	width:70%;
	background-color:#333333;
	position:relative;
	/* color: #fff; */
}

div.user_fields div.form_right fieldset:last-of-type,
div.user_fields div.form_left fieldset:last-of-type{
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
	border: none;
	padding-bottom: 0;
}

div.user_fields div.form_right div.input_section{
	padding-left:10px;
	padding-right:10px;
	margin-top:30px;
}

div.user_fields div.form_right div.input_group{
    float: left;
    margin-right: 10px;
    width: 226px;
}

div.user_fields div.form_right fieldset.title div.input_group{
    width: 400px;
}
div.user_fields div.form_right fieldset.title div.input_group input{
    width: 360px;
}
div.user_fields div.form_right fieldset.title div.input_group label{
    padding-left: 0;
}
/*div.user_fields div.form_right div.input_group:first-child{
	margin-right:10px;
}*/

.form_right #download_categories{
    display: none;
}
.form_right #download_categories select{
    width: 382px;
}
div.user_fields div.form_right div.input_group div.input_group_medium{
	float: left;
    width: 150px;
}

div.user_fields div.form_right div.input_group div.input_group_short{
	float: left;
    width: 70px;
}

div.user_fields div.form_right div.input_group div.input_group_medium input[type="text"]{
    width: 120px;
}

div.user_fields div.form_right div.input_group div.input_group_short input[type="text"]{
    width: 50px;
}

div.user_fields div.form_right div.input_group.error{
	color:#ec1d26;
}

div.user_fields div.form_right div.input_section div.input_group:nth-child(3n),
div.user_fields div.form_right fieldset div.input_group:nth-child(3n){
	margin-right:0px;
	margin-bottom:11px;
}

div.user_fields div.form_right div.input_group label{
	font-size:14px;
	line-height:30px;
	font-family:'corporateS';
	padding-left:10px;
	padding-right:10px;
	color: #fff;
}

div.user_fields div.form_right div.input_section div.input_group.error input{
	color:#ec1d26;
}

div.user_fields div.form_right input[type="text"],
div.user_fields div.form_right input[type="password"],
div.user_fields div.form_right select{
	font-size:14px;
	line-height:30px;
	font-family:'corporateS';
	font-weight:bold;
	background-color:white;
	color:#333333;
	border:0px none;
	padding-left:10px;
	padding-right:10px;
	height:30px;
	width:200px;
}

div#user_content div.role_section{
	background-color: #606061;
}

div#user_content div.role_section div.role_group{
	width: 130px;
}

div#user_content div.role_section div.role_group:nth-child(3n + 5){
	margin-left: 85px;
}
div#user_content div.role_section div.role_group:nth-child(n + 5){
	margin-top: 7px;
}


.user_input_footer{
	float: left;
	width: 520px;
}

div.user_fields div.form_right select{
	line-height:20px;
	padding-top:5px;
	padding-bottom:5px;
	height:30px;
	width:200px;
}

div.user_fields div.form_right textarea{
	font-size:14px;
	line-height:20px;
	font-family:'corporateS';
	font-weight:bold;
	background-color:white;
	color:#333333;
	border:0px none;
	padding: 10px 10px 0;
	width:200px;
}

textarea#upd_al_en,
textarea#upd_al_de{
	height: 105px;
	width: 95%;
}

div.role_section{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    width: 520px;
	float:left;
	padding-bottom: 6px;
    padding-top: 7px;
	margin-bottom:1px;
}

fieldset div.role_section{
	margin-left:0px;
	width:auto;
}

div.role_section div.role_group,
div.input_group div.role_group{
	width:130px;
	margin-right:15px;
	float:left;
}

/*div.role_section div.role_group:nth-child(4n+1){
	margin-left:55px;
}

fieldset div.role_section div.role_group:nth-child(4n+1){
	margin-left:0px;
}*/

/*fieldset div.role_section div.role_group:nth-child(5n+1){
	margin-left:55px;
}*/

div#user_content div.role_section div.role_group.head{
	width:70px;
	color:black;
	line-height: 16px;
}
div.user_fields div.form_right{
	padding-top: 30px;
}
div.form_right fieldset.fieldset_right{
	float:right;
}
div.form_right fieldset.fieldset_left{
	float:left;
}
/*fieldset div.role_section div.role_group.head{
	width:60px;
}

*/
div.role_section div.role_group label,
div.input_group div.role_group label,
div.input_group div.role_group label.normal_label{
	font-size:14px;
	line-height:15px;
	font-family:'corporateS';
	cursor:pointer;

}

div#user_content div.role_section div.role_group label{
	border: 1px solid #606061;
}

div#user_content div.role_section div.role_group input[type="checkbox"]:focus + label,
div#user_content div.role_section div.role_group input[type="radio"]:focus + label{
	border:1px dotted #333333;
}

div.user_fields div.form_right a.nav_box.white{
    float: right;
	border:1px solid #3683ab;
	margin-right: 0;
}
div.user_fields div.form_right .properties_buttons{
    position: absolute;
    bottom: 0;
    right: 0;
}

/********************* Login Form ***********/

.login_info{
	width: 600px;
}
.login_info p{
	margin-top: 10px;
}

form.login_form{
	margin-top:120px;
}

form.login_form input.login_input{
	width:320px;
	padding: 7px 10px;
	border:12px solid #3683ab;
	line-height:20px;
	font-family:arial;
	font-weight:bold;
	font-size:14px;
	color:#afafb0;
	margin-right:10px;
}

form.login_form input.user_submit{
	width:180px;
	color:white;
	border:medium none;
	font-weight:bold;
	background-color:#3683ab;
	font-size:15px;
	line-height:20px;
	font-family:arial;
	padding:17px 0px;
	margin-left:25px;
	cursor:pointer;
}

form.login_form input.user_submit:hover{
	background-color:white;
	color:#3683ab;
}


.content_wrapper .page_error,
.content_wrapper .page_error b{
	margin-bottom:15px;
	color:#ec1d26;
	width: 600px;
	height: 60px;
}

form.login_form div.login_error,
form.login_form div.login_error b{
	height : auto;
	margin-bottom:15px;
	color:#ec1d26;
	width: 740px;
}

a.forgotten{
	display: block;
    margin-left: 390px;
    margin-top: 5px;
}

/********* Welcome screen **********/

div.content div.welcome{
	padding-top:88px;
	padding-left:24px;
	font-family:'corporateS';
	width:750px;
	float:left;
}

div.content div.welcome h2,
div.content div.support h2{
	font-size:22px;
	font-weight:normal;
	padding-bottom:22px;
}

div.content div.welcome p{
	font-size:13px;
}

div.content div.support{
	float:right;
	width:305px;
	margin-left:10px;
	padding-top:88px;
    font-family: "corporateS";
}

div.content div.support h4{
	font-size:16px;
	font-weight:normal;
	padding-top:5px;
	padding-left:12px;
}

div.content div.support ul.support_pages{
	padding-top:13px;
	width:230px;
}

div.content div.support ul.support_pages li{
	list-style-type:none;
	border-bottom:1px dotted #717171;
}

div.content div.support ul.support_pages li a{
	line-height:40px;
	color:white;
	font-family:'corporateS';
	font-size:12px;
	display:block;
	padding-left:12px;
}

div.content div.support ul.support_pages li a:hover{
	text-decoration:none;
	background-color:#3683ab;
}

.dataTables_paginate.paging_ellipses{
	height: 32px;
	margin: 0;
	padding: 22px 12px;
}

.dataTables_paginate.paging_ellipses.download_ellipses{
	background-color:rgba(0, 0, 0, 0);
	padding-left: 0;
    padding-right: 0;
    width: 635px;
}

.dataTables_paginate.paging_ellipses.download_ellipses .paginate_numbers{
	width:560px;
}
.dataTables_paginate.paging_ellipses.download_ellipses .paginate_button.previous{
	margin-right: 20px;
}
.dataTables_paginate.paging_ellipses.download_ellipses .paginate_button.next{
	margin-left: 20px;
}

.cf:before, .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

#user_table_btnInsert, #user_table_btnCancel {
	float: right;
	margin:0px 12px;
}

#pages td.strong a, #pages_rel td.strong a{
	background-color: #FFFFFF;
    color: #3683AB;
    display: inline-block;
    font-size: 21px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
	font-family: arial;
}
#pages td.strong a:hover, #pages_rel td.strong a:hover{
	background-color: #2c6b8c;
	color: #FFFFFF;
}
#pages td.strong a.childless, #pages_rel td.strong a.childless{
    display: inline-block;
    margin-bottom: 5px;
    height: 7px;
    width: 7px;
}

.content_table tr.row_selected td:nth-child(3),
.content_table tr.row_selected td:nth-child(4),
.content_table tr.row_selected td:nth-child(5){
	font-weight: bold;
}

.content_wrapper .page_move_div{
	position:absolute;
	z-index:10;
	padding:10px 50px;
	display:none;
	color:black;
	background:url("../img/backend/page_move_div_icon.png") white no-repeat;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

/*Filemanager*/
div#filemanager div.user_table{
	padding: 0 10px 10px 10px;
}


div#filemanager div.user_table div#currentfolder{
	color:#aec7d8;
}
div#filemanager div.user_table div.free_space{
    color:#aec7d8;
    visibility: hidden;
}
div#filemanager div.user_table div#total_aviable_space{
    margin-bottom: 15px;
}
div#filemanager div.user_table div#currentfolder span#folder_selected{
	margin-left: 5px;
}
div#filemanager div.user_table div.form_left{
	float: left;
	width: 32%;
}

div#filemanager div.user_table div.form_left div#tree_Title{
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	font-family: 'corporateS';
}

div#filemanager div.user_table div.form_left div#fileTree_wrapper{
	background: white;
	height: 737px;
}

div#filemanager div.user_table div.form_left div#fileTree_wrapper div#folder_control{
	float: right;
}
div#filemanager div.user_table div.form_left div#fileTree_wrapper div#folder_control input{
	border: 1px solid white;
	width: 40px;
	height: 40px;
	color: #3683ab;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;

}

div#filemanager div.user_table div.form_left div#fileTree_wrapper div#folder_control input#create_folder{
	background: url('../img/backend/create_folder_icon.png') #3683ab no-repeat center;
}

div#filemanager div.user_table div.form_left div#fileTree_wrapper div#folder_control input#remove_folder{
	background: url('../img/backend/remove_folder_icon.png') #3683ab no-repeat center;
}

div#filemanager div.user_table div.form_left div#fileTree_wrapper div#folder_control input#create_folder:hover,
div#filemanager div.user_table div.form_left div#fileTree_wrapper div#folder_control input#remove_folder:hover{
	background-color: #606060;
}

div#filemanager div.user_table div.form_left div#fileTree_wrapper div#filetree{
	padding-left: 10px;
	overflow-y: scroll;
	height: 697px;
}

div#filemanager div.user_table div.form_left div#fileTree_wrapper div#filetree a{
	font-size:  14px;
	font-family: 'corporateS';
	font-weight: bold;
	margin-left: 5px;
}

div#filemanager div.user_table div.form_right{
	width: 65%;
	float: right;
	position: relative;
}

div#filemanager div.user_table div.form_right div.dataTables_scrollHead table.dataTable{
	padding: 0;
}

div#filemanager div.user_table div.form_right div.dataTables_scrollHead table.dataTable thead th{
	padding: 0;
	font-size: 16px;
    font-weight: bold;
	text-align: center;
}

div#filemanager div.user_table div.form_right div.dataTables_scrollBody{
	margin:10px 0px;
	position: relative;
}

div#filemanager div.user_table div.form_right div.dataTables_scrollBody table.dataTable{
	padding: 0px;
	font-size: 12px;
}

div#filemanager div.user_table div.form_right div.dataTables_scrollBody table.dataTable td{
	font-size: 12px;
	padding-left: 5px;
	line-height: 20px;
}

div#filemanager div.user_table div.form_right div.dataTables_scrollBody table.dataTable td:first-of-type{
	padding-top: 13px;
	position: relative;
}

div#filemanager div.user_table div.form_right div.dataTables_scrollBody table.dataTable td.strong{
	width: 297px;
}

div#filemanager div.user_table div.form_right div#user_table_btns div#filemanager_btn_right{
	float:right;
	display: none;
}
div#filemanager div.user_table div.form_right div.user_edit_wrapper{
	padding: 0;
	width: 100%;
	z-index: 120;
}
div#filemanager div.user_table div.form_right #wrapper_form_upload{
	background: #333333;
	display: none;
	position: absolute;
	width: 100%;
	z-index: 140;
}
div#filemanager div.user_table div.form_right #wrapper_form_upload .filter_form{
	padding: 30px 10px 10px;
	position: relative;
}
div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body div.input_group{
	width: 50%;
	float: left;
}

div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body div#wrapper_DescriptionDE .mce-tinymce{
    margin-right: 3px;
}
div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body div#wrapper_DescriptionEN .mce-tinymce{
    margin-left: 3px;
}
div#filemanager.downloads div.user_table div.form_right #wrapper_form_upload div.form_body div#wrapper_DescriptionDE .mce-panel,
div#filemanager.downloads div.user_table div.form_right #wrapper_form_upload div.form_body div#wrapper_DescriptionEN .mce-panel{
    border: none;
}
div#filemanager.downloads div.user_table div.form_right #wrapper_form_upload div.form_body div#wrapper_DescriptionDE .mce-statusbar,
div#filemanager.downloads div.user_table div.form_right #wrapper_form_upload div.form_body div#wrapper_DescriptionEN .mce-statusbar{
   display: none;
}

div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body div#filemanager_checkbox{
	margin-left: 0;
	padding-left: 0;
}
div#filemanager_checkbox{
    width: 100%;
}
div#filemanager_checkbox .role_group{
    width: 47.9%;
}
div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body div#fileInput_fields{
    float: left;
    width: 100%;
}
div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body div#edit_mode .select{
    width: 96%;
}
div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body div#edit_mode textarea {
    resize: none;
}
/*div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body #wrapper_titleDE{
	float: left;
}

div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body #wrapper_DescriptionEN{
	float: right;
}*/

div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body div.input_group label{
	font-family: 'corporateS';
    font-size: 14px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body div.input_group input{
    background-color: #FFFFFF;
    border: 0 none;
    color: #333333;
    font-family: 'corporateS';
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 91%;
}
div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body div.input_group textarea{
    background-color: #FFFFFF;
    border: 0 none;
    color: #333333;
    font-family: 'corporateS';
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
	padding: 10px 10px 0;
	height: 105px;
    width: 91%;
}

div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body #wrapper_file_input,
div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body #wrapper_file_zoom,
div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body #div_file_thumb{
	width: 22%;
	float: left;
	padding-right: 5px;
	margin-top: 30px;
}

div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body #wrapper_file_input input,
div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body #wrapper_file_zoom input,
div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body #div_file_thumb input{
	width: 76%;
	padding-left: 2px;
	padding-right: 2px;
	float: left;
	font-size: 11px;
}
div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body #wrapper_file_input label,
div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body #wrapper_file_zoom label,
div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body #div_file_thumb label{
	display: block;
}

div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body div.btn_input_files,
#wrapper_form_pdf_upload .btn_input_files{
	position: relative;
	float: right;
}

div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body .btn_input_files,
#wrapper_form_pdf_upload .btn_input_files{
	height: 30px;
	width: 30px;
	display: inline-block;
}

div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body .btn_upload_icon,
#wrapper_form_pdf_upload .btn_upload_icon{
	background: url('../img/backend/input_file_icon.png') no-repeat scroll center #FFFFFF;
	height: 30px;
	width: 30px;
	border: none;
}

div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body .btn_input_files div {
	position: absolute;
	top: 0px;
	right: 0px;
	overflow: hidden;
	z-index: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body .btn_input_files div:hover{
	background: url('../img/backend/input_file_icon_hover.png') no-repeat scroll center #606060;
}

div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_body .btn_input_files div input{
	font-size: 999px;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 0;
	cursor: pointer;
}

div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_footer{
	position: absolute;
	bottom: 0;
	right: 0;
}

div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_footer input{
    background-color: #FFFFFF;
	background-image: url('../img/backend/save_icon_gray.png');
	background-position: center;
    background-repeat: no-repeat;
    width: 83px;
	height: 82px;
	display: inline-block;
	float: right;
	padding-top: 50px;
    text-align: center;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
	border: none;
	color: #606060;
	border: 1px solid #3683AB;

}

div#filemanager div.user_table div.form_right #wrapper_form_upload div.form_footer input:hover{
	background-image:url('../img/backend/save_icon.png');
	background-color: #606060;
    color: #FFFFFF;
	border: none;
	cursor: pointer;
}

div#filemanager div.user_table div.form_right #pages_wrapper div.dataTables_scroll table#pages td input[type=checkbox]{
	opacity: 0;
	height: 0;
	width: 0;
}

div#filemanager div.user_table div.form_right #pages_wrapper div.dataTables_scroll table#pages td input[type=checkbox] + label{
	background: url("../img/backend/checkbox_off.png") no-repeat scroll left top rgba(0, 0, 0, 0);
	display:inline-block;
	padding-left: 15px;
}
div#filemanager div.user_table div.form_right #pages_wrapper div.dataTables_scroll table#pages td input[type=checkbox]:checked + label{
	background: url("../img/backend/checkbox_on.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

div#filemanager div.user_table div.form_right #pages_wrapper div.dataTables_scroll table#pages tr.row_selected td input[type=checkbox]:checked+ label{
	background: url("../img/backend/checkbox_selected_row.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

div#filemanager div.user_table div.form_right #pages_wrapper div.dataTables_scroll table#pages tr.row_selected td input[type=checkbox]+ label{
	background: url("../img/backend/checkbox_selected_row.png") no-repeat scroll left top #4a90b4;
}

.textarea_overlay{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity:0.3;
    z-index:130;
	display: none;
}

.mce-window-head .mce-title{
	font-family: 'corporateS';
}

#popup_message {
  color: #FFFFFF;
  overflow-y: auto;
  max-height: 750px;
}

#popup_message input{
	border:none;
	height:30px;
}

#filemanager_wrapper{
	margin-left: -490px;
	overflow: auto;
}

div.error_message{
	margin-top:120px;
}

img.thumb_remove{
	float:right;
	cursor:pointer;
	padding: 5px 6px 5px 5px;
	background-color:white;
}

img.thumb_remove:hover{
	background-color:#606060
}

.inactiveButton {
	background-color: rgba(238,238,238,1) !important;
    color: silver !important;
}
body table.dataTable tr.even td.sorting_1,
body table.dataTable tr.odd td.sorting_1 {
    background-color: transparent;
}

body table.dataTable tr.even.row_selected td.sorting_1,
body table.dataTable tr.odd.row_selected td.sorting_1 {
    background-color: white;
}

#pages_wrapper table.dataTable thead th:hover{
    cursor: pointer;
}
#pages_wrapper table.dataTable thead th.sorting_asc{
    background: url('../img/backend/sort_asc.jpg') no-repeat right center;
	font-weight:bold;
}
#pages_wrapper table.dataTable thead th.sorting_desc{
     background: url('../img/backend/sort_desc.jpg') no-repeat right center;
	 font-weight:bold;
}

#pages_wrapper table.dataTable thead th,
div table.dataTable thead th{
	font-weight:normal;
}

#revision_edit_wrapper{
    position: relative;
}
#revision_edit_wrapper .user_actions{
    position: absolute;
    z-index: 140;
}

.revision_table{
    position: absolute;
    z-index: 135;
    background-color: #333333;
    width: 100%;
}

div.user_table.welcome_table{
	float: left;
    margin-right: 10px;
    width: 100%;
}

div.welcome_table .dataTables_wrapper{
	width:100%;
}

div.welcome_table table.dataTable{
	width:100%;
}


div.welcome_table .dataTables_paginate{
	width:726px;
}

div.welcome_table .dataTables_paginate div.paginate_numbers{
	width:592px;
}

/*h2.tasks_title{
	margin-right:10px;
	font-size:22px;
	font-weight:normal;
	padding-left:10px;
	margin-top:50px;
	margin-bottom:15px;
}*/

/*h2.messages_title{
	margin-right:10px;
	font-size:22px;
	font-weight:normal;
	padding-left:10px;
	margin-top:50px;
	margin-bottom:15px;
}*/

div.moderation_holder{
	float: left;
	background-color: white;
	color: #606061;
	padding: 0px 10px;
	width: 230px;
	font-family: "corporateS";
	font-size: 14px;
	line-height: 20px;
	overflow-y: scroll;
	max-height:554px;
	height:0px;
}

div.moderation_holder .page_moderation:first-child{
	margin-top:10px;
}

div.moderation_holder .page_moderation:last-child{
	margin-bottom:10px;
}

.page_moderation {
    border-bottom: 1px dashed #606061;
	margin-bottom: 8px;
    padding-bottom: 8px;
}

.page_moderation h6{
	font-size: 14px;
	line-height: 20px;
}

.page_moderation p{
	margin-top:20px;
}

/* Multipel filse*/

#progress_wrapper{
    width: 378px;
    position: absolute;
    z-index: 1;
    top: 365px;
    height: 741px;
    padding-left: 8px;
    background-color: rgba(0,0,0, 0.4);
    display: none;
}
#progress{
    position: absolute;
    bottom: 0px;
    border: 1px solid black;
    padding: 10px 0  10px 10px;
    background-color: white;
    max-height: 720px;
    overflow-y: scroll;
}
#progress_title{
    color: black;
    font-size: 20px;
    padding-left: 5px;
}
#main_progress{
    padding: 0;
    margin-top: 10px;
}
.progress_wrapper{
    margin-top: 10px;
    padding-left: 44px;
}
#main_progress .ball_wrapper{
    width: 30px;
    height: 30px;
    border-radius: 19px;
    font-size: 11px;
    line-height: 31px;
}
.ball_wrapper{
    width: 25px;
    height: 25px;
    background: #3683ab;
    border-radius: 16px;
    font-size: 9px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
}
#main_progress .ball_wrapper, #main_progress .bar_border{
    border: 5px solid #DADADA;
}
.ball_wrapper, .bar_border{
    border: 4px solid #DADADA;
}
#main_progress .bar_wrapper{
    width: 285px;
    padding-top: 10px;
    margin-left: -4.3pt;
}
.bar_wrapper{
    padding-top: 8px;
    margin-left: -3.4pt;

}
#main_progress .bar_border{
    width: 280px;
    border-radius: 0 10px 10px 0;
    border-left: none;
}
.bar_border{
    width: 246px;
    border-left: none;
    border-radius: 0 9px 9px 0;
    background-color: white;
}
#main_progress  .bar{
    height: 10px;
}
.bar{
    height: 9px;
    background: #3683ab;
    width: 0;
}
.ball_wrapper,
.bar_wrapper,
.cancel_submit,
.info_wrapper,
.file_name{
    float: left;
}
.file_name{
    max-width: 54%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#main_progress .cancel_submit{
    line-height: 33px;
    font-size: 18px;
}

.cancel_submit{
    padding: 5px;
    line-height: 26px;
    font-size: 13px;
    color: black;
}
.cancel_submit:hover{
    cursor: pointer;
}
#main_progress .info_wrapper{
    font-size: 10px;
    width: 286px;
    padding: 5px 28px;
}
.info_wrapper{
    color: black;
    font-size: 9px;
    width: 254px;
    padding: 5px 20px;
}
.file_size{
    float: right;
    max-width: 44%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.error.progress_wrapper .info_wrapper{
    color:#ec1d26;
}
.error.progress_wrapper .ball_wrapper,
.error.progress_wrapper .bar_border{
    border-color: #ec1d26;
}

.ui-widget-content{
	z-index:150 !important;
}

/*FAQ css*/
#faqs_form .form_right .input_group{
    width: 100%;
    margin-bottom: 11px;
}
#faqs_form .form_right .input_group .select{
    display: block;
    width: 100%;

}
#faqs_form .form_right input[type='text']{
    width: 783px;
}

/* TAGS */
div.role_section.tags_wrapper{
    background-color: white;
    width: 100%;
}
.tags_wrapper .tags{
    color:  #bcbcbc;
    font-family: "corporateS";
    font-size: 14px;
    font-weight: bold;
    display: inline;
}
.tags_wrapper .tags .keywords{
    background-color: #eee;
    display: inline-block;
    margin: 0 5px 2px 0;
    padding: 3px;
    border: 1px dotted #333333;
}
.tags_wrapper .tags .keywords span:first-of-type{
    margin-right: 4px;
}
.tags_wrapper .tags .keywords span:nth-of-type(2):hover{
    cursor: pointer;
}
 div.user_fields div.form_right .tags_wrapper input[type="text"],
 #faqs_form .form_right .tags_wrapper #faqs_tags{
    display: inline-block;
    width: 150px;
}

.input_group .tags_wrapper{
    padding: 7px 10px;
}

#hotspot{
	padding-bottom: 40px;
    padding-top: 40px;
}

#hotspot .hotspot_left{
	text-align:center;
	margin-bottom:40px;
}

#hotspot .hotspot_right{
	padding-left:20px;
	padding-right:20px;
}

#hotspot .hotspot_right .hotspot{
	width:290px;
	float:left;
	margin-right:20px;
	margin-bottom:30px;
}

#hotspot .hotspot_right .hotspot .hotspot_row.half{
	width:135px;
	float:left;
}

#hotspot .hotspot_right .hotspot:nth-child(3n){
	margin-right:0px;
}

#hotspot .hotspot_right input[type="text"],
#hotspot .hotspot_right textarea{
	width:280px;
}

#hotspot .hotspot_right .hotspot .hotspot_row.half input[type="text"]{
	width:115px;
}

#hotspot .hotspot_right select{
	width:290px;
}

.hotspot_points{
	/*margin-bottom:20px;*/
}

.hotspot_image_holder{
	position:relative;
}

/*#hotspot .hotspot_right .hotspot .coords_btn{
	background-color: white;
    border: medium none;
    color: #606060;
    cursor: pointer;
    font-family: arial;
    margin-top: 4px;
    padding: 3px 16px;
}	*/

div.mce-image-title button{
	font-size:19px;
	font-weight:bolder;
}

#pages_revision .active_row{
    font-weight: bold;
}
#pages_revision_wrapper table{
    padding-left: 0;
    padding-right: 0;
}
#pages_revision_wrapper .dataTables_paginate{
    width: calc(100% - 25px);
}
#pages_revision_wrapper .dataTables_paginate div.paginate_numbers{
    width: 1017px;
}
#pages_revision_wrapper thead tr th{
    font-weight: normal;
}
.access_overlay{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
#wrapper_form_pdf_upload .input_group{
    width: 252px;
}
#wrapper_form_pdf_upload  #label_file_input{
    height: 27px;
    width: calc(100% - 37px);
}