.overview_page_block,
.overview_teaser_block {
	pointer-events: none;
}
.overview_page_block img,
.overview_teaser_block img {
	pointer-events: auto;
}

img {
	max-width: 480px;
}

.summary{
	border: 1px red dotted;
	display: inline-block;
}

ol, li{
 font: 12px/20px Arial,sans-serif;
}

body.image_body{
	
	margin-left:10px;
	font-family: Arial,sans-serif;
    font-size: 12px;
    line-height: 20px;
}

/*Backend title on images*/
.text_editor{
    font-family: 'corporateS';
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    padding: 0 5px;
}
