.cf:before, .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.content_wrapper{
    background-color:#3683AB;
    text-align:left;
    position:relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content_wrapper #properties_wrapper,
.content_wrapper #workflow_wrapper,
.content_wrapper #moderations_wrapper{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width: 100%;
    z-index:103;
    background-color: rgba(0, 0, 0, 0.5);
}

.content_wrapper #properties_wrapper .user_fields,
.content_wrapper #workflow_wrapper .user_fields,
.content_wrapper #moderations_wrapper_inner{
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
    color: #FFFFFF !important;
}

#moderations_wrapper div.moderation_holder{
	overflow-y:hidden;
	max-height:auto;
	width:940px;
}

#user_form fieldset label{
	color: #FFFFFF !important;
}

#header{
    margin:10px 10px 0px 10px;
    background-color:white;
    padding-top:10px;
}

#topLinks {
    padding-left:498px;
}

.content_banner_text{
	max-height: 300px;
	overflow: auto;
}
.content_banner_text img{
    max-width: 1126px;
    max-height: 297px;
}
#path{
    margin:0px 10px 5px 10px;
    background-color:white;
    text-align:left;
    /* padding-bottom:10px; */
    padding: 10px 0;
}

#path a{
    color: #2C6B8C;
}

#banner{
    background-color: #FFFFFF;
    margin: 5px 10px;
}

div.content_banner,
div.content_header_d,
div.content_header_m,
.content_tablet_banner,
.content_mobile_banner{
    padding: 15px 15px 1px;
    position:relative;
    border:5px solid white;
	color: #000000;
}
div.content_header_m img{
    width: 480px;
    height: auto;
}
div#main{
    margin: 0px 10px;
    width:1176px !important;
}

.content_main,
.content_content,
.content_footer_i,
.content_footer_e,
.content_footer_e_bl{
    padding: 15px 15px 1px;
    margin-bottom:5px;
    background-color:white;
/*    color:#000000;*/
    position:relative;
    border:5px solid white;
}

.content_right,
.content_farRight,
.content_author,
.content_related{
    padding: 15px 15px 1px;
    margin-bottom:5px;
    background-color:white;
/*    color:#000000;*/
    position:relative;
    border:5px solid white;
}

.content_right,
.content_main,
.content_content,
.content_footer_i,
.content_footer_e,
.content_footer_e_bl,
.content_banner,
.content_farRight,
.content_author,
.content_related{
    font-size:12px;
}

.content_right.not_saved,
.content_main.not_saved,
.content_content.not_saved,
.content_footer_i.not_saved,
.content_footer_e.not_saved,
.content_footer_e_bl.not_saved,
.content_header_m.not_saved,
.content_header_d.not_saved,
.content_banner.not_saved,
.content_farRight.not_saved,
.content_author.not_saved,
.content_related.not_saved{
    border-color:#EC1D26
}

#page_save.save_inactive{
	pointer-events:none;
}

#page_save.not_saved{
	pointer-events:auto;
    background-color:#EC1D26;
    color:white;
}

/*#content_main_text p,*/
.content_main:not(div#content_main_text) span.normal,
.content_main:not(div#content_main_text) span,
.content_main:not(div#content_main_text) p,
.content_main:not(div#content_main_text) span b,
.content_right p,
.content_right span.normal,
.content_right span,
.content_right span b,
.content_farRight p,
.content_farRight span.normal,
.content_farRight span,
.content_farRight span b,
.content_author p,
.content_author span.normal,
.content_author span,
.content_author span b,
.content_banner p,
.content_banner span.normal,
.content_banner span,
.content_banner span b{
    color:#606061;
}

.mce-menu-item:not(.mce-disabled) .mce-text{
	color:white !important;
}
.content_main img.zoom,
.content_main img.inline_zoom,
.content_main img.explainer,
.content_main img.gallery,
.content_main img.simple_no_zoom{
    border: 10px solid #F0F1F2;
    max-width:480px;
    background: none repeat scroll 0 0 #F0F1F2;
}

.content_main td,
.content_right td,
.content_farRight td,
.content_author td{
    color:#606061;
}

.content_main span.normal a,
.content_right span.normal a,
.content_farRight span.normal a,
.content_author span.normal a{
    color:#3683AB;
}

.mce-menubtn button span {
    color: #FFFFFF !important;
}

div#farright,div#author{
	padding-right: 10px;
	float: right;
}

div#right, div#farright {
    margin: 0;
    width: 360px;
    display: none;
}

div#right .genericRS, div#farright .genericRS,
div#page_downloads.genericRS,div#author .genericRS{
    padding:15px 0 1px 10px;
    background-color:white;
    width:330px;
    margin-bottom:5px;
    position:relative;
}

div#page_downloads.genericRS{
    width:565px;
}

div#main div#page_downloads.genericRS{
    border: 5px solid #FFFFFF;
    width: 1156px;
}

div#main div.content_main{
	width: 1136px;
}

div#right div#downloads,
div#right div#related{
	border: 5px solid #FFFFFF;
    width: 340px;
}

.modify_overlay{
    background-color: #3683AB;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height:100%;
    opacity:0.5;
    z-index:140;
    margin-left: -5px;
    margin-top: -5px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.modify_wrapper{
    left: 0px;
    position: absolute;
    top: 0px;
    z-index:150;
}

div#banner .RSTitle,
div#farright .RSTitle,
div#author .RSTitle,
div#right .RSTitle,
div#main .RSTitle{
    border-bottom: medium none;
    color: #FFFFFF;
    font: 14px arial;
	line-height: 15px;
    padding-bottom: 5px;
}

div#right .genericRS .related_record,
div#page_downloads.genericRS .download_record{
    margin-bottom:6px;
}

div#right .genericRS span,
div#page_downloads.genericRS span{
    color:#3683AB;
    float:left;
    width:230px;
	margin-right: 1px;
}

div#right .genericRS div.related_record:hover span,
div#right .genericRS .related_record.active span,
div#page_downloads.genericRS div.download_record:hover span,
div#page_downloads.genericRS div.download_record.active span{
	cursor: pointer;
	background-color: #3683ab;
	color: #FFFFFF;
}

div#page_downloads.genericRS span{
    width:456px;
}

div.content_related div.related_buttons,
div.content_related div.modify_buttons,
div#page_downloads.genericRS div.related_buttons,
div#page_downloads.genericRS div.modify_buttons{
	display: none;
}

div.content_related div.modify_buttons,
div#page_downloads.genericRS div.modify_buttons{
  margin-left: -9px;
}

div.content_related a.modify_links ,
div#page_downloads.genericRS a.modify_links{
    background-color: #3683ab;
    display: block;
    float: left;
    font: 11px Arial,sans-serif;
    border-bottom: medium none;
    background-image: none;
	width: 35px;
	height: 35px;
	margin-right: 1px;
	padding: 0;
	background-position: center;
    background-repeat: no-repeat;
}

div.content_related a.move_up,
div#page_downloads.genericRS a.move_up{
	background-image:  url("../img/backend/modify_up.png");
}

div.content_related a.move_down,
div#page_downloads.genericRS a.move_down{
	background-image:  url("../img/backend/modify_down.png");
}

div#right .genericRS a.delete,
div#page_downloads.genericRS a.delete{
	background-image:  url("../img/backend/modify_delete.png");
}

div.content_related a.back_to_view,
div#page_downloads.genericRS a.back_to_view{
	background-image:  url("../img/backend/modify_finish_icon.png");
	float:right;
}

div#right .genericRS a.add,
div#page_downloads.genericRS a.add{
	background-image:  url("../img/backend/add_record_icon.png");
}
.modify_buttons .modify_links.disable{
    background-image:  url("../img/template/svg/check-list_white.svg");
    background-size: 20px;
    background-position: center;
}
.modify_buttons .modify_links.order{
    background-image:  url("../img/template/svg/a-z_white.svg");
    background-size: auto 20px;
    background-position: center;
}
div.content_related a.modify_links:hover ,
div.content_related a.modify_links.active,
div#page_downloads.genericRS a.modify_links:hover,
div#page_downloads.genericRS a.modify_links.active{
	background-color: #4a4a4b;
}
div.content_related label{
    float: left;
    max-width: 430px;
}
.content_related .related_downlowd_record,
.content_related .related_record {
    margin-bottom: 5px;
}
.two_cols{
    width: 49%;
    float: left;
}
.two_cols:first-of-type{
    margin-right: 2%
}
.three_cols{
    width: 32%;
    float: left;
}
.three_cols:nth-of-type(2),
.three_cols:nth-of-type(1){
    margin-right: 2%
}
.three_cols div.content_related.unviewable label{
    max-width: 239px;
}
.three_cols div.content_related label{
    max-width: 312px;
}
div.content_related .related_buttons {
    float: right;
}
.dataTables_paginate div.paginate_numbers {
    width: 407px;
}

div#filemanager_wrapper .dataTables_paginate div.paginate_numbers{
    width: 824px;
}

a.nav_box.white:hover,
a.nav_box.white.active{
    background-color:#3683AB;
    color:white;
}

a.nav_box{
    border-bottom:medium none;
}

div#overlay{
    position:fixed;
    width:100%;
    height:100%;
    background-color:#4B4B4B;
    opacity:0.5;
    left:0px;
    top:0px;
    z-index:91;
}

div#tree_wrapper{
    background-color: #3683AB;
    left: 50%;
    margin-left: -490px;
    padding: 20px;
    top: 10px;
    width: 569px;
    z-index: 92;
	overflow-y: scroll;
	overflow-x: hidden;
}
div#tree_wrapper td, div#tree_wrapper td p{
	color: #FFFFFF;
}

div#filemanager_wrapper{
    left: 0;
    position: absolute;
    top: -85px;
    z-index: 96;
    width:980px;
}

.dataTables_paginate.paging_ellipses.related_ellipses{
    background-color:transparent;
}

#footer{
    margin-top: 0;
    position:static;
    margin-left: 10px;
    margin-right: 10px;
    width: 1136px;
    background-color:#606061;
    border-top:medium none;
    padding: 6px 20px;
    display: none;
}

#footer span{
    line-height:20px;
}

.goTop {
    margin-top: 0;
    position:static;
    background-color:#606061;
    border-top:medium none;
    padding: 6px 20px;
}

#footer span{
    line-height:20px;
}

/* |BEGIN| This section is copied from main.css */
.content_main{
	width: 510px;
}
#content_main_text,
#content_content_text{
	width: 100% !important;
	overflow: auto;
}
.mce-item-table{
	min-width: 50px !important;
	max-width: 510px !important;
}
/* |END| */

/**  TO BE FIXED **/
#navContainer{
	display:none;
}

