@font-face {
    font-family: 'corporateS';
    src: url('../webfonts/CorporateS-Regular.eot');
    src: url('../webfonts/CorporateS-Regular.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/CorporateS-Regular.woff') format('woff'),
         url('../webfonts/CorporateS-Regular.ttf') format('truetype'),
         url('../webfonts/CorporateS-Regular.svg#corporate_sregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*++++++++++++++++++++++++++++++++ RESETS & CONTENTS ++++++++++++++++++++++++++++++++*/
*{
	margin: 0;
	padding: 0;
}
html, body{ height: 100%; }
body.basic {
	text-align: center;
}
body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #FFF;
	margin: 0;
	padding: 0;
	color:#606061;
	position: relative;
}
div {display: block;}
a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #2C6B8C;
	outline: none;
}
a:hover, a:active {
    color:#3683ab;
	text-decoration: underline;
	outline: none;
}
span, td, b, p, form, small, .normal{ font-size: 12px; line-height:20px; font-family:Arial,sans-serif; }
b, strong { font-weight: bold; }
h1, .titleOfText{
	color: #000;
	font: 20px corporateS;
	margin: 0px 0px 0px 0px;
	display: block;
}
/* SUB-HEADING */
h1 > small, .textAfterTitle{
	font: 14px corporateS;
	color: #000;
	display: block;
}
#right h1, #farright h1{
	font-size: 16px;
	clear: both;
	margin-bottom: 10px;
}
#right h1 small{ font-size: 12px; }

h2{
	color:black;
	font:bold 12px Arial,sans-serif;
	margin:10px 0px 0px 0px;
}
/*body.basic*/
.tableblock {
	width: 510px;
	margin-top: 16px;
	border-top: 2px solid #76787A;
	border-bottom: 1px solid #AFB2B4;
	border-collapse: collapse;
	padding: 0;
}
#main :not(#answers) table,
#main table:not([class]){
	width: 510px;
	margin-top: 16px;
	border-top: 2px solid #76787A;
	border-bottom: 1px solid #AFB2B4;
	border-collapse: collapse;
	padding: 0;
}

.tableblock {
width: 510px;
margin-top: 16px;
border-top: 2px solid #76787A;
border-bottom: 1px solid #AFB2B4;
border-collapse: collapse;
padding: 0;
}
#main #answers table{
	border-top: none;
	border-bottom: none;
}
/*body.basic th, body.basic td{*/
#main th, td{
    height: 20px;
    padding: 0;
}
#main td{
    font-size:  12px;
	line-height: 20px;
	font-family: Arial,sans-serif;
}
body.basic #main tr:first-child td,
body.basic #main th{
    font: bold 12px/20px Arial,sans-serif;
    background-color: #D2D4D6;
	text-align: left;
}
body.basic #main *:not(#answers) tr:nth-child(odd){
    background-color: #e7e9ea;
}
body.basic #main #answers tr:first-child td,
body.basic #main #answers th,
body.basic #main #answers tr:nth-child(odd){
    background-color: transparent;
}

hr{
	clear:both;
	color:#d2d4d6;
	background-color:#d2d4d6;
	width:100%;
	height:1px;
	border:0px solid #d2d4d6;
}
#right hr,
#farright hr {
	margin-bottom: 10px;
}
ul, ol{ margin-left:19px; }
/*li{ font:11px/17px Arial,sans-serif; }*/
.clear { clear: both; }
.red, .red b{ color: #ff0000 !important; }
.centered{ text-align: center; }
/* +++++++++++++++++++++++++++++++ construnction layout +++++++++++++++++++++++++++++++ */
#container{
	width: 980px;
	top: 0;
	/*bottom: 0;*/
	/*overflow: hidden;*/
	left: 50%;
	margin-left: -490px;
	position: absolute;
	/*border: 1px solid #000;*/
	text-align: left;
	padding: 9px 0px 90px 0px;
	font: 12px/20px Arial,sans-serif; color:#606061;
	min-height: 100%;
	 -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#topLinks { padding: 0 0 0 506px; height: 19px; }
#topLinks .topLink {
	font: 10px Arial,sans-serif;
	color: #606061;
	background-image: url(../img/template/topLinkArrow.gif);
	background-position: 3px 8px;
	background-repeat: no-repeat;
	padding: 0 7px 0 10px;
	display: block;
	float: left;
	height: 19px;
	line-height: 19px;
	text-decoration: none;
}
#topLinks .topLink:hover{
	color:#000;
	text-decoration:underline;
}
#topLinks #searchDiv {
	float: right;
	margin: 0 16px 0 0;
}
#topLinks #search {
	border: 1px solid #809EB6;
	height: 17px;
	width: 107px;
	color: #000;
	font: 10px Arial,sans-serif;
	display: block;
	float: left;
	padding: 0;
	line-height: 16px;
}
#topLinks #searchBtn {
	width: 19px;
	height: 19px;
	display: block;
	float: left;
}
#logos { height: 83px; position: relative; }
#logos #Dlogo {
	position: absolute;
	left: 19px;
	top: 20px;
	width: 180px;
	height: 24px;
}
#logos #Dlogo a{
	display:block;
	border:0px;
}
#BDN {
	position: absolute;
	top: 28px;
	right: 20px;
	width: 250px;
	font: 16px corporateS;
	color: #263F6A;
	text-align: right;
}
/*============================== NAVIGATION ==============================*/
#navContainer {
	height: 39px;
	margin: 0 20px 0 20px;
	border-bottom: 1px solid #D2D4D6;
}
#nav { position: relative; }

/* BRANDS */
#brand, #brandMenu, #subsidiary, #subsidiaryMenu, #upperPart, #subsidiaryUpper{
    font: 14px/29px Arial,sans-serif;
    color: #000;
}
#brand:hover, #brandMenu:hover, #subsidiary:hover, #subsidiaryMenu:hover, #upperPart:hover, #subsidiaryUpper:hover{
	color: #2C6B8C;
}
#brand, #subsidiary {
    height: 39px;
    position: absolute;
}
#brand{
    width: 199px;
    padding-left: 20px;
}
#brandLabel, #brandMenuLabel{
    width: 159px;
    height: 20px;
    border-right: 1px solid #e8e9ea;
    font: 18px/18px corporateS;
    position: absolute;
    left: 68px;
    top: 4px;
    padding-left: 10px;
}
#brandMenuLabel{
    border: 0px;
    left:67px;
}

#subsidiary { left: 257px; padding-left: 1px; }
#subsidiaryLabel, #subsidiaryMenuLabel {
    width: 135px;
    height: 20px;
    font: 18px/18px corporateS;
    position: absolute;
    /*left: 83px;*/
    left: 100px;
    top: 4px;
}
#subsidiaryMenuLabel{ left: 119px; }
.brandsArrow{ margin: 0 0 0 8px; }
#brand:hover, #brandMenu:hover, #subsidiary:hover, #subsidiaryMenu:hover { color: #2C6B8C; }
.shadow{
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
    -moz-box-shadow:    0px 2px 4px rgba(0, 0, 0, 0.9);
    box-shadow:         0px 2px 4px rgba(0, 0, 0, 0.9);

    zoom: 1;
   filter: progid:DXImageTransform.Microsoft.Shadow(Color=#666666, Strength=7, Direction=90),
           progid:DXImageTransform.Microsoft.Shadow(Color=#666666, Strength=5, Direction=135),
           progid:DXImageTransform.Microsoft.Shadow(Color=#666666, Strength=7, Direction=180),
           progid:DXImageTransform.Microsoft.Shadow(Color=#666666, Strength=5, Direction=225),
           progid:DXImageTransform.Microsoft.Shadow(Color=#666666, Strength=7, Direction=270);
}
#brandMenu, #subsidiaryMenu{
    display: none;
    position: absolute;
    top: 0px;
	z-index: 150;
}
#upperPart{
    position: absolute;
    height: 41px; /* e.g. > 39 */
    width: 217px;
    background: #fff;
    border-left: 1px solid #e8e9ea;
    border-right: 1px solid #e8e9ea;
    padding-left: 19px;
    margin-left: -20px;
}

#brands{
    width: 390px;
    height: 120px;
    top:39px;
    margin-left: -30px;
    position: absolute;
    background: #fff;
    padding: 10px 20px;
    border-top: 1px solid #e8e9ea;

}
#brands img, #subsidiaries img{ border: 0px; }
#brands a, #subsidiaries a{
    display: block;
    float: left;
    margin: 10px 10px 0px 0;
}
#brands a img, #subsidiaries a img{ border: 1px solid #fff; }
#brands a:hover img, #subsidiaries a:hover img, .L1Active img{ border: 1px solid #afafb0 !important; }
#subsidiaries{
    /*width: 260px;*/
	width:463px;
    height: 60px;
    top:39px;
    margin-left: -29px;
    position: absolute;
    background: #fff;
    padding: 10px 20px;
    border-top: 1px solid #e8e9ea;
}
#subsidiaryUpper{
    position: absolute;
    height: 40px; /* e.g. > 39 */
    width: 217px;
    background: #fff;
    border-right: 1px solid #e8e9ea;
    border-left: 1px solid #e8e9ea;
    padding-left: 20px;
    margin-left: -21px;
    top:0px;
}

#subsidiary.wide{ left: 258px !important; }
#subsidiaries.wide{ width: 271px !important; }
#subsidiaryLabel.wide{ left: 100px !important; }
#subsidiaryMenuLabel.wide{ left: 120px !important; }
#subsidiaryUpper.wide{
    width: 271px !important;
    padding-left: 21px !important;
    margin-left: -22px !important;
}
/*============================== Level 2 ==============================*/
#L2{
	height: 25px;
	margin: 0 0 0 0px;
    /*left: 388px;*/
    /*right: 0px;*/
    right: -10px;
    position: absolute;
    white-space: nowrap;
	z-index: 90;
}
div.L2Link{
    float:right;
	height: 39px;
}
/*.expandedL2Link{*/
    /*border-left: 1px solid #e1e1e1;*/
    /*border-right: 1px solid #e1e1e1;*/
    /*border-top: 1px solid #fafafa;*/
/*}*/
a.L2LinkA{
	/*font:bold 12px Arial,sans-serif;*/
	/*line-height:21px;*/
	/*color:#263f6a;*/
	display:block;
	/*height: 39px;*/
	/*padding:3px 12px 0 12px;*/
	/*margin:0 1px 0 0;*/
    color:#000;
    font:14px/29px Arial,sans-serif;
   	text-decoration:none;
    padding: 0 10px 0 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}
a.L2LinkA:hover{
    /*color:#3683ab;*/
    text-decoration:none;
}
.expandedL2LinkA{
    height: 39px;
    background: #fff;
    position: relative;
    z-index: 100;

    /*padding: 0 10px;*/
    border-left: 1px solid #e1e1e1 !important;
    border-right: 1px solid #e1e1e1 !important;
    border-top: 1px solid #fafafa !important;
}
/*#L1 .L1Link:hover .L2Group{*/
/*	display:block;*/
/*}*/
a.L2LinkA:active{
	/*color:#3683ab;*/
}
div.L2LinkActive{
    border-left: 1px solid #d2d4d6;
    border-right: 1px solid #d2d4d6;
    border-bottom: 1px solid #fff;
}
div.L2LinkActive a.L2LinkA{
	color:#3683ab !important;
}
div.L2LinkActive a.expandedL2LinkA{
    border-left: 1px solid transparent !important;
    border-right: 1px solid transparent !important;
    border-top: 1px solid transparent !important;
}

.L3 {
    /*	IE 6 */
    /*border:1px solid #959698;*/
    /*border-top:0px solid #000;*/
    /*background-color: #f0f1f2;*/
    /*padding:15px 5px 11px 16px;*/
    /* Rest of the world */

    background: #FFFFFF;
    /*border-top:1px solid transparent;*/
    /*border:1px solid green;*/
    /*padding:35px 0px 0px 0px;*/
    padding: 20px 10px 20px 20px;

    position:absolute;
    top: 39px;
    display:none;
    margin:0px 0px 0px -20px;
    clear:both;
    float:left;
    border-top:1px solid #e8e9ea;

    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
    -moz-box-shadow:    0px 2px 4px rgba(0, 0, 0, 0.9);
    box-shadow:         0px 2px 4px rgba(0, 0, 0, 0.9);

   zoom: 1;
   filter: progid:DXImageTransform.Microsoft.Shadow(Color=#666666, Strength=7, Direction=90),
           progid:DXImageTransform.Microsoft.Shadow(Color=#666666, Strength=5, Direction=135),
           progid:DXImageTransform.Microsoft.Shadow(Color=#666666, Strength=7, Direction=180),
           progid:DXImageTransform.Microsoft.Shadow(Color=#666666, Strength=5, Direction=225),
           progid:DXImageTransform.Microsoft.Shadow(Color=#666666, Strength=7, Direction=270);
}
.no-boxshadow .L3{ padding-left: 40px; }
.L3Inner{
	/*background:url("img/template/hg_menu1_02.png") no-repeat scroll right bottom transparent;*/
	/*background-image: url("img/template/hg_menu1_02.png");
	background-position:right bottom;
	background-repeat: no-repeat;*/
	display:block;
	/*margin:0 0 0 20px;*/
	/*padding:0 20px 20px 5px;*/
	/*position:absolute;*/
	/*width:auto;*/
	clear:both;
	float:left;
}
.L3table{
    border-collapse:collapse;
}
.L3table td{
    padding: 0;
    border: 0px;
    vertical-align: top;
}
.L3Group{
	float:left;
	width:230px;
	display:block; position: relative;
	/*margin:15px 10px 10px 10px;*/
    margin: 0px 10px 0px 0px;
	border-top:1px solid #d2d4d6;
	padding:0;
}
a.L3Link, a.L4Link{
	display: block; position: relative;
    width:220px;
    height:100%;
    /*padding:3px 1px 3px 9px;*/
   	margin:0 14px 0 0;
    /*text-decoration: none;*/
    white-space: normal;
}

/*a.L3Link:link,
a.L3Link:visited,*/
a.L3Link{
	color:#000;
	/*font:bold 14px/22px Arial,sans-serif;*/
    font:bold 14px/1.5 Arial,sans-serif;
    padding:6px 1px 6px 8px;
    border-bottom:1px solid #afb2b4;
    /*font:bold 11px/80px Arial,sans-serif;*/
	background: #ffffff;
}
/*a.L4Link:link,
a.L4Link:visited, */
a.L4Link{
	/*font: 11px/22px Arial,sans-serif;*/
    font: 11px/1.5 Arial,sans-serif;
    padding:7px 1px 7px 8px;
	/*background-image: url(img/template/L4Arrow.gif);*/
	/*background-image: url(img/template/icons/arrow.gif);
    background-position: left 12px;
	background-repeat: no-repeat; */
	background: #ffffff url(../img/template/icons/arrow.gif) left 13px no-repeat;
    border-bottom:1px solid #d2d4d6;
}
a.L3Link:hover{	background-color:#f0f1f2; }
a.L4Link:hover{	background-color:#f0f1f2; }
a.L3Link:active, a.L4Link:active{
	color:#ffffff;
	background-color:#3f9ac9;
}
a.L3LinkActive, a.L4LinkActive, a.L3LinkActive:hover, a.L4LinkActive:hover{
    width:220px;
	/*background-color:#3f9ac9;*/
    background-color:#3683ab;
	color:#fff;
	/*text-decoration: none;*/
	display: block; position: relative;
	border-bottom:1px solid #afb2b4;
	height:100%;
    padding:3px 1px 3px 9px;
   	margin:0 14px 0 0;
    white-space: normal;
}
a.L3LinkActive, a.L3LinkActive:hover{
	/*font:bold 14px/22px Arial,sans-serif;*/
	font:bold 14px/1.5 Arial,sans-serif;
}
a.L4LinkActive, a.L4LinkActive:hover{
    /*font: 11px/22px Arial,sans-serif;*/
    font: 11px/1.5 Arial,sans-serif;
}

#L5{
	/*width:200px;	*/
    margin-bottom: 32px;
}
.RSTitle{
	/*font:bold 11px Arial,sans-serif;*/
    font:16px corporateS;
    /*text-transform:capitalize;*/
	color:#000;
	border-bottom:1px solid #afb2b4;
    padding-bottom: 5px;
    /*margin-top: 22px;*/
}
#L5 a{
	/*font:11px/22px Arial,sans-serif;*/
    font:11px/1.5 Arial,sans-serif;
	display:block;
	background-color:#f0f1f2;
	/*background-image: url(../img/template/L4Arrow.gif);*/
	background-image: url(../img/template/icons/arrow.gif);
	/*background-position:2px 6px;*/
    background-position:left 12px;
	background-repeat: no-repeat;
	/*min-height:16px;*/
	border-bottom:1px solid #d2d4d6;
	/*padding:2px 0px 0px 9px;*/
    padding:7px 1px 7px 8px;
}
#L5 a:hover{
	background-color: #fff;
}
#L5 a:active, #L5 a.L5Active, #L5 a.L5Active:hover{
	background: #3f9ac9;
	color:#fff;
}
/*============================== PATH ==============================*/
#path{
    margin: 5px 0 0 0px;
}
#path, #path span{
	color:#2c6b8c;
	font: 10px Arial,sans-serif;
	height:15px;
	padding: 2px 0 0 10px;
}
#path a{
	font: 10px Arial,sans-serif;
	/*text-decoration:none;*/
	line-height:11px;
}
/*============================== MAIN ==============================*/
div#main {float: left; margin: 15px 0px 0 20px; }
body.home div#main { width: 750px; }
body.basic div#main{ width: 510px; }

#banner {
	/*background-color:#fff;*/
	/*background-color:#d2d4d6;*/
	margin: 0px 10px 0px 10px;
}

div#right{width: 230px; margin: 15px 0 0 10px; float: left;
	/*background-color: crimson;*/
}
body.home div#right{display: none; }

div#farright{width: 180px; float: left; margin: 15px 0 0 10px;
	/*background-color: cornsilk;*/
}
/* ============================ PERSONAL SERVICES ==================================*/
#personal{
	background-color:#fff;
	padding:10px 10px 10px 10px;
	font:11px Arial,sans-serif;
	color:#606061;
	margin:0 0 32px 0;
    border: 1px solid #d2d4d6;
}
.blockTitle{
    font: 16px corporateS;
	color:#000;
    padding-bottom: 10px;
}
 #personal .blockText{ padding:2px 0px 5px 0px; }
 #personal .blockText b{ font: bold 11px Arial,sans-serif; }
 #personal .personalHL{
	border-bottom:1px solid #D2D4D6;
	height:1px;
}
input.loginBox{
	border:1px solid #d2d4d6;
	height:28px;
	width:156px;
    font:12px/28px Arial,sans-serif;
    color: #000;
	margin:0px;
}
.loginLink{
	font:11px/1 Arial,sans-serif !important;
	background-position: 0px 11px !important;
	padding:9px 1px 0px 9px !important;
}
 #personal .linkNum{
	margin:0;
	padding:0;
    border-bottom:1px solid #D2D4D6;
	height: 29px;
}
#personal .linkNum:hover{ background-color:#f0f1f2; }
#personal a{
	font:11px/22px Arial,sans-serif;
	display:block;
	background-image: url(../img/template/icons/arrow.gif);
    background-position:0px center;
	background-repeat: no-repeat;
    padding:3px 0px 3px 9px;
}
#personal .num{
	color:#606061;
	font:bold 11px/22px Arial,sans-serif;
	float:right;
}
#personal .btn, .button{
	height:28px;
    background-image: none;
	background-color:#3683ab;
	text-align: center;
	color:#fff;
	font:11px/28px Arial,sans-serif;
	text-decoration:none;
	display:block;
	margin:10px 0px 0px 0px;
	clear:both;
	padding:0;
	border:1px solid #3683ab;
	width:100%;
}
#personal .btn:hover, .button:hover{
	color:#263f6a;
    background-color:#d2d4d6;
	background-image: none;
	text-decoration:underline;
}
/*+++++++++++++++++++++++++++++ TOOLS +++++++++++++++++++++++++++++*/
.RSTitle{
    font:16px corporateS;
	color:#000;
	border-bottom:1px solid #afb2b4;
    padding-bottom: 10px;
}
#tools, .genericRS, #help{
    width:100%;
    margin:0px 0 32px 0;
}
.genericRS a{
	font:11px/1.5 Arial,sans-serif;
	display:block;
	background-color:#fff;
	background-image: url(../img/template/icons/arrow.gif);
    background-position:left 12px;
	background-repeat: no-repeat;
	border-bottom:1px solid #d2d4d6;
    padding:7px 1px 7px 9px;
}
.genericRS a:hover{	background-color:#f0f1f2; }
#tools a{
	font:11px/1.5 Arial,sans-serif;
	display:block;
	background-color:#fff;
	border-bottom:1px solid #d2d4d6;
    padding:7px 1px 7px 19px;
    background-position:0px center;
    background-repeat: no-repeat;
	/*height: 23px;*/
}
#tools a:hover{	background-color:#f0f1f2; }
#tools #print{ background-image: url(../img/template/icons/print.gif); }
#tools #recommend{ background-image: url(../img/template/icons/recommend.gif); }
#tools #rate{ background-image: url(../img/template/icons/rate.gif); }
#tools #save{ background-image: url(../img/template/icons/save.gif); }
#tools #store{ background-image: url(../img/template/icons/store.gif); }
#tools .feedback, #faq, #tips, #help .sitemap, #help .index, #help .glossaryA{
	font:11px/1.5 Arial,sans-serif;
	display:block;
	background-color:#fff;
	border-bottom:1px solid #d2d4d6;
	padding:7px 0px 7px 19px;
    background-repeat: no-repeat;
    background-position:0px center;
}
#tools .feedback:hover, #help .faq:hover, #help .tips:hover, #help .sitemap:hover, #help .index:hover, #help .glossaryA:hover{
	background-color:#f0f1f2;
    background-repeat: no-repeat;
}
#help a:active,
#help a.helpActive,
#tools a.helpActive,
#tools a.feedback:active{
	font:11px/1.5 Arial,sans-serif;
	display:block;
	text-decoration:none;
	border-bottom:1px solid #d2d4d6;
	padding:7px 0px 7px 19px;
	color:#fff;
	background-color:#3f9ac9;
}
#tools .feedback{ background-image: url(../img/template/icons/feedback.gif); }
#help .faq{ background-image: url(../img/template/icons/faq.gif); }
#help .tips{ background-image: url(../img/template/icons/tips.gif); }
#help .glossaryA{background-image: url(../img/template/icons/imo_glossary.gif);}
#help .sitemap{ background-image: url(../img/template/icons/sitemap.gif); }
#help .index{ background-image: url(../img/template/icons/index.gif); }
/* ============================ RIGHT BLOCKS =================================== */
/* ================================================================= */
.left20{margin-left: 20px;}
.goTop {
	font: 11px Arial,sans-serif;
	text-decoration: none;
	background-image: url(../img/template/top.gif);
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding: 0 0 0 11px;
	display: block;
	clear: both;
	margin: -70px 0 20px 20px;
	position: absolute;
	top: 100%;
}
#footer {
	position: absolute;
	top: 100%;
	padding: 5px 20px 18px 0px;
	background: #FFF;
	font: 11px Arial,sans-serif;
	color: #606061;
	margin: -36px 20px 0 20px;
	width: 920px;
	border-top: 1px solid #D2D4D6;
}
#footer span{ font-size: 11px; }
#alertsBG{ position:fixed; display:none; background-color:#d2d4d6; opacity:0.8; top:0px; left:0px; width:100%; height:100%;  z-index:200;}
/*#alertsBG{ position:fixed; display:block; background-color:#d2d4d6; opacity:0.8; top:0px; left:0px; width:100%; height:100%;  z-index:200;}*/
/*#alerts{ width:509px; noheight:420px; top:50%; margin-top:-210px; position:fixed; border: 1px solid red; padding:10px; left:50%; margin-left:-266px; background-color:#FFFFFF; display:none; z-index:202; text-align:left; margin-top:auto; margin-bottom:auto;}*/
/*#alerts{ width:509px; top:50%; margin-top:-210px; position:fixed; border: 1px solid red; padding:10px; left:50%; margin-left:-266px; background-color:#FFFFFF; display:block; z-index:202; text-align:left; margin-top:auto; margin-bottom:auto;}*/
#alerts{ width:509px; top:50%; margin-top:-210px; position:fixed; border: 1px solid red; padding:10px; left:50%; margin-left:-266px; background-color:#FFFFFF; display:none; z-index:202; text-align:left; margin-top:auto; margin-bottom:auto;}
.redButton{
	display: block;
	width: 509px;
	height: 24px;
	font: 14px/24px Arial;
	text-decoration: none;
	color: #fff;
	background-color: #ff0000;
	text-align: center;
	margin-top: 10px;
}
.redButton:hover{ background-color: #cc0000; color: #fff; text-decoration: none; }
#cookie_notification{
	display: none;
	/*display: block;*/
	padding: 20px;
	background: #fff;
	position: fixed;
	width: 735px;
	height: 138px;
	margin: -89px 0 0 -387px;
	top: 50%;
	left: 50%;
	z-index: 201;
}
#cookie_notification:after {
	content: '';
	display: block;
	position: absolute;
	top: 20px;
	right: 20px;
	background-image: url(../img/template/cookiesx.png);
	width: 18px;
	height: 18px;
	cursor: pointer;
}
#cookie_notification a.arrowlink {
	background-position: -5px center;
    padding-left: 8px;
}
#cookie_notification button{
	width:120px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
}
/* FORMS */
.fltlft { float: left; }
.fltrght { float: right; }
.right103{ margin-right: 103px; }
#main input, #main textarea, #main select { border: 1px solid #D2D4D6; font: 12px/21px Arial,sans-serif; color: #606061;}
#main textarea{ width: 320px; height: 120px; }

#profileForm input[type=text], #profileForm input[type=password], #forgottenForm input[type=text] { width: 125px; margin-bottom: 15px; }
#profileForm select { margin-bottom: 15px; }
#profileForm #newsletterDiv {
	padding: 10px;
	border: 1px solid #d2d4d6;
	background-color: #f0f1f2;
}
#dialogForm input[type=text],
#feedbackForm input[type=text]
{ width: 150px; margin-bottom: 15px; }
#dialogForm textarea, #feedbackForm textarea { width: 320px; margin-bottom: 15px; }
#commentsForm input[type=text], #commentsForm textarea, #commentsForm a.button { width: 432px; margin-bottom: 15px; }
.commentDiv { margin-bottom: 15px; }
.commentDiv .dateSpan {padding: 0 8px; background-color: #F0F0F1; margin-bottom: 10px;}
.commentBody{ white-space: pre-wrap; }

#advSearchForm input{ width:200px; }
#advSearchForm select { margin-bottom: 15px;}
#advSearchForm select + select { margin-left: 9px;}
/* INDEX PAGE & GLOSSARY */
.letterlink, .glossaryNormal{
	/*font-family:Arial, Helvetica, sans-serif;*/
	/*font-size:17px;*/
    font:17px corporateS;
	/*text-decoration:underline;*/
	/*color:#3f9ac9;*/
}
.letterlink:hover, .glossaryNormal:hover {
	/*color: #263f6a;*/
	text-decoration: underline;
}
.activeLetter, .glossaryActive{
	/*font-family:Arial, Helvetica, sans-serif;*/
	/*font-size:17px;*/
    font:17px corporateS;
	text-decoration:none;
    color: #3683ab;
}
/* ======================= GLOSSARY ========================== */
#glossaryTermsList{
    width:510px;
    position: relative;
}
#glossaryTermsList a{
    display: block;
    float: left;
    margin: 0px 10px 0px 0px;
    width: 104px;
}
.termNormal{
	background-image: url(../img/template/icons/imo_arrow.gif);
	background-repeat: no-repeat;
    background-position: left 1px;
	padding-left: 13px;
    margin: 0 0 2px 0;
    display: block;
	line-height: 1.5;
}
.termActive{
	background-image: url(../img/template/icons/imo_arrow.gif);
	background-repeat: no-repeat;
	background-position: left 1px;
	padding-left: 13px;
	text-decoration:underline;
    color:#2c6b8c;
    line-height: 1.5;
}
/* GLOSSARY TOOLTIP */
a.tooltip{
    position: relative;
    outline: none;
    text-decoration: none;
    border-bottom: 1px dotted #000;
    cursor: help;
}
.tooltip > span{
    display: none;
    position: absolute;
    text-align: left;
    top: -115px;
    left: 0px;
    height: 75px;
    /*width: 200px;*/
    min-width: 240px;
    padding: 20px;
    background: #f5f5f5;
    color: #606061;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
    -moz-box-shadow:    0px 2px 4px rgba(0, 0, 0, 0.9);
    box-shadow:         0px 2px 4px rgba(0, 0, 0, 0.9);
	z-index: 101;
}
.tooltip:hover > span{
    display: block;
}

.tooltip > span:after {
    content: "";
    position:absolute;
    bottom:-4px; /* value = - border-top-width - border-bottom-width */
    left:20px; /* controls horizontal position */
    /*margin-left: -6px;*/
    border-width:4px 4px 0; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#f5f5f5 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}
/* SEARCH RESULTS */
.description b,
.blackbold{
    color: #000;
    font-weight: bold;
}
.searchResult{
	display: block;
	font: 11px/17px Arial,sans-serif;
	border-top: 1px solid #d2d4d6;
	padding-top:10px;
}
.searchPath + .searchPath{margin-right: 4px;}
.searchPath + .searchPath:after{
	content: " / ";
	font-size: 11px;
	font-family: Arial;
	color: #263F6A;
}
/* PAGINATION */
.pageNumber, .currpage, .fbackward, .prevpage, .nextpage, .fforward {
	width: auto;
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #f0f1f2;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: 1px;
	margin-right: 1px;
}
.nextpage{
	background-image: url(../img/template/icons/imo_arrow.gif);
}
.fforward{ background-image: url(../img/template/icons/imo_fforward.gif); }
.prevpage{ background-image: url(../img/template/icons/imo_leftarrow.gif); }
.fbackward{ background-image: url(../img/template/icons/imo_fbackward.gif); }
/* =============================================== DOWNLOADS =============================================== */
.removeLink{
	padding-left: 18px;
	padding-right: 16px;
	background-repeat: no-repeat;
	background-image: url(../img/template/icons/imo_remove.gif);
	background-position: 0 -2px;
}
.addDownloadLink{
	padding-left: 18px;
	padding-right: 16px;
	background-position: left -4px;
	background-repeat: no-repeat;
	background-image: url(../img/template/icons/imo_remove.gif);
}
.removeSelLink,
.selectAllLink{
	margin-right: 15px;
	float:left;
}
.downloadSelLink{
	padding-left: 18px;
	padding-right: 16px;
	background-position: left center;
	background-repeat: no-repeat;
	background-image: url(../img/template/icons/imo_downloadselected.gif);
	/*float:right;*/
}
.hasZoom{

}
.hasZoom:hover{
	background-position:center top;
}
.hasZoom:link img,
.hasZoom:visited img{
	border:1px solid #3f9ac9;
	background-position:left top;
}
.hasZoom:focus img,
.hasZoom:hover img,
.hasZoom:active img{
	border:1px solid #263f6a;
}
#downloads, div.downloadMenus { width: 500px;}
div.downloadMenus{ margin-bottom: 20px;}
div.downloadMenus select{ width: 200px;}
div.downloadMenus select:first-child + select{ margin: 0 25px;}
div.downloadDiv{width: 500px; position: relative;}
.odd{ background: #F0F1F2;}
div.downloadLeft{width: 120px; padding: 12px 8px; float: left;}
div.downloadLeft img{width: 120px; height: auto;}
div.downloadRight{
	width: 356px;
	padding: 8px 8px 12px 0;
	float: left;
	font-size: 11px;
	line-height: 18px;
}
div.downloadRight input[type=checkbox]{margin: 5px 8px 0 0;}
div.downloadBottom{ clear: both; padding: 0 0 12px 8px; }
div.linklist{ width: 500px; height: 20px; padding: 10px 0; position: relative; font-size: 11px; }
.linklist .fltlft{ width:400px; padding: 0 10px; position: relative;}
.linklist .fltrght{ width: 80px; }

#ratingDiv {
	left: 50%;
	width: 215px;
	margin-left: -239px;
	top: 50%;
	height: 107px;
	margin-top: -53px;
	position: fixed;
	margin-right: auto;
	display: none;
	background-color: #fff;
	padding: 6px;
	border: 1px solid #afb2b4;
	z-index: 201;
}
#ratingDiv div{ position: relative; }
#ratingDiv div:before{
	content: "";
	position:absolute;
	left:50%;
	border-left: 1px solid #afb2b4;
	display:block;
	width:2px;
	height: 3px;
}
#ratingDiv div + div{ margin: 0 0 0 9px; }
/*#dialogForm label:after{ content: ":"; }*/
.required:after{ content:"*"; color:red; }
.rsblock{ width: 242px; margin: 0px 0 32px 0; }
.rsblock h3{
	font: 16px corporateS;
	color: #000;
	border-bottom: 1px solid #AFB2B4;
	padding-bottom: 5px;
}
.rsblock a{
	font: 11px/1.5 Arial,sans-serif;
	display: block;
	background-color: #FFF;
	background-image: url(../img/template/icons/arrow.gif);
	background-position: left 13px;
	background-repeat: no-repeat;
	border-bottom: 1px solid #D2D4D6;
	padding: 7px 1px 7px 9px;
}
.rsblock a:hover { background-color: #F0F1F2; }
#main .rsblock + .rsblock{ margin-left: 10px; }
#right .rsblock { width: 230px; clear: both;}
#farright .rsblock {width: 180px; clear: both;}
.smLink{display: block;}
/* Sitemap */
.smLevel1{
	font-family:Arial,sans-serif;
	font-size:17px;
}
.smLevel2{
	font-size:14px;
	margin-left:35px;
}
.smLevel3{
	font-size:11px;
	font-weight:bold;
	margin-left:71px;
}
.smLevel4{
	font-size:11px;
	margin-left:107px;
}
.smLevel5{
	font-size:11px;
	margin-left:143px;
}
/* LINKS "4px remake" */
.backlink, .arrowlink, .zoomlink, .gallerylink, .videolink,
.audiolink, .contactlink, .toolkitlink, .externallink, .readmore,
.gototop
{
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 22px;
	background-position: 0px 0px;
}
.backlink{ 		background-image: url(../img/template/icons/imo_back.gif); }
.arrowlink{		background-image: url(../img/template/icons/imo_arrow.gif); padding-left: 13px; }
.zoomlink{ 		background-image: url(../img/template/icons/imo.gif); }
.gallerylink{ 	background-image: url(../img/template/icons/imo_gallery.gif); }
.videolink{		background-image: url(../img/template/icons/imo_movie.gif);	}
.audiolink{		background-image: url(../img/template/icons/imo_audio.gif); }
.contactlink{	background-image: url(../img/template/icons/i_contacts.gif); }
.toolkitlink{	background-image: url(../img/template/icons/imo_toolkit.gif); }
.externallink{ 	background-image: url(../img/template/icons/imo_external.gif); }
.readmore {		background-image: url(../img/template/icons/imo_readmore.gif);}
.gototop{		background-image: url(../img/template/icons/imo_top.gif); }
/* BLOCKS */
/* image text link block */

.overview_page_block{
	color:#606061;
	font:11px/17px Arial,sans-serif;
	display:block;
	/*margin:5px 0px;*/
    margin:0px 0px 20px 0px;
	/*width:500px;*/
	width:100%;
	background-color:#fff;
	clear:left;
	position: relative;
	overflow: hidden;
	/*padding-bottom: 10px;*/
	padding-bottom: 15px;
	min-height: 70px;
}
 .overview_page_block p{
    font:11px/17px Arial,sans-serif;
 }
 .overview_page_block b, .overview_page_block strong{
    font:bold 11px/17px Arial,sans-serif;
	/*display: inline-block;*/
	/*padding-bottom: 4px;*/
 }
.overview_page_block:hover{
	background-color:#f0f1f2;
	cursor: pointer;
}
.overview_page_block img{
	margin:0px 8px 5px 0px;
	border:0px solid #d2d4d6;
}
.overview_page_block.autogen img{
	border:none;
}
.overview_page_block a{
	float:left;
	/*color:#3f9ac9;*/
	/*font:11px Arial,sans-serif;*/
	/*background-image: url(img/template/icons/arrow.gif);*/
	/*background-position:0px 6px;*/
	/*background-repeat: no-repeat;*/
	/*padding: 0px 0px 0px 8px;*/
	text-decoration:none;
}
.overview_page_block a.textLink, .epos a.textLink{
	font:11px Arial,sans-serif;
	background-image: url(../img/template/icons/arrow.gif);
	background-position:0px 4px;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 8px;
}
.overview_page_block a.textLink{
	position: absolute;
	bottom: 3px;
}
/* text links, preceded by an image link should be moved to the right */
.overview_page_block a ~ a {
	left: 130px;
}
.overview_page_block a img{
	background-image:none;
	background-position: left top;
	padding:0;
	width: 120px;
	height: 80px;
}
.overview_page_block hr{
	position: absolute;
	bottom: 0;
}
.overview_page_block a:hover{
	color:#263f6a;
	text-decoration:underline;
}
.epos a img {
    border: 1px solid #3F9AC9;
    display: block;
    margin: 10px 0px;
}
.block_482 { margin-top: 15px; }

#main br.divider{
    display:none;
}
.message_block_divider {
	width: 100%;
	color: #000;
	font: 16px corporateS;
	display: block;
	border-bottom: 1px solid #AFB2B4;
	padding-bottom: 10px;
}
/* GALLERY */
#titleSpan{
	display:block;
	margin-bottom:13px;
}
.gallery961{
    /*width: 460px;*/
    /*width: auto;*/
    display: inline-block;
    /*padding: 10px;*/
    background: #F0F1F2;
    margin: 12px 0 12px 0;
    max-width: 480px;
}
.imgText961,.imgtext961{
    font: bold 11px/1.5 Arial,sans-serif;
    padding: 5px 0 4px 0;
    border-bottom: 1px solid #AFB2B4;
}
.zoomlinkBox961{
    display: block;
    /*border-top: 1px solid #AFB2B4;*/
    /*font:11px Arial,sans-serif;*/
	background-image: url(../img/template/icons/zoom.gif);
	/*background-position:0px 7px;*/
	background-position:0px center;
	background-repeat: no-repeat;
	/*padding: 9px 0px 0px 19px;*/
	padding: 0px 0px 0px 19px;
	margin: 9px 0 0px 0;
    /*line-height: 1;*/
	overflow: hidden;
}
.imgcap{ font: bold 11px/1.5 Arial,sans-serif; color:#606061; }
/* carousel */
.galCropper{ width: 480px; height: auto; min-height:100px; position: relative; overflow: hidden; border: 10px solid #F0F1F2;}
.galMover{position: absolute; width: 10000px; left: 0px; height: auto;background: #f0f1f2 none repeat scroll 0 0;}
.galItem{overflow: hidden; float:left; }
.galItem > a{ outline: none;position:relative;display:block;}
.explainer_gallery > a {position:absolute;top:0px;}
.galItem a img{max-width: 480px; height: auto; border: 0; outline: none;}
/*div.galItem + div.galItem{display: none;}*/
.galNav{float: left; overflow: hidden;}
/*.carouselNav{float: right;width: 150px; padding-top: 9px; line-height: 1; font-size: 11px; color: #2C6B8C;}*/
/*.carouselLeft{display: block; float: left; width: 25%; cursor: pointer; background: url(img/template/icons/arrowPrev.gif) left center no-repeat; padding-left: 7px;}*/
/*.carouselRight{float: left;width: 25%; text-align: right; cursor: pointer; background: url(img/template/icons/arrow.gif) right center no-repeat; padding-right: 7px;}*/
/*.carouselCounter{display: block; float: left; width: 40%; text-align: center;}*/
.carouselNav{float: right;width: 160px; padding-top: 9px; line-height: 1; font-size: 11px; color: #2C6B8C; text-align: right;}
.carouselLeft{display: inline; cursor: pointer; background: url(../img/template/icons/arrowPrev.gif) left center no-repeat; padding-left: 7px;}
.carouselRight{cursor: pointer; background: url(../img/template/icons/arrow.gif) right center no-repeat; padding-right: 7px;}
.carouselCounter{display: inline-block; margin: 0 15px 0 10px;}
/* old gallery block */
.gallery a img{ margin: 16px 0 8px 0;}
/* FAQ */
.question {font:18px/1.5 Arial,sans-serif; color:#000000;}
.overview_teaser_block{
	width:155px;
	border-bottom:1px solid #d2d4d6;
	margin:0px 10px 10px 0px;
	padding-bottom: 10px;
	float:left;
}
#right .overview_teaser_block,
#farright .overview_teaser_block{
	width: 100%;
}

/*.overview_teaser_block*/
a.teaserLink{
	/*color:#3f9ac9;*/
	display:block;
	font:11px Arial,sans-serif;
	background-image: url(../img/template/icons/arrow.gif);
	background-position:0px 4px;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 8px;
	text-decoration:none;
}
/*.overview_teaser_block*/
a.teaserLink:hover{
	color:#263f6a;
	text-decoration:underline;
}
.overview_teaser_block img{
	border:1px solid #d2d4d6;
    margin-bottom: 14px;
}
.newsblock {
	font:11px/1.5 Arial,sans-serif;
	display:block;
    padding:7px 1px 7px 9px;
	border-top:1px solid #d2d4d6;
	background-color:#fff;
	background-image: url(../img/template/icons/arrow.gif);
    background-position:0px 12px;
    background-repeat: no-repeat;
}
.newsblock:hover {
	background-color: #F0F1F2;
}
/* begin
 request access to page form style */
#form_request_access #form_request_access_container{ background-color: #f0f1f2; padding: 10px; border: #d2d4d6 solid 1px; }
#form_request_access .P1{ font-size: 14px;}
#form_request_access .P2{}
#form_request_access .P3{ margin-bottom: 10px; }
#form_request_access .P4{}
#form_request_access .P5{ }
#form_request_access .P6{ text-align: center; }
#form_request_access .P7{ width: 99%; text-align: center; padding-top: 10px; }
#form_request_access input[name="rbChoice"]{ margin-left: 10px; margin-right: 10px; }
#form_request_access input[type="text"]:not([name="captcha"]){ resize: none; height: 20px; width: 97%; margin-right: 5px; margin-bottom: 10px;}
#form_request_access input[type="submit"]{
	font-family: Arial,sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 30px;
	line-height: 15px;
	background-color: #3683ab; color: #ffffff; width: 80px; cursor: pointer;
}
#form_request_access input[type="submit"]:hover{
	-moz-text-decoration-color: -moz-use-text-color;
	-moz-text-decoration-line: underline;
	-moz-text-decoration-style: solid;
	background-color: #d2d4d6;
	background-image: none;
	color: #263f6a;
	cursor: pointer;
	border: #3683ab solid 1px;
}
#form_request_access textarea{ width: 97%; height: 60px; margin-right: 5px;}
#form_request_access #wrap{ position: relative; margin-bottom: 10px;}
#form_request_access .fixed{ position: absolute; top: 0; right: 3px; }
#form_request_access .success{ font-family: Arial,sans-serif; font-size: 14px; line-height: 20px; color: #000;}
/* request access to page form style
 end */

/*New anchor*/
img.anchor_nav{
    height: 7px;
    line-height: 7px;
    margin: 0 5px;
    padding: 2px;
    vertical-align: middle;
    width: 7px;
    cursor: default;
    display: inline-block;
    -webkit-user-select: all;
    -webkit-user-modify: read-only;
    -moz-user-select: all;
    -moz-user-modify: read-only;
    user-select: all;
    user-modify: read-only;
    border: 1px dotted #3A3A3A;
    background: #d5d5d5;
}
.pre-left,
.pre-right{
    display: inline-block;
    width: 38%;
    background: #9e9e9e;;
    padding: 30px;
    margin: 30px 40px;
    color:white !important;
}
.pre-left{
    float: left;
    margin-left: 0;
    clear: left;
}
.pre-right{
    float: right;
    margin-right: 0;
    clear: right;
}
.pre-div-left,
.pre-div-right{
    height: 18px;
    width: 5px;
    border: 1px solid blue;
}
.pre-div-left{
    float: left;
    clear: left;
}
.pre-div-right{
    float: right;
    clear: right;
}
.quote{
    background-color: #9e9e9e;
    color: white;
    padding: 60px 60px 25px 60px;
    margin-bottom: 25px;
}
.quote .subline{
    font-family: DaimlerCA-Regular;
}
.quote p:last-child{
    margin-top: 6px;
}