a{
	font:16px Arial, Helvetica, sans-serif; 
	text-decoration:none;
	color:#333;
}
#main a{ color: #eebb40; }
#main a[class]{ color: #333; }
a:hover, a:active {
    color:#eebb40;
	text-decoration: underline;
}
div, span, b, p, li, form, small, .normal{
    font-size: 16px;
	line-height: 22px;
	font-family:Arial,sans-serif;
	color:#292929;
}
.smart #main td, .smart #main td *{
	font-size:  11px;
	line-height: 1;
	font-family: Arial,sans-serif;
}
td, td p{ color: #292929; }
b, strong { font-weight: bold; }

#main table{
	width: 100%;
	border-bottom: 1px solid #111 !important;
}
#main th{
	text-align: center;
    background-color: #666;
	color: #fff !important;
}
#main tr:first-child td, #main tr:first-child th{
	background: #666 !important;
	border-top: 3px solid #111 !important;
	color: #fff !important;
	padding: 1px;
	line-height: normal !important;
	font-weight: bold !important;
}
#main tr:first-child td p{
	line-height: normal !important;
}
#main tr:nth-child(even){
    background-color: #f0f0f0;
}
#main tr:nth-child(odd){
    background-color: #fff;
}
/*#alerts{width:509px; noheight:120px; stop:-350px; position:absolute; border: 1px solid red; padding:10px; left:50%; margin-left:-266px; background-color:#FFFFFF; display:none; z-index:12; text-align:left; margin-top:auto;margin-bottom:auto;}*/
#alertsBG{ position:fixed; display:none; opacity:0.8; filter:alpha(opacity=80); top:0px; left:0px; width:100%; height:100%; background-color:#000; z-index:200;}

div.L2LinkActive a.L2LinkA, div.L2LinkActive a.L2LinkA:active {
	color: #eebb40 !important;
}
a.L4Link {
	font: 12px/1.5 Arial,sans-serif;
	background-image: url(../img/template/smart/icons/arrow.gif);
}
a.L4Link:hover, a.L3Link:hover{
	color: #333;
	background-color: #f0f0f0;
}
a.L4Link:active, a.L3Link:active,
a.L3LinkActive, a.L4LinkActive {
	background: #eebb40 !important;
	color: #fff;
	text-decoration: none;
}	
a.L3LinkActive:hover, a.L4LinkActive:hover,  a.L3LinkActive:active, a.L4LinkActive:active {
	background-color: #f0f0f0;
	color: #333;
	/*border-bottom: 1px solid #AFB2B4;*/
}
a.L4LinkActive, a.L4LinkActive:hover,  a.L4LinkActive:active{
	font-size: 12px;
}
a.L3LinkActive, a.L3LinkActive:hover, a.L3LinkActive:active {
	font-size: 14px;
}
body div#main{ width: 510px; }

h1, .titleOfText, .heading{ 
	color:#111;
    font: bold 32px Arial,sans-serif;
	margin:0px 0px 17px 0;
	display:block;
}
h1 > small, .textAfterTitle{ display: block; font: 16px Arial,sans-serif; color:#000;   }
#right h1{ font-size: 16px; font-family: Arial,sans-serif;}
#right h1 small{ font-size: 12px; }

#path a {
	font: 12px/1 Arial,sans-serif;
	/*line-height: 11px;*/
}
.RSTitle,
.rsblock h3{
	font: 16px Arial,sans-serif;
	color: #111;
	border-bottom: 1px solid #666;
	padding-bottom: 5px;
}
.readmore{	background-image: url(../img/template/smart/icons/imo_readmore.gif); }

#tools #print{		background-image: url(../img/template/smart/icons/print.gif);}
#tools .feedback{	background-image: url(../img/template/smart/icons/feedback.gif);}
#tools #recommend{	background-image: url(../img/template/smart/icons/recommend.gif);}
#tools #rate{		background-image: url(../img/template/smart/icons/rate.gif);}
#tools #save{		background-image: url(../img/template/smart/icons/save.gif);}
#tools #store{		background-image: url(../img/template/smart/icons/store.gif); }
.genericRS a, #L5 a, .rsblock a {
	font: 12px Arial,sans-serif;
	border-bottom: 1px solid #666;
	background-image: url(../img/template/smart/icons/arrow.gif);
}
#L5 a{
	background-color: #f0f0f0;
	color: #333;
}
/*#L5 a:active,*/
#L5 a.L5Active{
	background: #eebb40;
	color: #fff;
}
#L5 a.L5Active:hover {
	background: #fff url(../img/template/smart/icons/arrow.gif) left 12px no-repeat;
	color: #333;
}
.genericRS a:hover, .rsblock a:hover{
	background-color: #f0f0f0;
	color: #333;
}
#L5 a:hover {
	background-color: #fff;
	color: #333;
}
.blockTitle {
	font: 16px Arial,sans-serif;
	color: #111;
	padding-bottom: 5px;
}
#personal .personalHL {
	border-bottom: 1px solid #666;
	height: 1px;
}
#personal,
#personal form,
#personal div{
	font: 12px Arial,sans-serif;
	/*border: 1px solid #666;*/
}
#personal .blockText b {
	font: bold 12px Arial,sans-serif;
}
#personal a {
	font: 12px/22px Arial,sans-serif;
	background-image: url(../img/template/smart/icons/arrow.gif);
}
#personal a:hover, #personal a:active{
	color: #eebb40;
	text-decoration: underline;
}

#personal .linkNum {
	font: 12px Arial,sans-serif;
	border-bottom: 1px solid #666;
}
#tools a {
	font: 12px/22px Arial,sans-serif;
	padding:4px 1px 4px 19px;
	background-color: #FFF;
	border-bottom: 1px solid #666;
}
#tools a:hover {
	background-color: #F0F0F0;
	color: #333;
}
#tools .feedback, #help .faq, #help .tips, #help .sitemap, #help .index, #help .glossaryA {
	font: 12px/22px Arial,sans-serif;
	padding:4px 0px 4px 19px;
	background-color: #FFF;
	border-bottom: 1px solid #666;
}
#help .feedback:hover, #help .faq:hover, #help .tips:hover, #help .sitemap:hover, #help .index:hover, #help .glossaryA:hover {
	background-color: #F0F0F0;
	color: #333;
}
#help a:active, .helpActive {
	font: 12px/22px Arial,sans-serif;
	color: #333;
	border-bottom: 1px solid #666;
	background-color: #f0f0f0;
}
#help .feedback{	background-image: url(../img/template/smart/icons/feedback.gif);}
#help .faq{			background-image: url(../img/template/smart/icons/faq.gif);  display: none; }
#help .tips{		background-image: url(../img/template/smart/icons/tips.gif); display: none; }
#help .glossaryA{	background-image: url(../img/template/smart/icons/imo_glossary.gif); display: none; }
#help .sitemap{		background-image: url(../img/template/smart/icons/sitemap.gif); }
#help .index{		background-image: url(../img/template/smart/icons/index.gif); }
#personal .btn, .button {
	background-color: #333;
	color: #FFF;
	font: 12px/28px Arial,sans-serif;
	border: 1px solid #333;
}
#personal .btn:hover, .button:hover,
#personal .btn:active, .button:active{
	color: #333;
	background-color: #eebb40;
	background-image: none;
	text-decoration: underline;
}
#ratingDiv { height: 130px; }
#ratingDiv b, #ratingDiv span { font-size: 12px; line-height:2;}
#ratingDiv a.button{
	position: absolute;
	right: 10px;
	bottom: 10px;
	left: 10px;
	width: auto;
}
/* ====================-=================== ACTIVE RSS LINKS ====================-=================== */
/*#personal a:active,*/
#help a:active, .genericRS a:active, #L5 a:active, #tools a:active {
	color: #fff;
	background: #eebb40 !important;
	text-decoration: none;
}
.hasZoom:link img, .hasZoom:visited img {
	border: 1px solid #333;
	background-position: left top;
}
.hasZoom:hover img{
	border: 1px solid #eebb40;
}
.zoomlink, .zoomlinkBox961 {
	background-image: url(../img/template/smart/icons/zoom.gif);
}
.contactlink {
	background-image: url(../img/template/smart/icons/i_contacts.gif);
}
.backlink {
	background-image: url(../img/template/smart/icons/imo_back.gif);
	font-size: 12px;	
}
.smart .oddDownload{
	background-color: #F0F0F0;
}
.accent {
	color: #eebb40;
	font-size: 12px;
}
.downloadsInnerTable a{	font-size: 12px; }
/*div.downloadRight {font-size: 11px; line-height: 18px; }*/
div.downloadRight a,
div.downloadBottom {
	font-size: 12px;
	line-height: normal;
}
.AddDownloadLink {
	font-size: 12px;
	padding: 0 16px 0 18px;
	background-position: left -4px;
	background-repeat: no-repeat;
	background-image: url(../img/template/smart/icons/imo_remove.gif);
}
.downloadSelLink{
	font-size: 12px;
	padding-left: 18px;
	padding-right: 16px;	
	background-position: left -4px;
	background-repeat: no-repeat;
	background-image: url(../img/template/smart/icons/imo_downloadselected.gif);
	/*float:right;*/
}
.galCropper{ border: 10px solid #F0F0F0; background-color: #F0F0F0;}
.galItem{ background: #F0F0F0; }
.carouselNav{ width: 190px;}

.block_482 a,
.zoomlinkBox961,
.carouselNav a,
.carouselCounter,
#lbNavDisplay table td,
#lbPrev2,
#lbNext2{
	font: 14px Arial,sans-serif;
	color: #333;
}
.block_482 a:hover, .zoomlinkBox961:hover {
	color: #eebb40;
}
.block_482 a img, .zoomlinkBox961 img {
	border: 1px solid #333;
}
.block_482 a:hover img, .zoomlinkBox961:hover img {
	border: 1px solid #eebb40;
}
.block_482 em,
.imgcap,
.imgText961,
.imgtext961,
#lbDetails #lbCaption {
	font: bold 14px/22px Arial,sans-serif;
	color: #666;
}

.imgText961,.imgtext961{
    border-bottom: 1px solid #333;
}
body.smart #lbNavDisplay{ border-top: 1px solid #333; }
.carouselLeft,
#lbDetails #lbPrev2{
	background-image: url(../img/template/smart/icons/arrowPrev.gif);
}
.carouselRight,
#lbDetails #lbNext2{
	background-image: url(../img/template/smart/icons/arrow.gif);	
}
/*=====================================================================*/
.overview-column {
	float: left;
	width: 250px;
}
.overview_page_block,
.overview_page_block b, 
.overview_page_block strong {
	color: #292929;
	font-size: 16px;
	line-height: 22px;
}
.overview_page_block a.textLink {
	font: 12px Arial,sans-serif;
	background-image: url(../img/template/smart/icons/arrow.gif);
	background-position: 0px 4px;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 8px;
	position: relative;
	float: none;
	bottom: auto;
	left: auto;
}
.overview_page_block a:hover {
	color: #eebb40;
	text-decoration: underline;

}
.overview_page_block:hover{ background: #EEBB40; }
/*.overview_page_block:nth-of-type(odd) {margin-right: 10px; clear: both;}*/

.overview_page_block a:hover img{
	border-color: #eebb40;
}
.overview_teaser_block a{
	border-color: #333;
}
.overview_teaser_block a:hover{
	border-color: #eebb40;
}

.overview_page_block{
	float: left;
	width: 202px;
	margin: 0 0px 10px 0;
	clear: none;
	background: #f0f0f0;
	padding: 0 20px 20px 20px;
}
.overview_page_block a img{ display: block; position: relative; margin:0 0 20px -20px; width:240px; height: auto; border:1px solid rgba(0, 0, 0, 0); }
.overview_page_block a:hover img{ border-color: #eebb40; }
.smart #main .overview_page_block a { color: #333; font-weight: bold; }
.smart #main .overview_page_block:hover a,
.smart #main .overview_page_block:hover b,
.smart #main .overview_page_block:hover strong,
.smart #main .overview_page_block a:hover{
	color: #fff; text-decoration: none;
}
.smart .overview_page_block hr { display: none; }

.overview_page_block + *:not(.overview_page_block) {clear: both;}

.overview_teaser_block a{ border-color: #333; }
.overview_teaser_block a:hover{	border-color: #eebb40; }

/*=====================================================================*/
/*=====================================================================*/
.message_block_divider{
	width: 100%;
	color:#000;
	font:bold 16px Arial,sans-serif;
	display:block;
	border-bottom:1px solid #666;
}
.message_block{
	background-color: #fff;
	width: 100%;
	height: 21px;
	border-bottom:1px solid #666;
}
a.teaserLink {
	display: block;
	font: 12px Arial,sans-serif;
	background-image: url(../img/template/smart/icons/arrow.gif);
}
a.teaserLink:hover {
	color: #eebb40;
}
/* block B */
.blockB-container{
	height: auto;
	overflow: hidden;
	/*width: 746px;*/
	width: 510px;
	/*margin-left: -10px;*/
}
.blockB-container .titleOfText{ margin-left: 10px; }
.blockB-col{ width: 252px; float: left;}
.blockB{
	width:  242px;
	/*min-height: 232px;*/
	margin: 0 0px 10px 0px;
	float: left;
	background: #f0f0f0;
}
.blockB:hover{
	background: #eebb40;
}
/*.blockB + .blockB{ margin: 0 0 10px 10px; }*/

.blockB img{
	width: 240px;
	/*height: 160px;*/
	display: block;
	border: 1px solid #666666;
}
.blockB:hover img{
	border: 1px solid #eebb40;
	color: #3683ab;
}
.blockB > a{
	display: block;
	outline: none;
}
.blockB div.blockB-contents{
	text-align: left;
	padding: 14px 20px;
	font: 12px/22px Arial,sans-serif;
	color: #333333;
}
.blockB div.blockB-contents a{
	/*padding: 0 0 0 8px;*/
	/*background: url(../img/template/smart/icons/arrow.gif) left center no-repeat;*/
	font-weight: bold;
	color: #333333 !important;
	text-decoration: none;
}
.blockB:hover div.blockB-contents a, .blockB:hover div.blockB-contents a b{
	color: #fff !important;
	text-decoration: none;
	background: none;
}
.blockB-container .clear{ float: left; clear: both; }
/* goTop link */
.goTop {
	font: 12px Arial,sans-serif;
	text-decoration: none;
	background-image: url(../img/template/smart/icons/top.gif);
}
.goTop:hover {
	text-decoration: underline;
}
#footer span {
	margin: 0;
	padding: 10px 0;
	font: 12px Arial,sans-serif;
}
#footer a {
	font-size: 12px;
	text-decoration: none;
}
.smart .overview_teaser_block a{
	border-color: #333;
}

.smart .overview_teaser_block a:hover{
	border-color: #eebb40;
}
