/* COLORS */
$black: #000;
$white: #FFF;
$daimler-gray: #c8c8c8;
$daimler-blue: #00677f;
$daimler-label-grey: #707070;
$smart-gray:   #eeeeee;
$smart-yellow: #f6ba35;

/* FONTS */
$daimler_cs_regular:    DaimlerCS-Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
$daimler_cs_bold:       DaimlerCS-Bold, Arial, "Helvetica Neue", Helvetica, sans-serif;
$daimler_cs_demi:       DaimlerCS-Demi, Arial, "Helvetica Neue", Helvetica, sans-serif;
$daimler_cs_light:      DaimlerCS-Light, Arial, "Helvetica Neue", Helvetica, sans-serif;

$smart_bold: "Smart Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
$smart_special: "Smart Special", Arial, "Helvetica Neue", Helvetica, sans-serif;
$smart_light: "Smart Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
$forSmartNextWebRegular: "FORsmartNextRegular", Arial, 'Roboto', "SF Compact Text",sans-serif;
$forSmartNextWebBold: "FORsmartNextBold", Arial, 'Roboto', "SF Compact Text",sans-serif;


/* SIZES */
$site-min-width:1280px;
$tabletMinContentWidthRatio:0.7552083333333334;
$tabletFixedContentColumnWidth:580px;
