@font-face{
    font-family: 'FORsmartNextRegular';
    src: url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Regular.eot');
    src: url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Regular.eot?#iefix') format('embedded-opentype'),
         url("../webfonts/smart/newSmartFonts/FORsmartNextWeb-Regular.ttf") format("truetype"),
         url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Regular.woff2') format('woff2'),
         url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Regular.woff') format('woff'),
         url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Regular.svg#FORsmartLight') format('svg');
    font-weight: normal;
}

@font-face{
    font-family: 'FORsmartNextBold';
    src: url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Bold.eot');
    src: url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url("../webfonts/smart/newSmartFonts/FORsmartNextWeb-Bold.ttf") format("truetype"),
         url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Bold.woff2') format('woff2'),
         url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Bold.woff') format('woff'),
         url('../webfonts/smart/newSmartFonts/FORsmartNextWeb-Bold.svg#FORsmartLight') format('svg');
    font-weight: normal;
}
@font-face {
    font-family: 'DaimlerCS-Regular';
    src: url('../webfonts/daimler/DaimlerCS-Regular.eot');
    src: url('../webfonts/daimler/DaimlerCS-Regular.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/daimler/DaimlerCS-Regular.woff2') format('woff2'),
         url('../webfonts/daimler/DaimlerCS-Regular.woff') format('woff'),
         url('../webfonts/daimler/DaimlerCS-Regular.ttf') format('truetype'),
         url('../webfonts/daimler/DaimlerCS-Regular.svg#DaimlerCS-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DaimlerCS-Bold';
    src: url('../webfonts/daimler/DaimlerCS-Bold.eot');
    src: url('../webfonts/daimler/DaimlerCS-Bold.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/daimler/DaimlerCS-Bold.woff2') format('woff2'),
         url('../webfonts/daimler/DaimlerCS-Bold.woff') format('woff'),
         url('../webfonts/daimler/DaimlerCS-Bold.ttf') format('truetype'),
         url('../webfonts/daimler/DaimlerCS-Bold.svg#DaimlerCS-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DaimlerCS-Demi';
    src: url('../webfonts/daimler/DaimlerCS-Demi.eot');
    src: url('../webfonts/daimler/DaimlerCS-Demi.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/daimler/DaimlerCS-Demi.woff2') format('woff2'),
         url('../webfonts/daimler/DaimlerCS-Demi.woff') format('woff'),
         url('../webfonts/daimler/DaimlerCS-Demi.ttf') format('truetype'),
         url('../webfonts/daimler/DaimlerCS-Demi.svg#DaimlerCS-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DaimlerCA-Regular';
    src: url('../webfonts/daimler/DaimlerCA-Regular.eot');
    src: url('../webfonts/daimler/DaimlerCA-Regular.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/daimler/DaimlerCA-Regular.woff2') format('woff2'),
         url('../webfonts/daimler/DaimlerCA-Regular.woff') format('woff'),
         url('../webfonts/daimler/DaimlerCA-Regular.ttf') format('truetype'),
         url('../webfonts/daimler/DaimlerCA-Regular.svg#DaimlerCA-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DaimlerCS-Light';
    src: url('../webfonts/daimler/DaimlerCS-Light.eot');
    src: url('../webfonts/daimler/DaimlerCS-Light.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/daimler/DaimlerCS-Light.woff2') format('woff2'),
         url('../webfonts/daimler/DaimlerCS-Light.woff') format('woff'),
         url('../webfonts/daimler/DaimlerCS-Light.ttf') format('truetype'),
         url('../webfonts/daimler/DaimlerCS-Light.svg#DaimlerCS-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Smart Special';
    src: url('../webfonts/smart/FORsmartSpecial.eot');
    src: url('../webfonts/smart/FORsmartSpecial.eot?#iefix') format('embedded-opentype'),
         url("../webfonts/smart/FORsmartSpecial.ttf") format("truetype"),
         url('../webfonts/smart/FORsmartSpecial.woff2') format('woff2'),
         url('../webfonts/smart/FORsmartSpecial.woff') format('woff'),
         url('../webfonts/smart/FORsmartSpecial.svg#FORsmartSpecial') format('svg');
    font-weight: normal;
}
@font-face{
    font-family: 'Smart Light';
    src: url('../webfonts/smart/FORsmartLight.eot');
    src: url('../webfonts/smart/FORsmartLight.eot?#iefix') format('embedded-opentype'),
         url("../webfonts/smart/FORsmartLight.ttf") format("truetype"),
         url('../webfonts/smart/FORsmartLight.woff2') format('woff2'),
         url('../webfonts/smart/FORsmartLight.woff') format('woff'),
         url('../webfonts/smart/FORsmartLight.svg#FORsmartLight') format('svg');
    font-weight: normal;
}
@font-face{
    font-family: 'Smart Bold';
    src: url('../webfonts/smart/FORsmartBold.eot');
    src: url('../webfonts/smart/FORsmartBold.eot?#iefix') format('embedded-opentype'),
         url("../webfonts/smart/FORsmartBold.ttf") format("truetype"),
         url('../webfonts/smart/FORsmartBold.woff2') format('woff2'),
         url('../webfonts/smart/FORsmartBold.woff') format('woff'),
         url('../webfonts/smart/FORsmartBold.svg#FORsmartBold') format('svg');
    font-weight: 700;
}

@font-face{
    font-family: 'CorporateS-Regular';
    src: url('../webfonts/CorporateS-Regular.eot');
    src: url('../webfonts/CorporateS-Regular.eot?#iefix') format('embedded-opentype'),
         url("../webfonts/CorporateS-Regular.ttf") format("truetype"),
         url('../webfonts/CorporateS-Regular.woff') format('woff'),
         url('../webfonts/CorporateS-Regular.svg#CorporateS-Regular') format('svg');
    font-weight: 700;
}
