@import '_constants.scss';

/* mixin for .level3_nav li filter icons */

@mixin navLiIcon($id, $normal, $hover, $active:null, $viewportType:null) {
    @if $viewportType == null {
        &##{$id}
        {
            &, &:before {
                background-image: url('../img/template/svg/dw_navigation/#{$normal}.svg');
            }

            &:hover {
                background-image: url('../img/template/svg/dw_navigation/#{$hover}.svg');
            }

            &.active, &.active:before, &.active:hover {
                background-image: url('../img/template/svg/dw_navigation/#{$active}.svg');
            }
        }
    }
    @else if $viewportType == tablet {
        $bgcolor: #fff;
        $textColor: #000;

        &##{$id} {
                        background-image: url(../img/template/svg/dw_navigation/#{$normal}.svg);
                        background-color: $bgcolor;
                        background-position: 0% 0% !important;
                        background-size: 25px 25px;

                        &:hover {
                            background-color: $bgcolor;
                            background-image: url(../img/template/svg/dw_navigation/#{$hover}.svg);
                            color: $textColor;
                        }
        }
    }
}

@mixin addSpaceRelativeToViewport($spaceType, $direction) {
    #{$spaceType}-#{$direction}:calc(100vw - (100vw * #{$tabletMinContentWidthRatio}));
}

@mixin addFixedContentColumnSpace($spaceType, $direction, $offset:0px) {
    #{$spaceType}-#{$direction}:calc(((100vw - #{$tabletFixedContentColumnWidth}) / 2) + #{$offset});
}