﻿////////////////////////////////////////////
//  MIXINS
////////////////////////////////////////////

@mixin flcase {
    text-transform: lowercase;

    &:first-letter {
        text-transform: uppercase;
    }
}

@mixin break-anchor{
    /* Careful, this breaks the word wherever it is without a hyphen */
    overflow-wrap: break-word;
    word-wrap: break-word;

    /* Adds a hyphen where the word breaks */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

// DAIMLER
//
// Mixin use:
// @include font-cs-reg(14) for font-size:14px; line-leight:18px; (default = font-size + 4)
// @include font-cs-reg(14, 24) for font-size:14px; line-leight:24px
// @include font-cs-reg(14, false) for font-size:14px; line-leight: inherit/initial/defined elsewhere


@mixin font-daimler($fs, $lh, $font) {
    @if 'common' == $lh {
        $lh: $fs + 4;
    }

    @if type-of($lh) == number {
        font: normal #{$fs}px/#{$lh}px $font, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    }
    @else {
        font-weight: normal !important;
        font-size: #{$fs}px !important;
        font-family: $font, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    }
}

@mixin font-smart($fs, $lh, $font) {
    @if 'common' == $lh {
        $lh: $fs + 4;
    }

    @if type-of($lh) == number {
        font: normal #{$fs}px/#{$lh}px $font, Arial, Helvetica, "Droid Sans", sans-serif !important;
    }
    @else {
        font-weight: normal !important;
        font-size: #{$fs}px !important;
        font-family: $font, Arial, Helvetica, "Droid Sans", sans-serif !important;
    }
}

@mixin font-cs-reg($fs, $lh: 'common') {
    @include font-daimler($fs, $lh, "DaimlerCS-Regular");
}

@mixin font-cs-demi($fs, $lh: 'common') {
    @include font-daimler($fs, $lh, "DaimlerCS-Demi");
}

@mixin font-cs-bold($fs, $lh: 'common') {
    @include font-daimler($fs, $lh, "DaimlerCS-Bold");
}

@mixin font-smart-light($fs, $lh: 'common') {
    @include font-smart($fs, $lh, "Smart Light");
}

@mixin font-smart-special($fs, $lh: 'common') {
    @include font-smart($fs, $lh, "Smart Special");
}

@mixin font-smart-bold($fs, $lh: 'common') {
    @include font-smart($fs, $lh, "Smart Bold");
}





////// TODO: deprecate mixins bellow

// SMART

@mixin mobile-smart-special-18-40 {
    font: normal 18px/40px 'Smart Special', Arial, Helvetica, "Droid Sans", sans-serif !important;
}

@mixin mobile-smart-special-14-40 {
    font: normal 14px/40px 'Smart Special', Arial, Helvetica, "Droid Sans", sans-serif !important;
}

@mixin mobile-smart-special-14-18 {
    font: normal 14px/18px 'Smart Special', Arial, Helvetica, "Droid Sans", sans-serif !important;
}

@mixin mobile-smart-special-18-20 {
    font: normal 18px/20px 'Smart Special', Arial, Helvetica, "Droid Sans", sans-serif !important;
}


@mixin mobile-smart-bold-30-32 {
    font: normal 30px/32px "Smart Bold", Arial, Helvetica, "Droid Sans", sans-serif !important;
}

@mixin mobile-smart-bold-18-40 {
    font: normal 18px/40px 'Smart Bold', Arial, Helvetica, "Droid Sans", sans-serif !important;
}

@mixin mobile-smart-special-14-40 {
    font: normal 14px/40px 'Smart Special', Arial, Helvetica, "Droid Sans", sans-serif !important;
}

@mixin mobile-smart-bold-14-40 {
    font: normal 14px/40px 'Smart Bold', Arial, Helvetica, "Droid Sans", sans-serif !important;
}
//
@mixin search-pagination-arrows {
    background-size: auto;
    background-position: center center;
}