@import 'constants';

#ui-datepicker-div {z-index:300 !important;}


#header_paceholder {
    width: 100%;
    background-image: url("../img/template/dbdn_bg_1920.jpg");
}

body.smart {
    #header_paceholder {
        background: $smart-gray;
    }
    #menu_overlay {
        background:#333;
    }
}

#menu_overlay {
    display:none;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:$daimler-gray;
    opacity:.8;
    z-index:5;
    border-right:0px solid #e5e5e5;
}

.filter_label {
    width:60px;
    height:60px;
    cursor:pointer;
}
ul.multi_nav {
    display: inline-block;
    vertical-align: top;
    width: 230px;
    margin-right: 10px;
    margin-bottom: 6px;
    float: left;

    .fixedws & {
        width: auto;
        margin-right: 56px;
        margin-bottom: 0;
    }

    a {
        color:#000;
        text-decoration:none;
    }

    h3 {
        padding:0 0 15px 25px;
        font-size:18px;
        cursor:pointer;
        font-weight:normal;
        font-family: $daimler_cs_bold;
        &>a:hover {color:$daimler-blue;}
    }

    li {
        border-bottom:1px solid $daimler-gray;
        &:first-of-type,
        &:last-of-type{
            border: none;
        }

        &>a {
            display: block;
            line-height: 20px;
            padding-left: 25px;
            font-size: 14px;
            padding-top: 5px;
            padding-bottom: 5px;

            &:hover {
                color:#FFF;
                background:$daimler-blue;
            }
        }
    }
}




section.basic_nav_closed.filters div
{
    /*
    background-image:url("../img/template/svg/filter.svg");
    background-size:24px 24px;
    background:#FFF url(../img/template/svg/filter.svg) no-repeat;
    background-position: 25px 30px;
    */
}




section.basic_nav_opened.best_practice
{
    height:100px;

    .basic_nav
    {
        padding-top:0px;

        .content {
            padding-top:15px;
            float:left;
        }
    }
}




ul.level3_nav.taxonomic {
    width:auto;
    height:60px;
    float:left;
    padding:0px;
    margin:0px;
    white-space:nowrap;

    &:after {
        content: "";
        float:left;
        display:block;
        width:1px;
        height:50px;
        margin-left: 10px;
        position:relative;
        top:5px;
        left:0px;
        z-index:9;
        background:$daimler-gray;
    }

    &>li {
        position:relative;
        display:inline-block;
        float:left;
        width:60px;
        height:60px;
        margin:0;
        background-position:center center !important;
        background-repeat:no-repeat !important;
/*        border:1px solid #FFF;*/
    }

    li.active {
        border-color:$daimler-gray;
        /*
        this shit is for display left from tag:
        direction:rtl;
        & > * {direction:ltr;}
        */
        &:before{
            content: '';
            width: 65.5px;
            position: absolute;
            border: 1px solid $daimler-gray;
            height: 61px;
            top: 0;
            left: -4px;
            border-bottom: 1px solid #FFF;
            z-index: 100;
            background-color: #FFF;
            background-position: center;
            background-repeat: no-repeat;
        }

        .level4_nav {
            position:absolute;
            left:-4px;
            border: 1px solid $daimler-gray;
            width: auto;
            box-sizing: border-box;
            padding:38px 40px 33px 20px;
            z-index:100;

            &:before {
                content:' ';
                width:65px;
                height:1px;
                background:#FFF;
                position:absolute;
                top:-1px;
                left:0;
            }

            li {
                float:left;
                min-width:80px;

                label:not(.calendar):hover {
                    cursor:pointer;
                    color:$daimler-blue;
                }
            }

        }

    }

    li.filter_title span.filter_close {
        display:block;
/*        float:right;*/
        cursor:pointer;
        background:transparent url("../img/template/svg/remove-1.svg") no-repeat;
        background-size:14px;
        width:14px;
        height:14px;
/*        margin:0 -40px 0 0;*/
        padding:0;
        position:absolute;
        top:38px;
        right:25px;

        &:hover {background-image: url("../img/template/svg/remove-1-hover.svg");}
    }
}

li.filter_title {
    font:normal 18px $daimler_cs_bold;
    margin-bottom:18px;
    cursor:default;
    margin-right: 20px;
    line-height: 17px;
}


ul.level4_nav>li>div.period_time {
    clear:both;
    label, input {margin:15px 0 0 0;}
    label {
        width:40px;
        padding-top:3px;
    }
    input {
        border: 1px solid $daimler-gray;
        width:80px;
        text-align:center;
        font-size:14px !important;
    }
}

.search-section #searchDiv {
    float:left;
    width:1180px;
    height:auto;

    ul.level3_nav.taxonomic {
        margin-top:10px;

        & > li {
            height: 60px;
        }

    }

    div.basic_nav {
        position: relative;
        height: 80px;
        border:none;
        float:left;
        clear:both;
        width:1140px;
        margin-left:20px;
        margin-bottom:20px;
        padding:0;

        &>div:first-child {margin-top:0 !important;}

        .menu_label {
            padding-left: 28px;
            line-height: 80px;
        }

        .filter-panel {
            position: relative;
            float: left;
            margin-left: 10px;
        }

    }
}




.basic_nav {

    font-size: 14px;


    #remove_filters {
        display:none;
        float:right;
        margin-right: 15px;
        line-height: 80px !important;

        body.smart & {
            text-transform: capitalize;
            font: normal 16px $smart_bold;
        }

        body:not(.smart) & {
            text-transform: uppercase;
        }

    }

    span.filter_remove {
        display:inline-block;
        margin:0 0 -6px 10px;
        width:25px;
        height:25px;
        background:transparent url("../img/template/svg/dw_navigation/clear-filter-gray.svg") no-repeat center center;
    }


    .menu_label {
        float:left;
        margin:0 15px 0 0;
        line-height:100px;
        text-transform:uppercase;

        #menu_close {
            margin:40px 19px 0 30px;
        }
    }


    &.basic_menu .content.cf {
        margin-left: 84px;
        margin-bottom: 30px;
    }

}

.filter-panel {
    line-height:80px;

    .filter-tags#filter-example {
        display:none;
    }
}

form#filter-panel-selected {
    float:left;
    margin-left:5px;

    label {
        text-transform:uppercase;
        cursor:pointer;
        font-size:14px;
        margin:0 10px;
        display:inline-block;
        white-space:nowrap;
    }

    input[type="checkbox"] {display:none;}

    .filter-panel-title {display:none;}

    &.dropdown
    {
        position:absolute;
        width: 188px;
        height:60px;
        background: white;
        line-height: 20px;
        margin-top: 12px;
        padding: 17px 5px;
        box-sizing: border-box;
        border: 1px solid #FFF;
        overflow: hidden;

        &.active {
            width: 280px;
            height:auto;
            border-color:$daimler-gray;

            .filter-panel-title {
                width:245px;

                &:after {background-image:url("../img/template/svg/arrow_up_icon.svg");}
            }
        }

        label {width:250px;line-height:27px;}

        span.filter_remove {float:right;}

        span.filter_value {
            max-width: 200px;
            vertical-align: middle;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            height: 26px;
            line-height: 25px;
        }

        span.filter-tags:not(#filter-example) {display:block;}
        span.filter-tags:hover {background:$daimler-blue;}
        span.filter-tags:hover label {color:#FFFFFF;}


        .filter-panel-title {
            display:inline-block;
            margin:0 0 50px 8px;
            cursor:pointer;

            &:after {
                content:" ";
                float:right;
                margin-left: 10px;
                width:10px;
                height:15px;
                background:transparent url("../img/template/svg/arrow_down_icon.svg") no-repeat bottom center;
                background-size: 10px 10px;

                body.smart & {
                    margin-top: -3px;
                }
            }

            body.smart & {
                //text-transform: capitalize;
                font: normal 16px 'Smart Bold';
            }

            body:not(.smart) & {
                font-size:14px;
                text-transform: uppercase;
            }



        }
    }
}


#filterPopup
{
    position: absolute;
    bottom:50px;
    left:-51px;
    width: 160px;
    height: auto;
    box-sizing:border-box;
    font-size:.85em;
    line-height:1.3em;
    text-transform: uppercase;
    text-align: center;
    padding:5px 10px;
    color:#000;
    visibility: hidden;
    background-color: #fff;
    border: 1px solid $daimler-gray;
    z-index:999;

    .popup-ticker
    {
        background:transparent url("../img/template/popup-ticker-2.svg") 0 100% no-repeat;
        position: absolute;
        width: 20px;
        height: 20px;
        display: block;
        bottom: -10px;
        left: 45%;
    }
}





/*

.filter-panel{
    width: 260px;
    background-color: black;
    margin: 0 auto;
    padding-bottom: 22px;
}

.filter-panel label{
    font-size:14px;
}

.filter-panel .clear-filter{
    margin-top: 9px;
    margin-left: 14px;
    padding-bottom: 4px;
    padding-top: 4px;
    color: white;
    font-size: 14px;
    background-image:url('../img/template/svg/dw_navigation/clear-filter-normal.svg');
    background-repeat: no-repeat;
    padding-left:32px;
    background-size: 26px auto;
    background-position: left center;
    display: block;
    cursor:pointer;
}
.filter-panel-title{
    color: white;
    margin-left: 20px;
    padding-top: 18px;
    padding-bottom: 20px;
    font-size: 14px;
}

.filter-panel .filter-tags{
    margin-left: 20px;
    color: white;
    display:block;
}

.filter-panel .filter-tags .filter_value{
    color:#2f7d91;
}

*/


/*
 *  HOME SLIDER
 */

/*.hBlockContainer {

    background:#E6E6E6;
    font-family:$daimler_cs_regular;
    line-height:30px;


    & a {
        float:left;
        width:1180px;
        color:#000000;


        &>div {
            float:left;
            overflow:hidden;

            &:first-child {
                width:400px;
                padding:40px;
                box-sizing:border-box;
                color:#000;

                & .el1 {display:inline-block;line-height:20px;padding:6px 30px 4px 30px;margin-bottom:40px;color:#FFF;background:#00677f;font-size:14px;text-transform:uppercase;}
                & .el2 {font-size:24px;font-family: $daimler_cs_demi;line-height:30px;margin-bottom:30px;}
                & .el3 {
                    color:#707070;
                    font-size:18px;
                    line-height: 26px;
                    font-family: $daimler_cs_light;

                    &::after {
                        content: "";
                        background: url(../img/template/svg/arrow-right.svg) center/12px no-repeat;
                        width: 12px;
                        height: 12px;
                        margin-left: 5px;
                        display: inline-block;
                    }
                }
            }

            &:last-child {
                width:780px;
                position: relative;
            }
        }

    }

}*/

#sliderPopup {
    position: absolute;
    width: 240px;
    height: auto;
    box-sizing:border-box;
    font-size:14px;
    line-height:20px;
    padding:20px 32px 20px 32px;
    visibility: hidden;
    background-color: #fff;
    border: 1px solid $daimler-gray;
    overflow: hidden;

    & .popup-ticker
    {
        background-image: url("../img/template/popup-ticker-2.svg");
        background-repeat: no-repeat;
        background-position: 0 100%;
        position: absolute;
        width: 20px;
        height: 20px;
        display: block;
        bottom: -10px;
        left: 45%;
    }
}

