/* IMPORTANT: please order elements by z-index! */

a.goUp
    { z-index: 999; }


#basic_preloader
    { z-index: 222; }


body .ui-widget-content
    { z-index:210; }


#alerts,
#cookie_notification,
#provider_privacy,
#notification_alert
    { z-index: 202; }


#ratingDiv,
body .joyride-tip-guide
    { z-index: 201; }

header,
footer.sticky,
footer.no-sticky,
#alertsBG,
#notification_overlay,
div#topLinks div.popup.profile-formular,
div#tools div.tools_wrap div.user_tools div#profile div.popup,
body .joyride-modal-bg
    { z-index: 200; }

#sliderPopup,
div.flyout_menu,
div.flyout_search,
.scrollbar-rail > .scroll-element,
.scrollbar-rail > .scroll-element div,
a.gallery_layover.debug_images_x2:before,
a.image_layover.debug_images_x2:before,
a.explainer_layover.debug_images_x2:before,
div.grid-3cols div.page div.image.debug_images_x2:before,
div.overview div.page div.image.debug_images_x2:before,
#carousel_img_wrapper.debug_images_x2:before,
.image_item a.debug_images_x2:before,
div.carousel_area ul.carousel_menu li a.debug_images_x2:before,
div.downloads div.page div.image.debug_images_x2:before,
.debug_images_x2::before,
a.gallery_layover.debug_images_x3:before,
a.image_layover.debug_images_x3:before,
a.explainer_layover.debug_images_x3:before,
div.grid-3cols div.page div.image.debug_images_x3:before,
.image_item a.debug_images_x3:before,
div.overview div.page div.image.debug_images_x3:before,
#carousel_img_wrapper.debug_images_x3:before,
div.carousel_area ul.carousel_menu li a.debug_images_x3:before,
div.downloads div.page div.image.debug_images_x3:before,
body .debug_images_x3::before
    { z-index: 10; }


.back-button,
.no-touch #cd-vertical-nav,
.search-section #searchDiv div.basic_nav
    { z-index: 6; }


section.basic_nav_opened
    { z-index: 5; }


.middle_page_text a.tooltip > span
    { z-index: 3; }

section.basic_nav_closed
    { z-index: 2; }

.banner_text_wrapper,
div.overview div.page div.image:before,
#carousel_img_wrapper:before,
.hBlockContainer .banner_image_wrapper:before,
.slider-image:before,
.galItem a:before,
.image_item a:before,
.protected,
div#tools div.tools_wrap div.user_tools div#profile.active,
div.grid-3cols div.page div.image:before,
.linkDown
    { z-index: 1; }
